{% extends "base.html" %}
{% block title %}

{% endblock title %}
<!-- heading  -->
{% block heading %}

{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
       <input type="file" name="photo" id="photo">
             <select name="title" id="">
                 <option value="Mr">Mr</option>
                 <option value="Ms">Ms</option>
                 <option value="Mrs">Mrs</option>
             </select>
                 <input type="text" 
                 name="first_name" maxlength="100"
                  class="textinput textInput form-control is-invalid" required="" 
                  id="id_first_name" style="text-transform: capitalize;">
                <input type="text" name="last_name" maxlength="100" class="textinput textInput form-control is-invalid" required="" id="id_last_name" style="text-transform: capitalize;">
            Gender:
            <select name="gender" id="id_gender">
                <option value="M">Male</option>

                <option value="F">Female</option>

                </select>
                <input type="text" id="date" onblur="change()" class="form-control datetimepicker">
                <input type="hidden" id="date_value" name="date_of_birth">
                <input type="hidden" name="password" id="pwd">
                <input type="text" name="uplineID" maxlength="10" class="textinput textInput form-control" id="id_uplineID" style="text-transform: uppercase;">
                <input type="number" name="contact_no" class="numberinput form-control is-invalid" required="" id="id_contact_no">
                <input type="number" name="alternate_no" class="numberinput form-control is-invalid" required="" id="id_alternate_no">
                <input type="email" name="email" class="emailinput form-control is-invalid" required="" id="id_email">
                <input type="text" name="address" maxlength="100" class="textinput textInput form-control is-invalid" required="" id="id_address" style="text-transform: capitalize;">
                <input type="number" name="pincode" class="numberinput form-control is-invalid" required="" id="id_pincode">
                <input type="text" name="bank_name" maxlength="50" class="textinput textInput form-control is-invalid" required="" id="id_bank_name" style="text-transform: capitalize;">
                <input type="text" name="branch_name" maxlength="50" class="textinput textInput form-control is-invalid" required="" id="id_branch_name" style="text-transform: capitalize;">
                <input type="text" name="account_no" maxlength="50" class="textinput textInput form-control is-invalid" required="" id="id_account_no">
                <input type="text" name="pan_no" maxlength="10" class="textinput textInput form-control is-invalid" required="" id="id_pan_no" style="text-transform: uppercase;">
                <input type="text" name="ifsc_code" maxlength="50" class="textinput textInput form-control is-invalid" required="" id="id_ifsc_code" style="text-transform: uppercase;">

{% endblock %}


