{% extends "base.html" %}
{% block title %}
Dashboard
{% endblock title %}
<!-- heading  -->
{% block heading %}
Dashboard
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


{% load static %}
{% block content %}
<div class="row">
        <div class="col-12">
                <div class="card">
                    <div class="card-body">
                            <h3>Hold Bookings</h3>
                            <table class="myTable flex-table table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Project</th>
                                  <th scope="col">Property Code</th>
                                  <th scope="col">Customer</th>
                                  <th scope="col">Property Hold Time</th>
                                  <th scope="col">Hold Cancellation Time</th>
                                  <th scope="col">Booking Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for booking in temp_bookings  %}
                                {% load humanize %}
                                <tr>
                                  <td data-label="#">{{forloop.counter}} </td>
                                  <td data-label="Project"> {{booking.property_ref.section_ref.project_ref.name}}</td>
                                  <td data-label="Property Code">
                                  {{booking.property_ref.section_ref.section_prefix}}-{{booking.property_ref.serial_no}}</td>
                                  <td data-label="Customer Name">{{booking.customer_ref.name}}</td>
                                
                                  <td data-label="Property Hold Time">{{booking.booking_date}}</td>
                                  <td data-label="Hold Cancellation Time">{{booking.booking_revoke_date}}</td>
                                  <td data-label="Booking Status">
                                    {% if booking.status %}
                                    <span class="text-success">
                                      <i class="fas fa-check-circle"></i>
                                      On hold
                                    </span>
                                    {% else %}
                                    <span class="text-danger">
                                      <i class="fas fa-times-circle"></i>
                                      Cancelled
                                    </span>
                                    {% endif %}
                                  </td>
                                </tr>
                                {% endfor %}
            
                              </tbody>
                            </table>
                            
                    </div>
                </div>
    <div class="col-lg-12 col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Carrer Form Data</h2>
                    <br>
                    <table class=" myTable flex-table table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in career %}
                            <tr>
                                <td>{{entry.name}}</td>
                                <td>{{entry.email}} </td>
                                <td>{{entry.phone}}</td>
                                <td> {{entry.message}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('.myTable').DataTable(
                                {

                                }
                            );
                        });
                    </script>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-6 col-12">
        <div class="card">


            <div class="card-body">
                <h3 class="card-title">Contact Form Data</h2>
                    <br>
                    <table class=" myTable flex-table table">

                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in contactForm %}
                            <tr>
                                <td>{{entry.name}}</td>
                                <td>{{entry.email}} </td>
                                <td>{{entry.phone}}</td>
                                <td> {{entry.message}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}