{% extends "base.html" %}
{% block title %}

{% if title %}
{{title}}
{% else %}
Buisness Summary
{% endif %}


{% endblock title %}
<!-- heading  -->
{% block heading %}
{% if title %}
{{title}}
{% else %}
Buisness Summary
{% endif %}

{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
<!-- Main Conent -->
{% block content %}
<script>
    var sales = [];
</script>
{% for entry in monthly_report %}
<script>
    sales.push(
        {
            createdAt: new Date('{{entry.createdAt|date:"Y-m-d"}}'),
            amount: parseFloat('{{entry.amount}}')
        }
    )
</script>
{% endfor %}

<script>
    var month_label = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var now = new Date()
    currentYear = now.getFullYear();
    var e1 = sales[0].createdAt;
    var report = [];
    var amount = 0;
    var workMonth = e1.getMonth()
    var workYear = e1.getFullYear()
    var barData = []
    var barData2 = []
    var barLabel = []
    var n = 0;
    function conditions() {
        workMonth--;
        if (workMonth < 0) {
            workMonth = 11;
            workYear--;
        }
    }
    for (let i = 0; i < 12; i++) {


        sales.forEach(element => {
            if ((element.createdAt.getFullYear() == workYear) && (element.createdAt.getMonth() == workMonth)) {
                amount += element.amount
                n++;
            }
        });
        console.log(amount + "--" + month_label[workMonth] + workMonth)
        report.push(
            {
                amount: amount / 100000,
                month: month_label[workMonth],
                year: workYear,
                number: n
            }
        )
        barLabel.push(month_label[workMonth]);
        barData.push(amount / 1000000)
        barData2.push(n)
        amount = 0;
        n = 0;
        conditions();
    }
    console.log(report) 
</script>




<!-- ############################### -->


{% for value in team_monthly_report %}
<script>
    team_data.push({
        month: parseInt('{{value.sale_month}}') - 1,
        value: parseInt('{{value.amount}}') / 100000
    });
</script>
{% endfor %}
<script>
    var c = 0;
    var s = 0;

    while (c < 12) {

        team_data.forEach(data => {
            if (data.month == c) {
                s += data.value;
            }
        });
        console.log(team_monthly_report);
        team_monthly_report.push(s);
        s = 0;
        c++;
    }
</script>

<div class="row">
    <div class="col-md-4 col-12">
        <div class="card text-white" style="
            
            background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                    ">SALES THIS MONTH </h5>
                <br>
                <p class="card-text float-right mt-5" style="font-size: 28pt">

                    &#x20b9;
                    <script>
                        var thisMonth = 0;
                        sales.forEach(element => {
                            if ((element.createdAt.getFullYear() == now.getFullYear()) && (element.createdAt.getMonth() == now.getMonth())) {
                                thisMonth += element.amount / 100000
                                n++;
                            }
                        });

                        document.write(thisMonth.toFixed(2))</script> Lakhs
                </p>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card text-white" style="
                
                background-image: linear-gradient(to top, #27b88f 0%, #017ec7 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                        ">LIFETIME SALES</h5>
                <br>
                <p class="card-text float-right mt-5" style="font-size: 28pt">
                    {% load mathfilters %}
                    &#x20b9; {{lifetime_sales.amount__sum|div:100000|floatformat:2}} Lakhs

                </p>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card text-white"
            style="
                    
                    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                            ">PAYOUT LEVEL</h5>
                <br>
                <p class="card-text float-right mt-5" style="font-size: 28pt">


                    {% if payout_self_monthly %}
                    {% for pay in payout_self_monthly %}
                    {% if pay.payout_rule.payout > 0 %}
                    {{pay.payout_rule.payout}}
                    {% else %}
                    {% for pay in payout_self %}
                    {{pay.payout_rule.payout}}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for pay in payout_self %}
                    {{pay.payout_rule.payout}}
                    {% endfor %}
                    {% endif %}

                    %
                </p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title"> Monthly sales Report(in Lakhs)

                    <div class="d-flex justify-content-start  align-items-center">
                        <div class="p-1">
                            <div class="bg-yellow mr-2"
                                style="height: 20px;width: 20px; border-radius: 10px;   background-color: #00bcd4;">
                            </div>
                        </div>
                        <div class="p-1"><small>Self</small></div>
                        <div class="p-1">
                            <div class="bg-yellow mr-2"
                                style="height: 20px;width: 20px; border-radius: 10px;   background-color: #f44336;">
                            </div>
                        </div>
                        <div class="p-1"><small>Team</small></div>
                    </div>
                </h4>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <canvas id="bar-chart" width="800" height="450"></canvas></div>
            </div>
        </div>


        <script>
            /*   $(document).ready(function () {
                  $('#myTable').DataTable(
                      {
                          "order": [[0, "desc"]]
                      }
                  );
              }); */


            new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                    labels: barLabel.reverse(),
                    datasets: [
                        {
                            label: "Value of bookings",
                            backgroundColor: "#3e95cd", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                            data: barData.reverse()
                        },

                    ]
                },
                options: {
                    legend: { display: true },
                    title: {
                        display: true,
                        text: 'Net Monthly Bookings (value)  (In Lakhs)'
                    },
                    scales: {
                        xAxes: [{ stacked: false }],
                        yAxes: [{ stacked: false }]
                    }
                }
            });
        </script>
    </div>
</div>

{% endblock %}