{% extends "base.html" %}
{% block title %}
Team Buisness
{% endblock title %}
<!-- heading  -->
{% block heading %}
Team Buisness
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<script>
    var team = [];
    var payout_monthly = [];
    var payout_lifetime = [];
    var month = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var lifetime_sales = 0;
    var d = new Date();
    var myPayoutLevel = parseInt('{{payout_self}} ')
</script>
{% for item in team_monthly_report %}
<script>
    team.push(
        {
            id: parseInt('{{item.associate_ref_id}}'),
            month: parseInt('{{item.sale_month}}'),
            amount: parseInt('{{item.amount}}')
        }
    );

</script>

{% endfor %}
{% for item in payout_monthly %}
<script>
    payout_monthly.push(
        {
            id: parseInt('{{item.associate_ref_id}}'),
            payout: parseInt('{{item.payout_rule.payout}}'),
            payoutId: parseInt('{{item.payout_rule.id}}'),
            lastUpdated: '{{item.createdAt}}'
        }
    );

</script>

{% endfor %}
{% for item in payout_lifetime %}
<script>
    payout_lifetime.push(
        {
            id: parseInt('{{item.associate_ref_id}}'),
            payout: parseInt('{{item.payout_rule.payout}}'),
            payoutId: parseInt('{{item.payout_rule.id}}')
        }
    );
</script>
{% endfor %}
<!-- 
<div class="row ">
    <div class="col-lg-12">
        <table id="myTable" class="flex-table table">
            <thead class="thead-dark">
                <tr>
                    <th>AID</th>
                    <th>Name</th>
                    <th>Lifetime Sales</th>
                    <th>Sales This Month</th>
                    <th>Payout level</th>
                    <th>My Share (%)</th>
                    <th>Actions</th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for downline in downlines %}
                <tr>
                    <td data-label="AID">{{downline.id}}</td>
                    <td data-label="Name">{{downline.name}} </td>
                    <td data-label="Lifetime Sales">
                        &#x20b9;
                        <script>
                            team.forEach(item => {
                                if (item.id == parseInt('{{downline.id}}')) {
                                    lifetime_sales += item.amount;

                                }
                            });
                            document.write((lifetime_sales / 100000).toFixed(2));
                        </script> Lakhs
                    </td>
                    <td data-label="Sales This Month">
                        &#x20b9;
                        <script>
                            current_month = d.getMonth()+1;
                            var current_sales = 0;
                            team.forEach(item => {
                                if ((item.id == parseInt('{{downline.id}}')) && (item.month == current_month)) {
                                    current_sales = item.amount;

                                }
                            });
                            document.write((current_sales / 100000).toFixed(2));
                        </script> Lakhs
                    </td>
                    <td data-label="Payout Level">
                        <script>
                            var payout = 0;
                            var pid=0;
                            payout_lifetime.forEach(item => {
                                if ((item.id == parseInt('{{downline.id}}'))) {
                                    if (item.payout > payout) {
                                        payout = item.payout;
                                        pid= item.payoutId;
                                    }
                                    console.log(payout)
                                }
                            });
                            if (lifetime_sales > 45) {
                                payout_monthly.forEach(item => {
                                    if ((item.id == parseInt('{{downline.id}}'))) {
                                        //check for current month entry
                                        if (item.payout > payout) {
                                            payout = item.payout;
                                            
                                        }
                                        console.log(payout)
                                    }
                                });
                                document.write(payout);
                            } else {
                                document.write(payout);
                            }
                            var myPayout=0;
                        </script>%</td>
                    <td data-label="My Share %">
                            {% if payout_self_monthly %}

                            {% for pay in payout_self_monthly %}
                            <script> myPayout=parseInt('{{pay.payout_rule.payout}}') </script>                            
                            {% endfor %}
                            {% else %}
                            {% for pay in payout_self %}
                            <script> myPayout=parseInt('{{pay.payout_rule.payout}}') </script>  
                            {% endfor %}
        
                            {% endif %}
                        <script>
                            if ( pid >= parseInt('{{payout_self.payout_rule__max}}')) {
                                document.write(0)
                            }
                            else if (parseInt('{{lifetime_sales.amount__sum}}') > 0) {
                                document.write(2)
                            }
                            else {
                                document.write(1)
                            }

                        </script>
                        % </td>
                    <td data-label="Actions">
                        <a class="btn btn-sm  btn-info" href="{% url 'associate:downline_view' id=downline.id %} ">
                            <i class="far fa-eye"></i> View
                        </a>
                    </td>

                </tr>
                {% endfor %}

                <tr>
                    <td></td>
                </tr>
                  <td data-label="actions">
                    <a class="btn btn-sm  btn-info" href=" ">
                        <i class="far fa-eye"></i> View
                    </a>
                </td>




            </tbody>
        </table>
    </div>

</div> -->
<div class="row">
    <div class="col-12 text-center" style="height: 800px;">
            {% load static %}
            <img src="{% static 'images/comingsoon.png' %} " alt="rewards" >

    </div>
</div>
{% endblock %}


{% load static %}