{% extends "wireframe.html" %}
{% block body%}




{% load static %}
<!--   <div class="wrapper ">
        <div class="sidebar" data-color="green" data-background-color="black"
            data-image="{% static "images/bg-home-4.jpg" %}"> -->
<!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
<!--         <div class="logo">
                <a href="/admin" class="simple-text logo-mini" style="height: 50px;
          width: 50px;
          margin-left: 20px;
          margin-right: 20px;
         ;
          ">
                    <img src="{% static "images/cypress-logo.png" %}" style="height: 50px;" alt="logo" />
                </a>
                <a href="#" class="simple-text logo-normal">
                    Brand Name
                </a>
            </div>
 -->
{% url 'user:login' as login %}
{% if user.is_authenticated %}
{% else %}
<script>
window.location.replace('{{login}}');
</script>
{% endif %}
{% if user.user_type == 7 %}
<!-- <script>
window.location.replace("{% url 'associate:home' %}");
</script> -->
{% endif %}


<body class="">

    <div class="wrapper">
        <div class="sidebar" data-color="green" data-background-color="black"
            data-image="{% static "images/bg-home-4.jpg" %}">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
      
              Tip 2: you can also add an image using data-image tag
          -->
            <div class="logo">
                <a href="{% url 'owner:home' %}" class="simple-text logo-mini" style="height: 50px;
                    width: 50px;
                    margin-left: 20px;
                    margin-right: 20px;
                    ;
                    ">
                    <img src="{% static "images/logo.png" %}" style="height: 50px;" alt="logo" />
                    
                </a>
                <a href="{% url 'owner:home' %}" class="simple-text logo-normal">
                    Cypress 
                </a>
               
            </div>
            <div class="sidebar-wrapper">


                {% block desk-sidebar%}
                {% endblock %}

            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <!--  <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                            </button>
                        </div> -->
                        <a class="navbar-brand" href="#pablo">
                            <h3>

                                {% block heading %}

                                {% endblock %}
                            </h3>
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <!-- <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form> -->
                        <ul class="navbar-nav">
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li> -->
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li> -->
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

            <div class="content">
                <div class="container-fluid">

                    <div class="row mb-0">
                        <div class="col-md-12">


                        </div>
                    </div>
                    <!--######################################################### 
    code for notifications -->
    <iframe id="myFrame" src="/default.asp" style="display:none;"></iframe>
    <script>
            var array=[]
            </script>
    {% if messages %}
    {% for message in messages %}
         <script>
         array.push({tags:"{{message.tags}}", msg:"{{message}}"});
         </script>
    {% endfor %}
    {% endif %}
    <script>
   // window.onload=myFunction();
   
   document.getElementById("myFrame").addEventListener("load", myFunction);
        function myFunction() {
      //document.getElementById("demo").innerHTML = "Iframe is loaded.";
     
      array.forEach(element => {
        if (element.tags=='error') {
            element.tags='danger';
        }
        showNotification(element.msg,element.tags);
        console.log(element) 
      });
      
    }
        
    function showNotification(msg, type){
    
    $.notify({
        icon: "add_alert",
        message: msg
    
    },{
        type: type,
        timer: 4000,
        placement: {
            from: 'top',
            align: 'center',
        }
    });
    }</script>
    <!-- code for notifications 
    ############################################################################################
    -->

                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">

                    <div class="copyright float-right">
                        Made with <i class="material-icons">favorite</i> by
                        <a href="https://codinfy.com" target="_blank">Codinfy</a>.

                    </div>
                    <div class="copyright float-left">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Cypress Builders and Developers Pvt Ltd.

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--     <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Sidebar Filters</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color">
                        <div class="badge-colors ml-auto mr-auto">
                            <span class="badge filter badge-purple" data-color="purple"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-warning" data-color="orange"></span>
                            <span class="badge filter badge-danger" data-color="danger"></span>
                            <span class="badge filter badge-rose active" data-color="rose"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Sidebar Background</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="ml-auto mr-auto">
                            <span class="badge filter badge-black active" data-background-color="black"></span>
                            <span class="badge filter badge-white" data-background-color="white"></span>
                            <span class="badge filter badge-red" data-background-color="red"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Sidebar Mini</p>
                        <label class="ml-auto">
                            <div class="togglebutton switch-sidebar-mini">
                                <label>
                                    <input type="checkbox">
                                    <span class="toggle"></span>
                                </label>
                            </div>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Sidebar Images</p>
                        <label class="switch-mini ml-auto">
                            <div class="togglebutton switch-sidebar-image">
                                <label>
                                    <input type="checkbox" checked="">
                                    <span class="toggle"></span>
                                </label>
                            </div>
                        </label>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Images</li>
                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-3.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="../assets/img/sidebar-4.jpg" alt="">
                    </a>
                </li>
                <li class="button-container">
                    <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank"
                        class="btn btn-rose btn-block btn-fill">Buy Now</a>
                    <a href="https://demos.creative-tim.com/material-dashboard-pro/docs/2.1/getting-started/introduction.html"
                        target="_blank" class="btn btn-default btn-block">
                        Documentation
                    </a>
                    <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank"
                        class="btn btn-info btn-block">
                        Get Free Demo!
                    </a>
                </li>
                <li class="button-container github-star">
                    <a class="github-button" href="https://github.com/creativetimofficial/ct-material-dashboard-pro"
                        data-icon="octicon-star" data-size="large" data-show-count="true"
                        aria-label="Star ntkme/github-buttons on GitHub">Star</a>
                </li>
                <li class="header-title">Thank you for 95 shares!</li>
                <li class="button-container text-center">
                    <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot;
                        45</button>
                    <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot;
                        50</button>
                    <br>
                    <br>
                </li>
            </ul>
        </div>
    </div> -->


</body>

<script>
    $( document ).ready(function() {
    console.log( "ready!" );
    getCompany();
});
  function getCompany() {
         
         
         URL = ""
         if (window.location.hostname == "localhost") {
             URL = window.location.protocol + '//' + window.location.hostname + ":" + window.location.port
             console.log(window.location.protocol);
         }
         else {

             URL = window.location.protocol + '//' + window.location.hostname
         }
         http = null;
         URL = URL + "/api/config/get/";
         console.log(URL);

         if (window.XMLHttpRequest) {
             // code for modern browsers
             http = new XMLHttpRequest();
         } else {
             // code for old IE browsers
             http = new ActiveXObject("Microsoft.XMLHTTP");
         }

         http.responseType = 'json';
         http.open("GET", URL, true);
         
         http.send();
         
         http.onreadystatechange = (e) => 
         {
             if (http.readyState == 4 && http.status == 200) 
             {
             buffer= http.response;
             data=JSON.parse(JSON.stringify(buffer));
             console.log("a");
             console.log(data[0]);

             if (data[0]==null) {
                 console.log("nulla")
               //  window.location.replace('{{login}} ');
             }
             else
             {
                 //window.location.replace('/customers/home/'+data[0].id);
                 /* submit=document.getElementById('btn');
                 customerID=data[0].id;
                 submit.disabled=false;
                 submit.innerHTML='<i class="fa fa-bolt fa-lg"></i><span class="ml-2">Submit</span>';                   
                  */
                  console.log("else")
                  if (data[0].is_active == false) {
                    location.replace("{% url 'webapp:maintanance' %}");
                  }
                console.log(data[0]);
                 
                 
             }
             }
             
         /*     buffer= http.response;
             data=JSON.parse(JSON.stringify(buffer));
             //http.responseType = 'json';
             var body = http.response;
             //console.log(http.responseText);
             console.log(data[0].name); */
         }
     }

 </script>


</script>














<!-- ##############################################################################################################################

 ##############################################################################################################################
-->

{% load static %}



<!-- Modal -->
{% block modal %}

{% endblock %}

</body>
{%endblock body%}