<!DOCTYPE html>
<html lang="en" class="">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="We are a real estate company">
    <meta name="author" content="Codinfy">
    <meta name="keywords" content="cypress, developers, builders, buy plot in lucknow, lucknow, property in lucknow, property, flat,">

    <!-- Title Page-->
    
    {% load static %}
    <title> 
        {% for company in details %}
         
         {% block title %}  
         {% endblock title %}{{company.name}}  
         {% url 'webapp:maintanance' as main %}
         
           
    </title>
    <!-- Fontfaces CSS-->   
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  	<link rel="icon" type="image/png" href="{% get_media_prefix %}{{company.logo}}"/>

    <!-- Bootstrap CSS-->
    <link href="{% static "css/material.css" %}" rel="stylesheet" media="all">
    <link href="{% static "css/flex-table.css" %}" rel="stylesheet" media="all">
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" > -->

    <!-- Vendor CSS-->
    <link href="{% static "vendor/animsition/animsition.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/wow/animate.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/select2/select2.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}" rel="stylesheet" media="all">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>    

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		
   
            
    <!-- Main CSS-->
    <link href="{% static "css/main.css" %}" rel="stylesheet" media="all">

</head>
<body>
    {% if company.is_active == False %}
    <script>
      window.onload=test();

      function test() {
       window.location.replace('{{main}}');
        
      }
    </script>
  {% endif %}
      <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
            <div class="container">
                
              <div class="navbar-translate">
                  <img src="{% get_media_prefix %}{{company.logo}}"
                style="height: 50px;"
                alt="">
                <a class="navbar-brand" href="#">
                  
                  
                     
                    <span style="font-size: 16pt;
                    font-weight: 500;">
                    {{company.name|upper}}
                  </span> 
                  <!-- <img src="{% get_media_prefix %}{{company.logo}}"
                    style="height: 50px;;"
                    alt=""> 
                    <span >
                    {{company.name|upper}}
                  </span>      -->   

                  </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                   <li class="nav-item">
                     <!-- <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()"> -->
                     <a class="nav-link" href="{% url 'webapp:home' %}">
                             <i class="material-icons">home</i> Home
                     </a>
                   </li>
                  <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <i class="material-icons">apps</i> About US
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                      <a href="{% url 'webapp:about' %}" class="dropdown-item">
                        <i class="material-icons">layers</i> Legals
                      </a>
                      <a href="{% url 'webapp:about' %}" class="dropdown-item">
                        <i class="material-icons">layers</i> Bank Details
                      </a>
                      <a href="{% url 'webapp:about' %}" class="dropdown-item">
                        <i class="material-icons">layers</i> Mentions in Media
                      </a>
                      <a href="{% url 'webapp:about' %}" class="dropdown-item">
                        <i class="material-icons">layers</i> Visions and Mission
                      </a>
                      <a href="{% url 'webapp:about' %}" class="dropdown-item">
                        <i class="material-icons">layers</i> Gallery
                      </a>
                      
                    </div>
                  </li>
                  <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <i class="material-icons">account_balance</i> Projects
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                      <a href="{% url 'project:home' %}" class="dropdown-item">
                        <i class="material-icons">layers</i> Residential
                      </a>
                      <a href="{% url 'project:home' %}" class="dropdown-item">
                        <i class="material-icons">layers</i> Commercial
                      </a>
                      
                    </div>
                  </li>
                  <li class="nav-item">
                        <!-- <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()"> -->
                        <a class="nav-link" href="{% url 'webapp:careers' %}">
                                <i class="material-icons">card_travel</i> Career
                        </a>
                  </li>
                  
                  <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                          <i class="material-icons">group</i> Customer Zone
                        </a>
                        <div class="dropdown-menu dropdown-with-icons">
                            {%  url 'project:availability' id=1  as the_url %}
                            
                          <a href="{{ the_url }}" class="dropdown-item">
                            <i class="material-icons">layers</i> Plot Availiblity
                          </a>
                          
                          <a href="{% url 'customers:login' %}" class="dropdown-item">
                            <i class="material-icons">layers</i> Customer Portal
                          </a>
                          
                        </div>
                      </li>
                      <li class="nav-item">
                          <!-- <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()"> -->
                          <a class="nav-link" href="{% url 'webapp:contact' %}">
                                  <i class="material-icons">phone</i> Contact US
                          </a>
                        </li>
                  <li class="nav-item">
                        <!-- <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()"> -->
                        <a class="nav-link " href="{% url 'user:login' %}">
                           <!--  <a class="nav-link " href="#"> -->
                                
                                <button class="btn btn-success btn-sm">  Associate Login</button>
                                
                        </a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
        
          <!-- NAV Bar Ends -->
    {% block body%}
    {% endblock body %}
   <!--  <div class="social-line social-line-big-icons social-line-black">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-4">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-white" marked="1">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="col-md-2 col-4">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-white" marked="1">
              <i class="fab fa-facebook-square"></i>
            </a>
          </div>
          <div class="col-md-2 col-4">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-white" marked="1">
              <i class="fab fa-google-plus"></i>
            </a>
          </div>
          <div class="col-md-2 col-4">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-white" marked="1">
              <i class="fab fa-dribbble"></i>
            </a>
          </div>
          <div class="col-md-2 col-4">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-white" marked="1">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
          <div class="col-md-2 col-4">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-white" marked="1">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div> -->
 <!-- footer -->
 <footer class="footer footer-white footer-big">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <a href="#pablo" marked="1">
            <h5> {{company.name}}</h5>
          </a>
          <p> {{company.short_desc}}</p>
        </div>
        <div class="col-md-2">
          <h5>About</h5>
          <ul class="links-vertical">
            <li>
              <a href="#pablo" marked="1">
                Blog
              </a>
            </li>
            <li>
              <a href="{% url 'webapp:about' %}" marked="1">
                About Us
              </a>
            </li>
           
            <li>
              <a href="{% url 'webapp:contact' %}" marked="1">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Market</h5>
          <ul class="links-vertical">
            <li>
              <a href="#pablo" marked="1">
                Sales FAQ
              </a>
            </li>
            <li>
              <a href="#pablo" marked="1">
                How to Register
              </a>
            </li>
            <li>
              <a href="#pablo" marked="1">
                Sell Plots
              </a>
            </li>
            <li>
              <a href="#pablo" marked="1">
                Receive Payment
              </a>
            </li>
            <li>
              <a href="#pablo" marked="1">
                Transactions Issues
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Legal</h5>
          <ul class="links-vertical">
            <li>
              <a href="#pablo" marked="1">
                Transactions FAQ
              </a>
            </li>
            <li>
              <a href="#pablo" marked="1">
                Terms &amp; Conditions
              </a>
            </li>
            <li>
              <a href="{% url 'webapp:about' %}" marked="1">
                Licenses
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Subscribe to Newsletter</h5>
          <p>
            Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
          </p>
          <form class="form form-newsletter" method="" action="" abineguid="B01B8AB07B474396943F9050800D1529">
            <div class="form-group bmd-form-group">
              <input type="email" class="form-control" placeholder="Your Email...">
            </div>
            <button type="button" class="btn btn-primary btn-just-icon" name="button">
              <i class="material-icons">mail</i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <hr>
  
      Copyright ©
      <script>
        document.write(new Date().getFullYear())
      </script>  {{company.name}} All Rights Reserved.
    </div>
  </div>
</footer>
{% endfor %}  
   <!-- footer -->
  </body>
    <!-- Jquery JS-->
<!--     <script src="{% static "vendor/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "vendor/moment.min.js" %}"></script> -->
    <!-- Bootstrap JS-->
<!--     <script src="{% static "vendor/bootstrap-4.1/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.1/bootstrap.min.js" %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 --><script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>   
<!-- Vendor JS       -->
    <script src="{% static "vendor/slick/slick.min.js" %}">
    </script>
    <script src="{% static "vendor/wow/wow.min.js" %}"></script>
    <script src="{% static "vendor/animsition/animsition.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}">
    </script>
    <script src="{% static "vendor/counter-up/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "vendor/counter-up/jquery.counterup.min.js" %}">
    </script>
    <script src="{% static "vendor/circle-progress/circle-progress.min.js" %}"></script>
    <script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
    <script src="{% static "vendor/chartjs/Chart.bundle.min.js" %}"></script>
    <script src="{% static "vendor/select2/select2.min.js" %}">
    </script>
   <!--  Plugin for Sweet Alert -->
   <script src="{% static "js/plugin/sweetalert2.js" %}"></script>
    <!-- Main JS-->
    <!-- <script src="{% static "js/home.js" %}"></script> -->

      <script src="{% static "js/material.min.js" %}"></script>
      <script src="{% static "js/plugin/buttons.js" %}"></script>
      <script src="{% static "js/plugin/modernizr.js" %}"></script>
      <script src="{% static "js/plugin/vertical-nav.js" %}"></script>

                      <!--######################################################### 
    code for notifications -->
    <script>
      var array=[]
      </script>
{% if messages %}
{% for message in messages %}
   <script>
   array.push({tags:"{{message.tags}}", msg:"{{message}}"});
   </script>
{% endfor %}
{% endif %}
<script>
window.onload=myFunction():
  function myFunction() {
//document.getElementById("demo").innerHTML = "Iframe is loaded.";

array.forEach(element => {
  if (element.tags=='error') {
      element.tags='danger';
  }
  showNotification(element.msg,element.tags);
  console.log(element) 
});

}
  
function showNotification(msg, type){

$.notify({
  icon: "add_alert",
  message: msg

},{
  type: type,
  timer: 4000,
  placement: {
      from: 'top',
      align: 'center',
  }
});
}</script>
<!-- code for notifications 
############################################################################################
-->
<!--  Google Maps Plugin    -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js"></script>
  <!--   <script src="{% static "js/plugin/sharre.js" %}"></script> -->
  <!--  Plugin for bootstrap NOtify  -->
  <script src="{% static "js/plugin/bootstrap-notify.js" %}"></script>


</html>
<!-- end document-->
