{% extends "base.html" %}
{% block title %}
Sales Report
{% endblock title %}
<!-- heading  -->
{% block heading %}
Sales Report
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<!--    income=Transaction.objects.select_related('credit','debit','date').all().order_by('-date')
    payments=AssociateTransaction.objects.select_related('credit','debit','date').all().order_by('-date')
    rewards=RewardPassbook.objects.select_related('createdAt','debit_amount').all().order_by('-createdAt')
    -->
<script>
    var income = [];
    var payments = [];
    var rewards = [];
    var expences=[];
    var debitamt = 0;
</script>
{% for entry in income %}
<script>

    income.push(
        {
            createdAt: new Date('{{entry.date|date:"Y-m-d"}}'),
            debit: parseFloat('{{entry.debit}}'),
            credit: parseFloat('{{entry.credit}}')

        }
    )
</script>
{% endfor %}
{% for entry in payments %}
<script>
    payments.push(
        {
            createdAt: new Date('{{entry.date|date:"Y-m-d"}}'),
            debit: parseFloat('{{entry.debit}}'),
            credit: parseFloat('{{entry.credit}}')

        }
    )
</script>
{% endfor %}
{% for entry in rewards %}
<script>
    rewards.push(
        {
            createdAt: new Date('{{entry.createdAt|date:"Y-m-d"}}'),
            debit: parseFloat('{{entry.debit_amount}}'),
        }
    )
</script>
{% endfor %}
{% for entry in expences %}
<script>
    expences.push(
        {
            createdAt: new Date('{{entry.date|date:"Y-m-d"}}'),
            debit: parseFloat('{{entry.amount}}'),
        }
    )
</script>
{% endfor %}
<script>

    var month_label = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var now = new Date()
    currentYear = now.getFullYear();
    var e1 = income[0].createdAt;
    var incomeReport = [];
    var paymentsReport = [];
    var rewardsReport = [];
    var expencesReport = [];
    var incomeAmount = 0;
    var rewardsAmount = 0;
    var paymentsAmount = 0;
    var expencesAmount = 0;
    var workMonth = e1.getMonth()
    var workYear = e1.getFullYear()
    var barIncomeData = []
    var barRewardsData = []
    var barPaymentsData = []
    var barExpencesData = []
    var barLabel = []
    var n = 0;
    function conditions() {
        workMonth--;
        if (workMonth < 0) {
            workMonth = 11;
            workYear--;
        }
    }
    for (let i = 0; i < 12; i++) {


        income.forEach(element => {
            if ((element.createdAt.getFullYear() == workYear) && (element.createdAt.getMonth() == workMonth)) {
                incomeAmount += element.credit - element.debit
                n++;
            }
        });
        rewards.forEach(element => {
            if ((element.createdAt.getFullYear() == workYear) && (element.createdAt.getMonth() == workMonth)) {
                rewardsAmount += element.debit
                n++;
            }
        });
        payments.forEach(element => {
            if ((element.createdAt.getFullYear() == workYear) && (element.createdAt.getMonth() == workMonth)) {
                paymentsAmount += element.credit + element.debit
                n++;
            }
        });
        expences.forEach(element => {
            if ((element.createdAt.getFullYear() == workYear) && (element.createdAt.getMonth() == workMonth)) {
                expencesAmount += element.debit
                n++;
            }
        });

        incomeReport.push(
            {
                amount: incomeAmount,
                month: month_label[workMonth],
                year: workYear,
                number: n
            }
        )
        paymentsReport.push(
            {
                amount: (paymentsAmount),
                month: month_label[workMonth],
                year: workYear,
                number: n
            }
        )
        rewardsReport.push(
            {
                amount: (rewardsAmount),
                month: month_label[workMonth],
                year: workYear,
                number: n
            }
        )
        expencesReport.push(
            {
                amount: (expencesAmount),
                month: month_label[workMonth],
                year: workYear,
                number: n
            }
        )
        barLabel.push(month_label[workMonth]);
        barIncomeData.push(incomeAmount / 100000);
        barRewardsData.push(rewardsAmount / 100000);
        barPaymentsData.push(paymentsAmount / 100000);
        barExpencesData.push(expencesAmount / 100000);
        incomeAmount = 0;
        rewardsAmount = 0;
        paymentsAmount = 0;
        expencesAmount = 0;
    
        n = 0;
        conditions();
    }
    console.log(incomeReport)
    console.log(barRewardsData)
    console.log(barExpencesData)  
</script>

<div class="row">

    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title">Historical Net Monthly Buisness Report
                    <small>- Last 12 months</small>
                </h4>
            </div>
            <div class="card-body">
                <canvas id="bar-chart" width="800" height="450"></canvas></div>
        </div>

    </div>
    <!-- <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title">Historical Net Monthly Bookings Number
                    <small>- Last 12 months</small>
                </h4>
            </div>
            <div class="card-body">
                <canvas id="bar-chart2" width="800" height="450"></canvas></div>
        </div>

    </div> -->
</div>

<div class="row">
    <div class="col-12">
        <div class="card-body">
            <table id="myTable" class="flex-table table">

                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Month</th>
                        <th>Total Revenue(Login Amount) </th>
                        <th>Total Expenses</th>
                        <th>Profits Value</th>
                        <th>Profit %</th>

                    </tr>
                </thead>
                <tbody>
                    <script>
                        var i = 0;
                        /*   incomeReport.forEach(element => {
                              document.write('<tr><td>'
                              +(++i)
                                      + '</td><td>' 
                                  + element.month + ' ' + element.year
                                  + '</td><td>' +
                                  element.number
                                  + '</td><td>' +
                                  element.amount
                                  + ' LAKHS </td></tr>')
                          }); */
                        var c = 0;
                        for (let i = 0; i < incomeReport.length; i++) {
                            const inc = incomeReport[c];
                            const rwd = rewardsReport[c];
                            const pay = paymentsReport[c];
                            const exp = expencesReport[c];
                            document.write('<tr><td>'
                                + (++c)
                                + '</td><td>'
                                + inc.month + ' ' + inc.year
                                + '</td><td>' +
                                inc.amount.toFixed(2)
                                + '</td><td>' +
                                parseFloat(rwd.amount + pay.amount+exp.amount).toFixed(2)
                                + '</td><td>' +
                                parseFloat(inc.amount-(rwd.amount + pay.amount+exp.amount)).toFixed(2)
                                + '</td><td>' +
                                parseFloat((inc.amount-(rwd.amount + pay.amount+exp.amount))/inc.amount*100)
                                .toFixed(2)
                                
                                + ' %</td></tr>');
                        }
                    </script>




                </tbody>
            </table>
            <script>
                /*   $(document).ready(function () {
                      $('#myTable').DataTable(
                          {
                              "order": [[0, "desc"]]
                          }
                      );
                  }); */
                /* new Chart(document.getElementById("bar-chart2"), {
                  type: 'bar',
                  data: {
                      labels: barLabel.reverse(),
                      datasets: [
                          {
                              label: "Number of Bookings",
                              backgroundColor: "#8e5ea2", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                              data: barIncomeData.reverse()
                          },

                      ]
                  },
                  options: {
                      legend: { display: true },
                      title: {
                          display: true,
                          text: 'Net Monthly Bookings (number)'
                      },
                      scales: {
                          xAxes: [{ stacked: false }],
                          yAxes: [{ stacked: false }]
                      }
                  }
              }); */

                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels: barLabel.reverse(),
                        datasets: [
                            {
                                label: "Income",
                                backgroundColor: "#3e95cd", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                stack: 'Stack 1',
                                data: barIncomeData.reverse()

                            },
                            {
                                label: "Payments",
                                backgroundColor: "#3cba9f", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                stack: 'Stack 0',
                                data: barPaymentsData.reverse()
                            },
                            {
                                label: "Expences",
                                backgroundColor: "#ff5252", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                stack: 'Stack 0',
                                data: barExpencesData.reverse()
                            },
                            {
                                label: "Rewards",
                                backgroundColor: "#ffc30b", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                stack: 'Stack 0',
                                data: barRewardsData.reverse()
                            },

                        ]
                    },
                    options: {
                        legend: { display: true },
                        title: {
                            display: true,
                            text: 'Net Monthly Buisness (value)  (In Lakhs)'
                        },
                        scales: {
                            xAxes: [{ stacked: true }],
                            yAxes: [{ stacked: true }]
                        }
                    }
                });
            </script>
        </div>
    </div>
    {% endblock %}