{% extends "base.html" %}
{% block title %}
EMI Report
{% endblock title %}
<!-- heading  -->
{% block heading %}
EMI Report
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<script>
    var sales = [];
</script>
{% for entry in emi_list %}
<script>
    sales.push(
        {
            createdAt: new Date('{{entry.pay_day|date:"Y-m-d"}}'),
            amount: parseFloat('{{entry.emi}}')
        }
    )
</script>
{% endfor %}

<script>
    var month_label = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var now = new Date()
    currentYear = now.getFullYear();
    var e1 = sales[0].createdAt;
    var reportFuture = [];
    var reportPast = [];
    var amount = 0;
    var workMonthFuture = now.getMonth()
    var workYearFuture = now.getFullYear()
    var workMonthPast = now.getMonth()
    var workYearPast = now.getFullYear()
    var barDataPast = []
    var lineDataPast = []
    var barDataFuture = []
    var lineDataFuture = []
    var barLabelFuture = []
    var barLabelPast=[]
    var n=0;
    /* ##################################################################################### */
    function conditionsFuture() {
        workMonthFuture++;
        if (workMonthFuture > 11) {
            workMonthFuture = 0;
            workYearFuture++;
        }
    }

    for (let i = 0; i < 12; i++) {


        sales.forEach(element => {
            if ((element.createdAt.getFullYear() == workYearFuture) && (element.createdAt.getMonth() == workMonthFuture)) {
                amount += element.amount
                n++;
                
            }
        });
        //console.log(amount + "--" + month_label[workMonthFuture] + workMonthFuture)
        var dispAmount=0;
        var lable="";
        if ((amount/1000)>100) {
            dispAmount=amount/100000;
            lable="LAKHS";
        }
        else
        {
          
            dispAmount=amount/1000;
            lable="THOUSANDS";
        }
        reportFuture.push(
            {
                amount: dispAmount,
                month: month_label[workMonthFuture],
                year: workYearFuture,
                label:lable,
                number:n
            }
        )
        barLabelFuture.push(month_label[workMonthFuture]);
        barDataFuture.push(amount / 100000)
        lineDataFuture.push(n)
        amount = 0;
        n=0;
        conditionsFuture();
    }
    /* ########################PAST############################################## */
    function conditionsPast() {
        workMonthPast--;
        if (workMonthPast < 0) {
            workMonthPast = 11;
            workYearPast--;
        }
    }
    for (let i = 0; i < 12; i++) {


        sales.forEach(element => {
            if ((element.createdAt.getFullYear() == workYearPast) && (element.createdAt.getMonth() == workMonthPast)) {
                amount += element.amount
                n++;
                
            }
        });
        //console.log(amount + "--" + month_label[workMonthFuture] + workMonthFuture)
        var dispAmount=0;
        var lable="";
        if ((amount/1000)>100) {
            dispAmount=amount/100000;
            lable="LAKHS";
        }
        else
        {
          
            dispAmount=amount/1000;
            lable="THOUSANDS";
        }
        reportPast.push(
            {
                amount: dispAmount,
                month: month_label[workMonthPast],
                year: workYearPast,
                label:lable,
                number:n
            }
        )
       //
        barLabelPast.push(month_label[workMonthPast]);
        barDataPast.push(amount / 100000)
        lineDataPast.push(n)
        amount = 0;
        n=0;
        conditionsPast();
    }
    console.log(reportPast);
</script>

<div class="row">
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title">Historical Net Monthly EMIs
                    <small>- Last 12 months</small>
                </h4>
            </div>
            <div class="card-body">
                <canvas id="bar-chart-past" width="800" height="450"></canvas></div>
        </div>

    </div>
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title">Future Net Monthly EMIs
                    <small>- Next 12 months</small>
                </h4>
            </div>
            <div class="card-body">
                <canvas id="bar-chart-future" width="800" height="450"></canvas></div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-body">
            <table id="myTable" class="flex-table table">

                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Month</th>
                        <th>Number of EMIs</th>
                        <th>Value of EMIs </th>

                    </tr>
                </thead>
                <tbody>
                    <script>
                        var i=0;
                        reportPast.reverse()
                        reportPast.forEach(element => {
                            document.write('<tr><td>'
                            +(++i)
                                    + '</td><td>' 
                                + element.month + ' ' + element.year
                                + '</td><td>' +
                                element.number
                                + '</td><td>' +
                                element.amount.toFixed(2)+" "+element.label
                                + ' </td></tr>')
                        });
                        reportFuture.forEach(element => {
                            document.write('<tr><td>'
                            +(++i)
                                    + '</td><td>' 
                                + element.month + ' ' + element.year
                                + '</td><td>' +
                                element.number
                                + '</td><td>' +
                                element.amount.toFixed(2)+" "+element.label
                                + ' </td></tr>')
                        });
                        
                    </script>




                </tbody>
            </table>
            <script>
                /*   $(document).ready(function () {
                      $('#myTable').DataTable(
                          {
                              "order": [[0, "desc"]]
                          }
                      );
                  }); */
                  new Chart(document.getElementById("bar-chart-past"), {
                    type: 'bar',
                    data: {
                        labels: barLabelPast.reverse(),
                        datasets: [
                         {
                                label: "Number of EMIs",
                                borderColor: "#dc143c", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                data: lineDataPast.reverse(),
                                type: 'line',
                                fill: false
                            },
                            {
                                label: "Value of EMIs",
                                backgroundColor: "#3e95cd", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                data: barDataPast.reverse()
                            },

                        ]
                    },
                    options: {
                        legend: { display: true },
                        title: {
                            display: true,
                            text: 'Net Monthly EMI (value in Lakhs)'
                        },
                        scales: {
                            xAxes: [{ stacked: false }],
                            yAxes: [{ stacked: false }]
                        }
                    }
                });

                new Chart(document.getElementById("bar-chart-future"), {
                    type: 'bar',
                    data: {
                        labels: barLabelFuture,
                        datasets: [
                         {
                                label: "Number of EMIs",
                                borderColor: "#dc143c", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                data: lineDataFuture,
                                type: 'line',
                                fill: false
                            },
                            {
                                label: "Value of EMIs",
                                backgroundColor: "#3e95cd", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                data: barDataFuture
                            },

                        ]
                    },
                    options: {
                        legend: { display: true },
                        title: {
                            display: true,
                            text: 'Net Monthly EMI (value in Lakhs)'
                        },
                        scales: {
                            xAxes: [{ stacked: false }],
                            yAxes: [{ stacked: false }]
                        }
                    }
                });
                $(document).ready(function () {
                        $('#myTable').DataTable(
                            {
                                "order": [[0, "desc"]]
                            }
                        );
                    });
            </script>
        </div>
    </div>
    {% endblock %}