{% extends "base.html" %}
{% block title %}
Sales Report
{% endblock title %}
<!-- heading  -->
{% block heading %}
Sales Report
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<script>
    var sales = [];
</script>
{% for entry in sales %}
<script>
    sales.push(
        {
            createdAt: new Date('{{entry.createdAt|date:"Y-m-d"}}'),
            amount: parseFloat('{{entry.amount}}')
        }
    )
</script>
{% endfor %}

<script>
    var month_label = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var now = new Date()
    currentYear = now.getFullYear();
    var e1 = sales[0].createdAt;
    var report = [];
    var amount = 0;
    var workMonth = e1.getMonth()
    var workYear = e1.getFullYear()
    var barData = []
    var barData2 = []
    var barLabel = []
    var n=0;
    function conditions() {
        workMonth--;
        if (workMonth < 0) {
            workMonth = 11;
            workYear--;
        }
    }
    for (let i = 0; i < 12; i++) {


        sales.forEach(element => {
            if ((element.createdAt.getFullYear() == workYear) && (element.createdAt.getMonth() == workMonth)) {
                amount += element.amount
                n++;
            }
        });
        console.log(amount + "--" + month_label[workMonth] + workMonth)
        report.push(
            {
                amount: amount / 100000,
                month: month_label[workMonth],
                year: workYear,
                number:n
            }
        )
        barLabel.push(month_label[workMonth]);
        barData.push(amount / 1000000)
        barData2.push(n)
        amount = 0;
        n=0;
        conditions();
    }
    console.log(report) 
</script>

<div class="row">

    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title">Historical Net Monthly Bookings value
                    <small>- Last 12 months</small>
                </h4>
            </div>
            <div class="card-body">
                <canvas id="bar-chart" width="800" height="450"></canvas></div>
        </div>

    </div>
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title">Historical Net Monthly Bookings Number
                    <small>- Last 12 months</small>
                </h4>
            </div>
            <div class="card-body">
                <canvas id="bar-chart2" width="800" height="450"></canvas></div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-body">
            <table id="myTable" class="flex-table table">

                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Month</th>
                        <th>No of Bookings</th>
                        <th>Total Bookings Value </th>

                    </tr>
                </thead>
                <tbody>
                    <script>
                        var i=0;
                        report.forEach(element => {
                            document.write('<tr><td>'
                            +(++i)
                                    + '</td><td>' 
                                + element.month + ' ' + element.year
                                + '</td><td>' +
                                element.number
                                + '</td><td>' +
                                element.amount
                                + ' LAKHS </td></tr>')
                        });
                    </script>




                </tbody>
            </table>
            <script>
                /*   $(document).ready(function () {
                      $('#myTable').DataTable(
                          {
                              "order": [[0, "desc"]]
                          }
                      );
                  }); */
                  new Chart(document.getElementById("bar-chart2"), {
                    type: 'bar',
                    data: {
                        labels: barLabel.reverse(),
                        datasets: [
                            {
                                label: "Number of Bookings",
                                backgroundColor: "#8e5ea2", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                data: barData2.reverse()
                            },

                        ]
                    },
                    options: {
                        legend: { display: true },
                        title: {
                            display: true,
                            text: 'Net Monthly Bookings (number)'
                        },
                        scales: {
                            xAxes: [{ stacked: false }],
                            yAxes: [{ stacked: false }]
                        }
                    }
                });

                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels: barLabel.reverse(),
                        datasets: [
                            {
                                label: "Value of bookings",
                                backgroundColor: "#3e95cd", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                                data: barData.reverse()
                            },

                        ]
                    },
                    options: {
                        legend: { display: true },
                        title: {
                            display: true,
                            text: 'Net Monthly Bookings (value)  (In Lakhs)'
                        },
                        scales: {
                            xAxes: [{ stacked: false }],
                            yAxes: [{ stacked: false }]
                        }
                    }
                });
            </script>
        </div>
    </div>
    {% endblock %}