{% extends "base.html" %}
{% block title %}
Add User
{% endblock title %}
<!-- heading  -->
{% block heading %}
Add User
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row ">
        <div class="col-lg-12">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{form.first_name|as_crispy_field}}
                {{form.last_name|as_crispy_field}}
                {{form.email|as_crispy_field}}
                {{form.user_type|as_crispy_field}}
                {{form.photo}}
                <button class="btn  btn-success">Submit</button>
            </form>
        </div>
    
    </div>
{% endblock %}


