{% extends "base.html" %}
{% block title %}
Change Password
{% endblock title %}
<!-- heading  -->
{% block heading %}
Change Password
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<div class="row ">
    <div class="col-lg-12">
        <form action="" method="post">
            {% csrf_token %}

            {% load crispy_forms_tags %}
            {{form|crispy }}
            <button class="btn  btn-success">Submit</button>
        </form>
    </div>

</div>
{% endblock %}


{% load static %}