{% extends "home-base.html" %}
{% block title %}
Customer Login 
{% endblock title %}
{% load static %}

{% block body %}

{% load static %}
{% if company.use_url %}
<div class="page-header header-filter" data-parallax="false" style="height: 900px;;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 800px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
{% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto mb-5">
          <div class="brand text-center">
                <h1>Welcome to {{company.name}} </h1>
             
          </div>

          
        </div>
      </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title">Associate Login</h4>
                  <br>
                </div>    
          
                {% if error %}
                <div class="alert alert-danger" role="alert">
                       {{error}}
                   </div> 
                {%else %}
                <br>
                <br>
                {% endif %}
                <form class="text-center" action=" {% url 'user:login'  %} " method="post">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
          
                        {% load widget_tweaks %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username....">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                              </span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password...">
                          </div>
             
          
                       
                    <button class="btn btn-primary">Login</button>
                </form>
            <!--    
                <div class="d-flex justify-content-between mt-3">
                  <div class="p-2">
                    <a href="" class=" text-primary">Register Here</a>
                  </div>
                  <div class="p-2"></div>

                  <div class="p-2">
                    <a href="" class=" text-primary">Forgot Password</a>
                  </div>
                </div> -->
                <br>
                
            </div>
          </div>
        </div>
      </div>
  </div>

  {% endblock %}