{% extends "base.html" %}
{% block title %}
My Profile
{% endblock title %}
<!-- heading  -->
{% block heading %}
My Profile
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}

<!-- Main Conent -->
{% block content %}
<div class="row ">
    <div class="col-lg-12">

        <table class="table ml-1 mr-1">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <img src="{% get_media_prefix %}{{user.photo}}" alt="{{associate.name}}_photo" srcset=""
                            style="height: 200px;">

                    </td>

                </tr>
                <tr>
                    <th scope="row">Associate ID</th>
                    <td style="font-weight: 500; font-size: 14pt; color:brown">
                        {{user.username}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>
                        {{user.first_name}} {{user.last_name}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>
                      {{user.email}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Designation</th>
                    <td>
                        {% if user.user_type == 1 %}
                        <span class="badge badge-primary mt-1">Director</span>
                        {% elif user.user_type == 2 %}
                        <span class="badge badge-primary mt-1"
                            style="background-color:rgb(33, 150, 243);">Moderator</span>
                        {% elif user.user_type == 3 %}
                        <span class="badge badge-success mt-1">Supervisor</span>
                        {% elif user.user_type == 4 %}
                        <span class="badge badge-rose mt-1">HR</span>
                        {% elif user.user_type == 5 %}
                        <span class="badge badge-danger mt-1">Sales</span>
                        {% elif user.user_type == 6 %}
                        <span class="badge badge-warning mt-1">Accountant</span>
                        {% elif user.user_type == 7 %}
                        <span class="badge badge-primary mt-1"
                            style="background-color: rgb(96, 125, 139);">Associate</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Date Of Joining</th>
                    <td>
                        {{user.date_joined|date}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Last Login</th>
                    <td>
                        {{user.last_login}}
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>
{% endblock %}