{% extends "base.html" %}
{% block title %}
User List
{% endblock title %}
<!-- heading  -->
{% block heading %}
User List
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row">

    {% for user in user_list %}



    <div class="col-lg-3 col-md-6 col-12">
        <div class="card card-profile">
            <div class="card-header card-avatar">
                <a href="#pablo">
                    <img class="img" src="{% get_media_prefix %}{{user.photo}}">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                <h6 class="card-category text-muted"> {% if user.user_type == 1 %}
                    <span class="badge badge-primary mt-1">Director</span>
                    {% elif user.user_type == 2 %}
                    <span class="badge badge-primary mt-1" style="background-color:rgb(33, 150, 243);">Moderator</span>
                    {% elif user.user_type == 3 %}
                    <span class="badge badge-success mt-1">Supervisor</span>
                    {% elif user.user_type == 4 %}
                    <span class="badge badge-rose mt-1">HR</span>
                    {% elif user.user_type == 5 %}
                    <span class="badge badge-danger mt-1">Sales</span>
                    {% elif user.user_type == 6 %}
                    <span class="badge badge-warning mt-1">Accountant</span>
                    {% elif user.user_type == 7 %}
                    <span class="badge badge-primary mt-1" style="background-color: rgb(96, 125, 139);">Associate</span>
                    {% endif %}</h6>
                <p class="card-description">
                    <table>
                        <tr>
                            <th>User ID: </th>
                            <td>{{user.username}} </td>
                        </tr>
                        <tr>
                            <th>Email </th>
                            <td>{{user.email}} </td>
                        </tr>
                        <tr>
                            <th>Date of Joining: </th>
                            <td> {{user.date_joined|date}} </td>
                        </tr>
                    </table>
                </p>
            </div>
            <div class="card-footer justify-content-center">

                {% if user.is_active  %}
                <form action="{% url 'user:deactivate_user' id=user.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-round btn-danger">
                        <i class="fas fa-user-slash"></i> 
                        Deactivate
                    </button>
                </form>
                {% else %}
              
                <form action="{% url 'user:activate_user' id=user.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-round btn-success">
                            <i class="fas fa-user"></i> 
                            Activate
                        </button>
                    </form>
                    
                {% endif %}


            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}