{% extends "home-base.html" %}
<!-- change here -->  
{% block title %}
About Us |
{% endblock title %}
{% load static %}
{% block body %}

{% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
{% endif %}
     <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
              <div class="brand text-center">
                <!-- change here -->  
                <h1> xxx </h1>             
                  <h3 class="title text-center">{{company.name}} </h3>
                  {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
    
    </div>
  </div>

  {% endblock %}