{% extends "home-base.html" %}
{% block title %}
Carrers |
{% endblock title %}
{% load static %}
{% block body %}


{% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
{% endif %}

 <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Careers</h1>
            
            <h3 class="title text-center">{{company.name}} </h3>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
       <!--  <h2 class="title">Carrer</h2> -->
        <p>
            Our organisation is a leading construction company in the state of Uttar Pradesh. It's only because it believes in good business practices and operates with strong positive and ethical cultures as in today's scenario staying ethical is a difficult task.Thus our business ethics brought about the trust among the customer and are ready to pay a premium for the products to the organisation having sound ethics and values. . .
          <br>
            The strength of our company is recognition and fulfillment of expectations of all the hard working employees and means better career shaping with growth        
          </p>
          <div class="row">
              <div class="col-3"></div>
              <div class="col-6">
                  <p class="h4 title  ">
                      Please Fill this form and our HR team will contact you soon.
                            <br>
                    <br>
                  </p>
                  <form role="form" id="contact-form" method="post">
                      {% csrf_token %}
                      {% load crispy_forms_tags %}
        
                      {% load widget_tweaks %}
                    <div class="form-group">
                      <label for="name" class="form-control-label">Your name</label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmails" class="form-control-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmails" name="email">
                      <span class="bmd-help">We'll never share your email with anyone else.</span>
                    </div>
                    <div class="form-group">
                      <label for="phone" class="form-control-label" >Phone</label>
                      <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                    <div class="form-group label-floating">
                      <label class="form-control-label" for="message"> Your message</label>
                      <textarea class="form-control" rows="6" id="message" name="message"></textarea>
                    </div>
                    <div class="submit text-center">
                      <input type="submit" class="btn btn-primary btn-raised btn-round" value="Submit">
                    </div>
                  </form>
              </div>
              <div class="col-3"></div>
            </div>
          
      </div>
    </div>
  </div>

  {% endblock %}