{% extends "base.html" %}
{% block title %}
EDIT Cutomer
{% endblock title %}
<!-- heading  -->
{% block heading %}
EDIT Cutomer
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
                <form class="form" method="POST" action="">

                    <h3 class="description text-center">Fill out these details</h3>
                    <div class="card-body">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% load widget_tweaks %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}


                        <span style="font-weight: 600">Name:</span> {% render_field form.name class="form-control" %}
                        <br>

                        <span style="font-weight: 600">Associate ID:

                            <button type="button" class="btn btn-sm btn-rose" data-toggle="modal"
                                data-target="#exampleModal" onclick="setEmiId('{{entry.id}}','self')">Select</button>
                        </span>
                        <!--   <input type="text" class="form-control" name="associate_ref" id="associate_ref"
                            value="{{customer.associate_ref.user.username}}">
                       --> <br>
                        {% render_field form.associate_ref class="form-control" %} <br>
                        <span style="font-weight: 600">Country</span>
                        <select name="country_code" class="form-control">
                            <option value="91">India</option>
                            <option value="971">UAE</option>
                            <option value="973">Behrain</option>
                            <option value="966">Saudi Arabia</option>
                            <option value="974">Qatar</option>
                            <option value="968">Oman</option>
                            <option value="965">Kuwait</option>
                        </select>
                        <!--         <input type="text" name="country_code" value="91"> -->
                        <br>

                        <span style="font-weight: 600">Contact number</span>
                        {% render_field form.contact_no class="form-control" %} <br>
                        <span style="font-weight: 600">Alternate Number</span> <br>
                        {% render_field form.alternate_no class="form-control" %} <br>
                        <span style="font-weight: 600">Email</span>
                        {% render_field form.email class="form-control" %} <br>
                        <span style="font-weight: 600">Pan No</span> 
                        {% render_field form.pan_no class="form-control" %} <br>
                        <span style="font-weight: 600">Address</span>
                        {% render_field form.address class="form-control" %}



                    </div>
                    <div class="footer text-center">
                        <!-- <a id="mySubmit1" class="btn btn-primary btn-link btn-wd btn-lg " onclick="submit()">Get Started</a> <br> -->
                        <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Save</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    $(document).ready(function () {
        // alert("document ready occurred!");
       document.getElementById('id_associate_ref').style.display = "none";
    });
    function setValue() {
        var associateID=document.getElementById('associate_select').value ;
        console.log(associateID);
        document.getElementById('id_associate_ref').value = associateID;
        console.log(document.getElementById('id_associate_ref').value) 
    }
</script>
{% endblock %}
{% block modal %}
<!-- Modals Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Associate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <select id="associate_select" name="country_code" class="form-control">
                        <option value="{{customer.associate_ref_id}}">{{customer.associate_ref.user.username}}</option>
                        {% for associate in associate_list %}
                        <option value="{{associate.id}}">{{associate.user.username}}</option>
                        {% endfor %}
                        </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" onclick= "setValue()" class="btn btn-primary" data-dismiss="modal" style="background-color:#007bff " >Save</button>
               
            </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}

{% load static %}