{% extends "base.html" %}
<!-- title  -->
{% block title %}
My Clients
{% endblock title %}
<!-- heading  -->
{% block heading %}
My Clients
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}

<div class=" ">
  <script> var count = 0;</script>
  <table id="myTable" class="flex-table table">
    <thead class="thead-dark">
      <tr>
        <th>CUID</th>
        <th>Name</th>

        {% if user.user_type == 1 or user.user_type == 7 or user.user_type == 2%}


        <th>Contact Number</th>
        <!--  <th>Alternate Number</th> -->
        <!-- <th>Email</th> -->
        {% endif %}
        <th>Date of Joining</th>
        <th>Listed Properties</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% load mathfilters %}
      {% for customer in customer_list %}



      <tr>
        <!-- <td data-label="#">{{forloop.counter}} </td> -->
        <td data-label="CUID">{{customer.id}} </td>
        <td data-label="Name">{{customer.name}}</td>

        {% if user.user_type == 1 or user.user_type == 7 or user.user_type == 2 %}
        <td data-label="Contact number">
          {% if customer.country_code %}
          {{customer.country_code}}-
          {% endif %}
          {{customer.contact_no}} </td>
        <!-- <td>
                  {% if customer.country_code %}
                  {{customer.country_code}}-
                  {% endif %} {{customer.alternate_no}}
              </td> -->

       <!--  <td data-label="Email">
          {{customer.email}}
        </td> -->

        {% endif %}


        <td data-label="Date of Joining">
          {{customer.createdAt|date}}
        </td>
        <td data-label="Listed Properties">


          {% for item in properties %}
          {% if item.customer_ref_id == customer.id%}
          <script>count++;
          </script>
          {% endif %}
          {% endfor %}
          <script>document.write(count); count = 0;</script>

        </td>
        <td data-label="actions">
          <!--           <a class="btn btn-sm  btn-info" href="{% url 'owner:customer_view' id=customer.id %} ">
            <i class="far fa-eye"></i> 
          </a>
 -->
          {% if user.user_type == 7 %}
          <a class="btn btn-sm   btn-info" href="{% url 'associate:customer_view' id=customer.id %} ">
            <i class="far fa-eye"></i>
          </a>
          {% else %}
          <a class="btn btn-sm   btn-info" href="{% url 'owner:customer_view' id=customer.id %} ">
            <i class="far fa-eye"></i>
          </a>
          {% endif %}


          {% if user.user_type == 1 or user.user_type == 2 %}
          <a class="btn btn-sm  btn-warning" href="{% url 'owner:customer_edit' id=customer.id %} ">
            <i class="far fa-edit"></i>
          </a>
          {% endif %}
        </td>

      </tr>

      {% endfor %}

    </tbody>
  </table>
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>
  {% endblock %}


  {% load static %}