{% extends "base.html" %}
{% block title %}
Create Customer
{% endblock title %}
<!-- heading  -->
{% block heading %}
Create Cutomer
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    </style>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
                <form class="form"  method="POST" action="">

                    <h3 class="description text-center">Fill out these details</h3>
                    <div class="card-body">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}

                        {%   load widget_tweaks %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}


                        <span style="font-weight: 600">Name:</span> {% render_field form.name class="form-control" %}
                        <br>

                        <span style="font-weight: 600">Associate ID:</span>
                        <input type="text" class="form-control" name="associate_ref" id="associate_ref"
                            value="CBDA9775">
                        <br>

                        <span style="font-weight: 600">Country</span>
                        <select name="country_code" class="form-control">
                            <option value="91">(+91) India</option>
                            <option value="971">(+971) UAE</option>
                            <option value="973">(+973) Behrain</option>
                            <option value="966">(+966) Saudi Arabia</option>
                            <option value="974">(+974) Qatar</option>
                            <option value="968">(+968) Oman</option>
                            <option value="965">(+965) Kuwait</option>
                        </select>
                <!--         <input type="text" name="country_code" value="91"> -->
                        <br>

                        <span style="font-weight: 600">Contact number</span>
                        {% render_field form.contact_no class="form-control" %} <br>
                        <span style="font-weight: 600">Alternate Number</span> <br>                      
                        {% render_field form.alternate_no class="form-control" %} <br>
                        <span style="font-weight: 600">Email</span> 
                        {% render_field form.email class="form-control" %} <br>
                        <span style="font-weight: 600">Pan No</span> 
                        {% render_field form.pan_no class="form-control" %} <br>
                        <span style="font-weight: 600">Address</span> 
                        {% render_field form.address class="form-control" %}
                        



                    </div>
                    <div class="footer text-center">
                        <!-- <a id="mySubmit1" class="btn btn-primary btn-link btn-wd btn-lg " onclick="submit()">Get Started</a> <br> -->
                        <button type="submit"  class="btn btn-primary btn-link btn-wd btn-lg">Save</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
$(document).ready(function(){
        
        document.getElementById('id_address').style.textTransform='capitalize';
        document.getElementById('id_name').style.textTransform='capitalize';
        document.getElementById('associate_ref').style.textTransform='uppercase';
       
   
})
</script>
{% endblock %}


{% load static %}