{% extends "base.html" %}
<!-- title  -->
{% block title %}
Client View
{% endblock title %}
<!-- heading  -->
{% block heading %}
Client View
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
<!-- Main Conent -->
{% block content %}
<div class="card">
  <div class="card-body">
    <table class="table ml-1 mr-1">
      <tbody>

        <tr>
          <th scope="row">Associate Name</th>

          <td> {{customer.associate_ref.name}}</td>
        </tr>
        <tr>
            <th scope="row">Associate ID</th>
  
            <td style="font-weight: 500;"> {{customer.associate_ref.user.username}}</td>
          </tr>
        <tr>
          <th scope="row">Client Name</th>

          <td>{{customer.name}}</td>
        </tr>
        <tr>
          
          {% if user.user_type == 1 or user.user_type == 7 or user.user_type == 2 %}
            
          
            
          <th scope="row">Contact Number</th>
          <td>


            {% if customer.country_code %}
            {{customer.country_code}}-
            {% endif %}
            {{customer.contact_no}} </td>

          <!--  <td>{{customer.id}} </td>
         <td>{{customer.name}}</td>
         <td> 
           
          
          {% if customer.country_code %}
          {{customer.country_code}}-
          {% endif %}
            {{customer.contact_no}} </td>
           <td>
                {% if customer.country_code %}
                {{customer.country_code}}-
                {% endif %} {{customer.alternate_no}}
            </td> 
        
          -->
        <tr>
          <th scope="row">Altenate Contact number</th>

          <td>
            {% if customer.country_code %}
            {{customer.country_code}}-
            {% endif %} {{customer.alternate_no}}
          </td>
        </tr>
        <tr>
          <th scope="row">Email</th>


          <td>
            {{customer.email}}
          </td>
        </tr>
        <tr>
            <th scope="row">Pan No</th>
  
  
            <td>
              {{customer.pan_no}}
            </td>
          </tr>
        {% endif %}
        <tr>
          <th scope="row">Date Of Joining</th>

          <td>
            {{customer.createdAt}}
          </td>
        </tr>


        <tr>
          <th scope="row">Total Amount to be paid</th>
          <td>
            <script>
              var cost = 0;
            </script>
            {% for property in properties %}
            {{item.serial_no}}
            {% load mathfilters %}
            {% load humanize %}
            {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}

            <script>
              cost = parseInt("{{cost|mul:factor|mul:property.section_ref.area}}") + cost;
            </script>

            {% endwith %}
            {% endfor %}
            &#8377;
            <script>


              document.write(cost)</script>

          </td>
        </tr>
       <!--  <tr>
          <th scope="row">Payment Summary</th>
          <td>
            <span class="text-success">
              Amount Paid: &#8377; {{amount.amount__sum}}
              <script>
                var amount = parseInt("{{amount.amount__sum}}");
              </script>
            </span><br>
            <span class="text-danger">
              Outstanding Amount: &#8377;
              <script>
                document.write(cost - amount);
              </script>
            </span>
          </td>
        </tr> -->



        <tr class="text-success">
          <th scope="row">Number of EMIs Paid</th>

          <td>{{paid_emi.emi__count}}</td>
        </tr>
        <tr class="text-danger">
          <th scope="row">Number of EMIs Pending</th>

          <td>{{pending_emi.emi__count}}</td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class="card-body ">
    <ul class="nav nav-pills nav-pills-info" role="tablist">
      <li class="nav-item">
        <a class="nav-link active show" data-toggle="tab" href="#link1" role="tablist">
          Properties
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
          EMIs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
          Payments
        </a>
      </li>
    </ul>
    <div class="tab-content tab-space">
      <div class="tab-pane active show" id="link1">
        <div class="p-2">
          <table class=" myTable flex-table table table-striped ">
            <thead>
              <tr>
                <th>Project Name</th>
                <th>Serial Number</th>

                <th>Status</th>
                <th>Paid EMIs</th>
                <th>Pending EMIs</th>
                <!-- <th>Actions</th> -->
              </tr>
            </thead>
            <tbody>
              {% load mathfilters %}

              {% for property in properties  %}

              <tr>
                <td>
                  <a href="{% url 'associate:project_view' id=property.section_ref.project_ref.id %}" target="_blank"
                    rel="noopener noreferrer">
                    {{property.section_ref.project_ref.name}}
                  </a>
                </td>
                <td>
                  <a href="{% url 'associate:property_view' id=property.id %}"
                    target="_blank" rel="noopener noreferrer">
                    {{property.section_ref.section_prefix}}-{{property.serial_no}}
                  </a>
                </td>

                <td>{% if property.status_code == "V"  %}
                  <span class="badge  badge-pill badge-success">Vacant</span>
                  {% elif property.status_code == "H" %}
                  <span class="badge badge-pill badge-warning">Hold</span>
                  {% elif property.status_code == "B" %}
                  <span class="badge badge-pill badge-danger">Booked</span>
                  {% elif property.status_code == "A" %}
                  <span class="badge badge-pill badge-primary">Alloted</span>
                  {% else  %}
                  <span class="badge badge-pill badge-secondary">Registered</span>

                  {% endif %}</td>
                <script>
                  var paid = 0;
                  var unpaid = 0;
                </script>
                {% for item in emi %}
                {% if item.property_ref.id == property.id %}
                {% if item.status %}
                <script>
                  paid++;
                </script>
                {% else %}
                <script>
                  unpaid++;
                </script>
                {% endif %}
                {% endif %}
                {% endfor %}

                <td>
                  <script>
                    document.write(paid);</script>
                </td>

                <td>
                  <script>
                    document.write(unpaid);
                  </script>
                </td>
                <!-- <td>a</td> -->
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <script>
            $(document).ready(function () {
              $('.myTable').DataTable();
            });
          </script>
        </div>

      </div>
      <div class="tab-pane" id="link2">
        <table id="myTable" class="flex-table table">
          <thead class="thead-dark">
              <tr>
                  <th>EMID</th>
                  <th>Due Date</th>
                  <th>Property</th>
                  <th>Opening Balace</th>
                  <th>EMI</th>
                  <th>Closing Balance</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
      
              {% for entry in emi %}
              <tr>
                  <td data-label="EMID">{{entry.id}} </td>
                  <td data-label="Due Date"> <span style="display: none;">{{entry.pay_day|date:'Ymd'}}</span> {{entry.pay_day|date:'d-m-Y'}}
                      <script>
                          var parts = "{{entry.pay_day|date:'Y-m-d'}}".split('-');
                          // Please pay attention to the month (parts[1]); JavaScript counts months from 0:
                          // January - 0, February - 1, etc.
                          var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
                          var date = new Date();
                          setTimeout(function () { ready(); }, 500);
                          function ready() {
                              if (date > mydate) {
                                  document.getElementById('status').innerHTML = "Not Paid";
                                  document.getElementById('status').className = "text-danger";
      
                              }
                          }
      
                      </script>
                  </td>
                  <td data-label="Property">{{entry.property_ref.section_ref.project_ref.name}}
                      {{entry.property_ref.section_ref.section_prefix}}-{{entry.property_ref.serial_no}} </td>
                  <td data-label="Opening Balace"> &#x20B9; {{entry.opening_balance}} </td>
                  <td data-label="EMI"> &#x20B9; {{entry.emi}} </td>
                  <td data-label="Closing Balance"> &#x20B9; {{entry.closing_balance}} </td>
                  <td data-label="Status">
                      {% if entry.status %}
                      <span class="text-success" style="font-weight: 500; font-size: 12pt;">Paid</span>
      
                      {% else %}
                      <span class="text-warning" id="status" style="font-weight: 500; font-size: 12pt;">Pending</span>
                      {% endif %}
      
                  </td>
              </tr>
              {% endfor %}
      
          </tbody>
      </table>
      <span style="font-size: 10pt; color: red;">To filter by date:- 
          use yyyymmdd format eg: 20190712 for july 12, 2019 <br>
          To filter by month:- 
          use yyyymm format eg: 201907 for july 2019 <br>
          To filter by year:- 
          use yyyy format eg: 2019 for  2019</span>
      <script>
          $(document).ready(function () {
              $('#myTable').DataTable(
                  {
                      "order": [[0, "desc"]]
                  }
              );
          });
          function setEmiId(id) {
              document.getElementById('emi_id').value = id
          }
      </script>

      </div>
      <div class="tab-pane" id="link3">
        <table class=" myTable flex-table table table-striped ">
          <thead>
            <tr>
              <th>Transaction ID</th>
              <th>Date</th>
              <th>Property</th>
              <th>Sale Amount</th>          
              <th>Payment Mode</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Balance</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>


            {% for tr in tx %}
            <tr>
              <td data-label="Transaction ID">{{tr.id}} </td>
              <td data-label="Date">
                <span style="display: none;">{{tr.date|date:"Ymd"}}</span>
                {{tr.date|date:"d-m-Y"}}</td>
              <td>{{tr.property_ref.section_ref.section_prefix}}-{{tr.property_ref.serial_no}} </td>
              <td>{{tr.sale_value}}</td>
              <td data-label="Payment Mode">
                {% if tr.pay_method == 'C' %}
                Cash
                {% elif tr.pay_method == 'D' %}
                Demand Draft
                {% elif tr.pay_method == 'N' %}
                NEFT
                {% elif  tr.pay_method == 'Q' %}
                Cheque
                {% endif %}
                {{tr.reference_no}}
              </td>
              <td data-label="Debit" style="font-weight: 500; color: red"> &#x20B9; {{tr.debit}}</td>
              <td data-label="Credit" style="font-weight: 500; color: green;">&#x20B9; {{tr.credit}}</td>
              <td data-label="Balace"  style="font-weight: 500;">&#x20B9; {{tr.balance}} </td>
              <td data-label="Description">{{tr.description}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <span style="font-size: 10pt; color: red;">To filter by date:- 
            use yyyymmdd format eg: 20190712 for july 12, 2019 <br>
            To filter by month:- 
            use yyyymm format eg: 201907 for july 2019 <br>
            To filter by year:- 
            use yyyy format eg: 2019 for  2019</span>
      </div>
    </div>
  </div>

 
<!--   <span class="text-danger" style="font-weight: 500;
font-size: 20pt;">
    Sorry,this is not your Client!
  </span>
  <br>
  <span style="font-weight: 500;
font-size: 9pt;
color: black;
">For any discrepency please contact admin

  </span> -->

  {% endblock %}
  {% load static %}