{% extends "base.html" %}
{% block title %}
{{heading}}
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{heading}}
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    <table>
            {{form.as_table}}
    </table>
  
    <button class="btn btn" style="background-color: #2979ff">Submit</button>

</form>
{% endblock %}


