{% extends "base.html" %}
{% block title %}
Payout Rules
{% endblock title %}
<!-- heading  -->
{% block heading %}
Payout Rules
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row">
    <div class="col-12">
        <a href="{% url 'owner:payout_rules_create' %}" class="btn btn-primary">Add New Rule</a>
        <div class="card-body">
                <table id="myTable" class="flex-table table">

                <thead class="thead-dark">
                    <tr>
                        <th>Serial No</th>
                        <th>Sales Range </th>

                        <th>Payout level</th>
                        <th>Reward</th>
                        <th>Calculation Basis</th>
                        
                        {% if user.user_type == 1 %}
                        <th>Action</th>
                            
                        {% endif %}
                            
                    </tr>
                </thead>
                <tbody>



                    {% for rule in rules %}
                    <tr>
                        <td>
                            {{rule.id}}
                        </td>
                        <td>&#8377; {{rule.sale_start_amount}} -

                            {{rule.sale_end_amount}} Lakhs</td>
                        <td>{{rule.payout}}%</td>
                        <td>{{rule.reward}}%</td>
                        <td>

                            {% if rule.is_monthly %}
                            <span style="color: navy">
                                Monthly Sales
                            </span>

                            {% else %}
                            <span style="color: brown">
                                Lifetime Sales
                            </span>

                            {% endif %}


                        </td>
                        
                        {% if user.user_type == 1 %}
                            <td>
                                <a href="{% url 'owner:payout_rules_edit' id=rule.id %}" class="btn btn-sm btn-warning">EDIT</a>
                            </td>
                        {% endif %}
                            
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}