{% extends "base.html" %}
{% block title %}
Rewards Rules
{% endblock title %}
<!-- heading  -->
{% block heading %}
Rewards Rules
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row">
    <div class="col-12">
            <a href="{% url 'owner:reward_rules_create' %}" class="btn btn-primary">Add New Rule</a>

        <div class="card-body">
                <table id="myTable" class="flex-table table">

                <thead class="thead-dark">
                    <tr>
                        <th>Serial No</th>
                        <th>Total Sales </th>                        
                        <th>Reward</th>  
                        {% if user.user_type == 1 %}
                        <th>Action</th>
                            
                        {% endif %}                      
                    </tr>
                </thead>
                <tbody>



                    {% for rule in rules %}
                    <tr>
                        <td>{{rule.id}}</td>
                        <td>&#8377; {{rule.sale_amount}} Lakhs</td>                       
                        <td>{{rule.reward}}</td>
                        {% if user.user_type == 1 %}
                            <td>
                                <a href="{% url 'owner:reward_rules_edit' id=rule.id %}" class="btn btn-sm btn-warning">EDIT</a>
                            </td>
                        {% endif %}
                            
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <script>
                    $(document).ready(function () {
                        $('#myTable').DataTable(
                            {
                                "order": [[0, "desc"]]
                            }
                        );
                    });
                </script>
        </div>
    </div>
    {% endblock %}