{% extends "base.html" %}
{% block title %}
Associate View
{% endblock title %}
<!-- heading  -->
{% block heading %}
Associate View
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row ">
    <div class="col-lg-12">
        <table class="table ml-1 mr-1">
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <img src="{% get_media_prefix %}{{associate.photo}}" alt="{{associate.name}}_photo" srcset=""
                            style="height: 200px;">

                    </td>

                </tr>
                <tr>
                    <th scope="row">Associate ID</th>
                    <td style="font-weight: 500; font-size: 14pt; color:brown">
                        {{associate.user.username}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Upline ID</th>
                    <td style="font-weight: 500; font-size: 14pt; color:blue">
                        {{associate.parent.user.username}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>
                        {{associate.name}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Gender</th>
                    <td>

                        {% if associate.gender == 'M' %}
                        Male
                        {% else %}
                        Female
                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <th scope="row">Date of Birth</th>
                    <td>
                        {{associate.date_of_birth|date}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Contact Number</th>
                    <td>
                        {{associate.country_code}} {{associate.contact_no}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Alternate Number</th>
                    <td>
                        {{associate.country_code}} {{associate.alternate_no}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>
                        {{associate.email}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>
                        {{associate.address}}. PIN:{{associate.pincode}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>


                        {% if associate.status %}
                        <div class="badge badge-success">
                            <i class="fas fa-check-circle"></i>
                            Active</div>
                        {% else %}
                        <div class="badge badge-danger">
                            <i class="fas fa-times"></i>
                            Suspended</div>
                        <br>




                        {% endif %}

                    </td>
                </tr>

                <tr>
                    <th scope="row">Joined On</th>
                    <td>
                        {{associate.createdAt}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">No of Downlines</th>
                    <td>

                        {% if downline_count.id__count > 0 %}
                        {{downline_count.id__count}}
                        {% else %}
                        <span style="font-weight: 500; font-size: 10pt; color:red">NONE</span>
                        {% endif %}


                    </td>
                </tr>


                <tr>
                    <th scope="row"> Pan no</th>
                    <td>
                        {{associate.pan_no}}
                    </td>
                </tr>


                {% if user.user_type == 1 %}



                <tr>
                    <td>
                       <!--  <a href="{% url 'owner:associate_terminate' id=associate.id %}" class="btn btn-danger">Terminate
                            Associate</a> -->
                    </td>
                    <td>

                        {% if associate.is_payment_on_hold == False %}
                        <a href="{% url 'owner:associate_HoldPayments' id=associate.id  %}" class="btn btn-primary">Hold
                            Payments</a>
                        {% else %}
                        <a href="{% url 'owner:associate_releasePayments' id=associate.id  %}" class="btn btn-info">Release
                                Payments</a>
                        {% endif %}

                        {% if associate.status %}
                        <a href="{% url 'owner:associate_suspend' id=associate.id %}"
                            class="btn btn-warning">Suspend</a>
                        {% else %}
                        <a href="{% url 'owner:associate_activate' id=associate.id %}"
                            class="btn btn-success">Activate</a>
                        {% endif %}



                    </td>
                </tr>
                {% endif %}
                {% if user.user_type is not 7 %}
                <tr>
                    <td>
                        <h3> BANK DETAILS</h3>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Bank Name</th>
                    <td>
                        {{associate.bank_name}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Account Number</th>
                    <td>
                        {{associate.account_no}}
                    </td>
                </tr>
                <tr>
                    <th scope="row">IFSC Code</th>
                    <td>
                        {{associate.ifsc_code}}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
</div>
<h2 class=" text-center">Network</h2>
<div class="d-flex justify-content-center">
    <div class="p-2">
        <div class="card text-white" style="max-width: 18rem;
               background-image: linear-gradient(to right top, #00b164, #00c15e, #00d254, #00e245, #00f22c);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;">SALE CONVERTS</h5>
                <br>
                <p class="card-text" style="font-size: 28pt">
                    <script>
                        var count = 0;
                        var total = 0;
                        var flag = false;
                    </script>
                    {% for customer in customers_list %}
                    <script>
                        flag = false;
                    </script>
                    {% for property in properties %}

                    {% if property.customer_ref_id == customer.id %}
                    <script>
                        flag = true;
                    </script>

                    {% endif %}

                    {% endfor %}
                    <script>
                        if (flag) {
                            count++;
                        }
                        total++;
                    </script>
                    
                    {% endfor %}
                    <script>
                        document.write(count)
                    </script>
                    Clients
                </p>

            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card text-white" style="
        max-width: 18rem;
        background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                ">PROSPECTS</h5>
                <br>
                <p class="card-text" style="font-size: 28pt">
                    <script>
                        document.write(total - count);
                    </script>
                    Clients
                </p>

            </div>
        </div>
    </div>


</div>


<!-- <h2 class="text-center">Buisness</h2>
<div class="d-flex justify-content-center">
    <div class="p-2">
        <div class="card text-white" style="
        max-width: 18rem;
        background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                ">LIFETIME</h5>
                <br>
                <p class="card-text" style="font-size: 28pt">
                    &#8377; 42,000
                </p>

            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card text-white"
            style="max-width: 18rem;
         background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;">THIS MONTH</h5>
                <br>
                <p class="card-text" style="font-size: 28pt">
                    &#8377; 42,000
                </p>

            </div>
        </div>
    </div>

</div> -->
<div class="row">
    <div class="col-12">
        <button class="btn btn-lg btn-primary float-right btn-fab btn-fab-mini btn-round" style=" color: azure"
            onclick="downloadPDF()"><i class="fas fa-file-download"></i></button>
        <table id="myTable" class="myTable flex-table table">
            <thead class="thead-dark">
                <tr>
                    <th>Booking <br> ID</th>
                    <th>Booking Date</th>
                    <th>Site <br> Name</th>
                    <th>Plot Number</th>
                    <th>Payment Plan</th>
                    <th>Customer Name</th>
                    <th>Associate</th>
                    <th>Sale Value</th>
                    <th>Paid Amount</th>
                    <th>Balance Amount</th>

                </tr>
            </thead>
            <tbody>
                {% for entry in sales %}


                <tr>
                    <td>
                        {{entry.sale.id}}
                    </td>
                    <td>{{entry.sale.createdAt|date:'d-m-Y'}} </td>
                    <td>{{entry.sale.property_ref.section_ref.project_ref.name}}</td>
                    <td>
                        {{entry.sale.property_ref.section_ref.section_prefix}}-{{entry.sale.property_ref.serial_no}}
                        {% if entry.sale.property_ref.status_code == 'B' %}
                        <span class="badge badge-danger ml-2">Booked</span>
                        {% elif entry.sale.property_ref.status_code == 'A' %}
                        <span class="badge badge-primary ml-2">Alloted</span>
                        {% elif entry.sale.property_ref.status_code == 'R' %}
                        <span class="badge badge-default ml-2">Registered</span>

                        {% endif %}

                    </td>
                    <td>

                        {% if entry.sale.property_ref.emi_plan == 0 %}
                        Full Payment
                        {% elif entry.sale.property_ref.emi_plan == 1 %}
                        1 Year Plan
                        {% elif entry.sale.property_ref.emi_plan == 2 %}
                        2 Year Plan
                        {% elif entry.sale.property_ref.emi_plan == 3 %}
                        3 Year Plan
                        {% endif %}
                    </td>
                    <td>{{entry.sale.property_ref.customer_ref.name}}</td>
                    <td>{{entry.sale.associate_ref.name}}</td>
                    {% load humanize %}
                    <td>{{entry.sale.amount|intcomma}}</td>
                    {% load mathfilters %}
                    <td>{{entry.balance|intcomma}}</td>
                    <td>{{entry.sale.amount|sub:entry.balance|intcomma}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row ">
                <div class="col-lg-12">
                    <h3>Downlines</h3>
                  <table class="myTable flex-table table">
              
                    <thead>
                      <tr>
                        <th>AID</th>
                        <th>Name</th>
                        <th>Date of Joining</th>
                        <th>Status</th>
                        <th>No of Downlines</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% load mathfilters %}
                      {% for downline in downlines %}
                      <tr>
                        <td data-label="AID">{{downline.user.username}} </td>
                        <td data-label="Associate Name">{{downline.name}}</td>
              
                        <td data-label="Date of Joining">
                          {{downline.createdAt|date}}
                        </td>
                        <td data-label="Status">
                          {% if downline.status %}
                          <div class="badge badge-success">
                            <i class="fas fa-check-circle"></i>
                            Active</div>
                          {% else %}
                          <div class="badge badge-danger">
                            <i class="fas fa-times"></i>
                            Suspended</div>
                          {% endif %}
                        </td>
                        <td data-label="No of Downlines">
                          <script> var count = 0;</script>
                          {% for item in downlines %}
                          {% if item.parent_id == downline.id%}
                          <script>count++;
                          </script>
                          {% endif %}
                          {% endfor %}
                          <script>document.write(count);</script>
                        </td>
                       
                        <td data-label="Actions">
              
                          {% if user.user_type is not 7 %}
                            <a class="btn btn-sm  btn-info" href="{% url 'owner:associate_view' id=associate.id %}">
                              <i class="far fa-eye"></i>
                            </a>
                            {% if user.user_type == 1 or user.user_type == 2 %}
                              <a class="btn btn-sm  btn-warning" href="{% url 'owner:associate_edit' id=associate.id %}">
                                <i class="far fa-edit"></i>
                              </a>
                              {% endif %}
              
                              {% if user.user_type == 1 %}
              
              
                              {% if associate.status %}
                              <a class="btn btn-sm  btn-danger" href="{% url 'owner:associate_suspend' id=associate.id %} ">
                                <i class="fas fa-user-slash"></i>
                              </a>
                              {% else %}
                              <a class="btn btn-sm  btn-success" href="{% url 'owner:associate_activate' id=associate.id %} ">
                                <i class="fas fa-user"></i>
                              </a>
              
                              {% endif %}
                            {% endif %}
                          {% endif %}
                          <!-- ASSOCIATe -->
                          {% if user.user_type == 7  %}
                          <a class="btn btn-sm  btn-info" href="{% url 'associate:downline_view' id=associate.id %}">
                              <i class="far fa-eye"></i>
                            </a>
                          {% endif %}
                            
              
              
              
              
              
                        </td>
              
                      </tr>
                      {% endfor %}
              
                    </tbody>
              
                  </table>
                </div>
              
              </div>
              
             
        <script>
            $(document).ready(function () {
                $('.myTable').DataTable(
                    {
                        "order": [[0, "desc"]]
                    }
                );

            });
            function downloadPDF() {
                $("#myTable").tableHTMLExport({

                    // csv, txt, json, pdf
                    type: 'csv',

                    // file name
                    filename: '{{associate.user.username}}.csv'

                });
            }
        </script>
    </div>
</div>
{% endblock %}


{% load static %}