{% extends "base.html" %}
{% block title %}
Add Associate
{% endblock title %}
<!-- heading  -->
{% block heading %}
Add Associate
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}

<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h4 class="text-danger">All fields are mandatory including photos</h3>

        {% load crispy_forms_tags %}
        <table>
            <form action="" method="post" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail img-raised">
                     <img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                    <div>
                     <span class="btn btn-raised btn-round btn-default btn-file">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="photo" id="photo"/>
                     </span>
                         <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                         <i class="fa fa-times"></i> Remove</a>
                    </div>
                 </div>
                <span class="text-danger" style="color: red; font-weight: 400; font-size: 10pt;">This field is required</span>

                 <br>
                 Select Title: 
                 <select name="title" id="">
                     <option value="Mr">Mr</option>
                     <option value="Ms">Ms</option>
                     <option value="Mrs">Mrs</option>
                 </select>
                 <br>
                <span class="text-danger" style="color: red; font-weight: 400; font-size: 10pt;">This field is required</span>
                {{form.first_name|as_crispy_field}}
                {{form.last_name|as_crispy_field}}
                <br>
                Gender:
                {{form.gender}}
                <div class="form-group">
                    <label class="label-control">Date Of Birth</label>
                    <input type="text" id="date" onblur="change()" class="form-control datetimepicker" />
                    <input type="hidden" id='date_value' name='date_of_birth'>
                    <input type="hidden" name="password" id="pwd">
                </div>
                <span class="text-danger" style="color: red; font-weight: 400; font-size: 10pt;">This field is required</span>
                {{form.uplineID|as_crispy_field}}
                <span class="text-danger" style="color: red; font-weight: 400; font-size: 10pt;">This field is required</span>
                {{form.contact_no|as_crispy_field}}
                {{form.alternate_no|as_crispy_field}}
                {{form.email|as_crispy_field}}
                {{form.address|as_crispy_field}}
                {{form.pincode|as_crispy_field}}
             
                <br>
                <h4>Bank Details</h4>
                {{form.bank_name|as_crispy_field}}
                {{form.branch_name|as_crispy_field}}
                {{form.account_no|as_crispy_field}}
                {{form.pan_no|as_crispy_field}}
                {{form.ifsc_code|as_crispy_field}}
                <button class="btn btn-default" type="button" onclick="sb()" style="background-color:#007bff ">Submit</button>

            </form>
     
        </table>
    </div>
    <div class="col-3"></div>

</div>

<script>

    $(function () {
        $('.datetimepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            },
                });
    });
    var data_ref= document.getElementById('date');
    data_ref.on
    function change()
    {
        data_ref.addEventListener('change',getData());
    }
    
    function getData() {
        var data= document.getElementById('date').value
        var arr=data.substr(0,10).split('/')
        document.getElementById('date_value').value=arr[2]+"-"+arr[0]+"-"+arr[1];
        document.getElementById('pwd').value="pwd"+arr[1]+arr[0]+arr[2];
        
    }
    $(document).ready(function(){
        document.getElementById('id_ifsc_code').style.textTransform='uppercase';   
        document.getElementById('id_uplineID').style.textTransform='uppercase';
        document.getElementById('id_pan_no').style.textTransform='uppercase';
        document.getElementById('id_first_name').style.textTransform='capitalize';
        document.getElementById('id_last_name').style.textTransform='capitalize';
        document.getElementById('id_address').style.textTransform='capitalize';
        document.getElementById('id_bank_name').style.textTransform='capitalize';
        document.getElementById('id_branch_name').style.textTransform='capitalize';
      
        var pan_no =document.getElementById('id_pan_no');
        $("#form").submit(function (e) {
        //stop submitting the form to see the disabled button effect
        e.preventDefault();
        });

        
   
});
    function sb() {
        console.log(document.getElementById('photo').value);
        console.log(document.getElementById('id_first_name').value);
        console.log(document.getElementById('id_last_name').value);
        console.log(document.getElementById('date').value);
        console.log(document.getElementById('id_uplineID').value);
        console.log(document.getElementById('id_contact_no').value);
        console.log(document.getElementById('id_alternate_no').value);
        console.log(document.getElementById('id_email').value);
        console.log(document.getElementById('id_address').value);
        console.log(document.getElementById('id_pincode').value);
        console.log(document.getElementById('id_bank_name').value);
        console.log(document.getElementById('id_branch_name').value);
        console.log(document.getElementById('id_account_no').value);
        console.log(document.getElementById('id_pan_no').value);
        console.log(document.getElementById('id_ifsc_code').value);
        var error="";
        var error_count=0;
        if(document.getElementById('photo').value=="")
        {   error_count++;
            error+="\n"+("Add a Photo");
        }
        if(document.getElementById('id_first_name').value=="")
        {
            error_count++;
            error+="\n"+("Enter First Name");
        }
        if(document.getElementById('id_last_name').value=="")
        {
            error_count++;
            error+="\n"+("Enter Last Name");
        }
        if(document.getElementById('date').value=="")
        {
            error_count++;
            error+="\n"+("Enter Date of birth");
        }
        if(document.getElementById('id_uplineID').value=="")
        {
            error_count++;
            error+="\n"+("Enter Upline ID");
        }
        if(document.getElementById('id_contact_no').value=="")
        {
            error_count++;
            error+="\n"+("Enter Contact no");
        }
        if(document.getElementById('id_contact_no').value!=""&document.getElementById('id_contact_no').value.length!=10)
        {
            error_count++;
            error+="\n"+("Invalid Contact no");
        }
        if(document.getElementById('id_alternate_no').value!=""
        &&document.getElementById('id_alternate_no').value.length!=10)
        {
            error_count++;
            error+="\n"+("Invalid Alternate mobile no");
        }
        if(document.getElementById('id_alternate_no').value=="")
        {
            error_count++;
            error+="\n"+("Enter Alternate Contact no");
        }
        if(document.getElementById('id_email').value=="")
        {
            error_count++;
            error+="\n"+("Enter email Address");
        }
        if(document.getElementById('id_address').value=="")
        {
            error_count++;
            error+="\n"+("Enter Address");
        }
        if(document.getElementById('id_pincode').value=="")
        {
            error_count++;
            error+="\n"+("Enter Pin Code");
        }
        if(document.getElementById('id_pincode').value.length!=6)
        {
            error_count++;
            error+="\n"+("Invalid Pin Code");
        }
        if(document.getElementById('id_bank_name').value=="")
        {
            error_count++;
            error+="\n"+("Enter Bank Name");
        }
        if(document.getElementById('id_branch_name').value=="")
        {
            error_count++;
            error+="\n"+("Enter Branch Name");
        }
        if(document.getElementById('id_account_no').value=="")
        {
            error_count++;
            error+="\n"+("Enter Bank Account Number");
        }
        if(document.getElementById('id_pan_no').value=="")
        {
            error_count++;
            error+="\n"+("Enter Pan number");
        }
        if(document.getElementById('id_pan_no').value!="")
        {   
            
            var pana=document.getElementById('id_pan_no').value;
            var pan_apha=pana.substr(0, 5)+pana.charAt(9);
            var pan_num=pana.substr(5,4)
            var letters = /^[A-Za-z]+$/;
            var number= /^[0-9]*$/;
           // error+="\n"+(pan_num.match(number));
            if ((pan_apha.match(letters)==null)|pan_num.match(number)==null|pana.length!=10) {
            error_count++;
            error+="\n"+("Invalid Pan number");
            }
            
        }
        if(document.getElementById('id_ifsc_code').value=="")
        {
            error_count++;
            error+="\n"+("Enter IFSC Code");
        }
        if((document.getElementById('id_ifsc_code').value.length!=11)&(document.getElementById('id_ifsc_code').value!=""))
        {
            error_count++;
            error+="\n"+("Invalid IFSC Code");
        }
        if (error_count>0) {
            window.alert(error);
           
        }
        if (error_count==0) {
            console.log(error_count);
            document.getElementById('form').submit();
        }
    }
</script>





{% endblock %}