{% extends "base.html" %}
{% block title %}
Edit Associate
{% endblock title %}
<!-- heading  -->
{% block heading %}
Edit Associate
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">


        {% load crispy_forms_tags %}
        <table>

            

                <div class="fileinput fileinput-new text-center" id="add-img" data-provides="fileinput">
                    <div class="fileinput-new thumbnail img-raised">
                        <img src="{%get_media_prefix%}{{associate.photo}}" alt="...">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                    <div>

                    </div>
                </div>
                <br>
                <form action="{% url 'owner:associate_edit_photo' id=associate.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="photo" id="photo"/>
                    <button type="submit" class="btn btn-sm btn-rose" >Change Image</button>
                </form>
                <div id="input-container">
   
                
                </div>
                <br>
                <br>
                <form action="" method="post" id="form" enctype="multipart/form-data">
                    {% csrf_token %}
                Select Title:
                <select name="title" id="">
                    <option value="Mr">Mr</option>
                    <option value="Ms">Ms</option>
                    <option value="Mrs">Mrs</option>
                </select>
                {{form.first_name|as_crispy_field}}
                {{form.last_name|as_crispy_field}}
                {{form.gender|as_crispy_field}}
                <div class="form-group">
                    <label class="label-control">Datetime Picker</label>
                    <input type="text" id="date" onblur="change()" class="form-control datetimepicker" />
                    <input type="hidden" id='date_value' name='date_of_birth'>
                    <input type="hidden" name="password" id="pwd">
                </div>
                {{form.uplineID|as_crispy_field}}
                {{form.contact_no|as_crispy_field}}
                {{form.alternate_no|as_crispy_field}}
                {{form.email|as_crispy_field}}
                {{form.address|as_crispy_field}}
                {{form.pincode|as_crispy_field}}

                <br>

                <h4>Bank Details</h4>
                {{form.bank_name|as_crispy_field}}
                {{form.branch_name|as_crispy_field}}
                {{form.account_no|as_crispy_field}}
                {{form.pan_no|as_crispy_field}}
                {{form.ifsc_code|as_crispy_field}}
                <button class="btn btn-default" type="button" onclick="sb()"
                    style="background-color:#007bff ">Submit</button>

            </form>

        </table>
    </div>
    <div class="col-3"></div>

</div>

<script>

    function addPhoto() {
        var input = document.createElement("input");
        input.type = "file";
        input.name = "photo";
        input.id = "photo";
        
        var container = document.getElementById('input-container');
        container.appendChild(input);
        //.innerHTML=' <input type="file" name="photo" id="photo"/>'
    }
    $(function () {
        $('.datetimepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            },
        });
    });
    var data_ref = document.getElementById('date');
    data_ref.on
    function change() {
        data_ref.addEventListener('change', getData());
    }

    function getData() {
        var data = document.getElementById('date').value
        var arr = data.substr(0, 10).split('/')
        document.getElementById('date_value').value = arr[2] + "-" + arr[0] + "-" + arr[1];
        document.getElementById('pwd').value = "pwd" + arr[1] + arr[0] + arr[2];

    }
    $(document).ready(function () {

        //document.getElementById('photo').value="{{associate.photo}}";
        document.getElementById('id_first_name').value = "{{associate.user.first_name}}";
        document.getElementById('id_last_name').value = "{{associate.user.last_name}}";
        document.getElementById('date').value = "{{associate.date_of_birth}}";
        document.getElementById('id_gender').value = "{{associate.gender}}";
        document.getElementById('id_uplineID').value = "{{associate.parent.user.username}}";
        document.getElementById('id_contact_no').value = "{{associate.contact_no}}";
        document.getElementById('id_alternate_no').value = "{{associate.alternate_no}}";
        document.getElementById('id_email').value = "{{associate.email}}";
        document.getElementById('id_address').value = "{{associate.address}}";
        document.getElementById('id_pincode').value = "{{associate.pincode}}";
        document.getElementById('id_bank_name').value = "{{associate.bank_name}}";
        document.getElementById('id_branch_name').value = "{{associate.branch_name}}";
        document.getElementById('id_account_no').value = "{{associate.account_no}}";
        document.getElementById('id_pan_no').value = "{{associate.pan_no}}";
        document.getElementById('id_ifsc_code').value = "{{associate.ifsc_code}}";


        document.getElementById('id_ifsc_code').style.textTransform = 'uppercase';
        document.getElementById('id_uplineID').style.textTransform = 'uppercase';
        document.getElementById('id_pan_no').style.textTransform = 'uppercase';
        document.getElementById('id_first_name').style.textTransform = 'capitalize';
        document.getElementById('id_last_name').style.textTransform = 'capitalize';
        document.getElementById('id_address').style.textTransform = 'capitalize';
        document.getElementById('id_bank_name').style.textTransform = 'capitalize';
        document.getElementById('id_branch_name').style.textTransform = 'capitalize';

        var pan_no = document.getElementById('id_pan_no');
        $("#form").submit(function (e) {
            //stop submitting the form to see the disabled button effect
            e.preventDefault();
        });



    });
    function sb() {

        var error = "";
        var error_count = 0;
        /*  if(document.getElementById('photo').value=="")
         {   error_count++;
             error+="\n"+("Add a Photo");
         } */
        if (document.getElementById('id_first_name').value == "") {
            error_count++;
            error += "\n" + ("Enter First Name");
        }
        if (document.getElementById('id_last_name').value == "") {
            error_count++;
            error += "\n" + ("Enter Last Name");
        }
        if (document.getElementById('date').value == ""|document.getElementById('date').value == "None") {
            error_count++;
            error += "\n" + ("Enter Date of birth");
        }
        if (document.getElementById('id_uplineID').value == "") {
            error_count++;
            error += "\n" + ("Enter Upline ID");
        }
        if (document.getElementById('id_contact_no').value == "") {
            error_count++;
            error += "\n" + ("Enter Contact no");
        }
        if (document.getElementById('id_contact_no').value != "" & document.getElementById('id_contact_no').value.length != 10) {
            error_count++;
            error += "\n" + ("Invalid Contact no");
        }
        if (document.getElementById('id_alternate_no').value != ""
            & document.getElementById('id_alternate_no').value.length != 10) {
            error_count++;
            error += "\n" + ("Invalid Alternate mobile no");
        }
        if (document.getElementById('id_alternate_no').value == "") {
            error_count++;
            error += "\n" + ("Enter Alternate Contact no");
        }
        if (document.getElementById('id_email').value == "") {
            error_count++;
            error += "\n" + ("Enter email Address");
        }
        if (document.getElementById('id_address').value == "") {
            error_count++;
            error += "\n" + ("Enter Address");
        }
        if (document.getElementById('id_pincode').value == "") {
            error_count++;
            error += "\n" + ("Enter Pin Code");
        }
        if (document.getElementById('id_pincode').value.length != 6) {
            error_count++;
            error += "\n" + ("Invalid Pin Code");
        }
        if (document.getElementById('id_bank_name').value == "") {
            error_count++;
            error += "\n" + ("Enter Bank Name");
        }
        if (document.getElementById('id_branch_name').value == "") {
            error_count++;
            error += "\n" + ("Enter Branch Name");
        }
        if (document.getElementById('id_account_no').value == "") {
            error_count++;
            error += "\n" + ("Enter Bank Account Number");
        }
        if (document.getElementById('id_pan_no').value == "") {
            error_count++;
            error += "\n" + ("Enter Pan number");
        }
        if (document.getElementById('id_pan_no').value != "") {

            var pana = document.getElementById('id_pan_no').value;
            var pan_apha = pana.substr(0, 5) + pana.charAt(9);
            var pan_num = pana.substr(5, 4)
            var letters = /^[A-Za-z]+$/;
            var number = /^[0-9]*$/;
            // error+="\n"+(pan_num.match(number));
            if ((pan_apha.match(letters) == null) | pan_num.match(number) == null | pana.length != 10) {
                error_count++;
                error += "\n" + ("Invalid Pan number");
            }

        }
        if (document.getElementById('id_ifsc_code').value == "") {
            error_count++;
            error += "\n" + ("Enter IFSC Code");
        }
        if ((document.getElementById('id_ifsc_code').value.length != 11) & (document.getElementById('id_ifsc_code').value != "")) {
            error_count++;
            error += "\n" + ("Invalid IFSC Code");
        }
        if (error_count > 0) {
            window.alert(error);
            
        }
       else if (error_count == 0) {
            console.log(error_count);
            document.getElementById('form').submit();
        }
    }
</script>





{% endblock %}