{% extends "base.html" %}
{% block title %}
My associates
{% endblock title %}
<!-- heading  -->
{% block heading %}
My associates
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}

<div class="row ">
  <div class="col-lg-12">
    <table id="myTable" class="flex-table table">

      <thead>
        <tr>
          <th>AID</th>
          <th>Name</th>
          <th>Date of Joining</th>
          <th>Status</th>
          <th>Downlines</th>
          <th>Listed Customers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% load mathfilters %}
        {% for associate in associate_list %}
        <tr>
          <td data-label="AID">{{associate.user.username}} </td>
          <td data-label="Associate Name">{{associate.name}}</td>

          <td data-label="Date of Joining">
            {{associate.createdAt|date}}
          </td>
          <td data-label="Status">
            {% if associate.status %}
            <div class="badge badge-success">
              <i class="fas fa-check-circle"></i>
              Active</div>
            {% else %}
            <div class="badge badge-danger">
              <i class="fas fa-times"></i>
              Suspended</div>
            {% endif %}
          </td>
          <td data-label="No of Downlines">
            <script> var count = 0;</script>
            {% for item in associate_list %}
            {% if item.parent_id == associate.id%}
            <script>count++;
            </script>
            {% endif %}
            {% endfor %}
            <script>document.write(count);</script>
          </td>
          <td data-label="Listed Customers">
            <script> count = 0;</script>
            {% for item in customers %}
            {% if item.associate_ref.id == associate.id%}
            <script>count++;
            </script>
            {% endif %}
            {% endfor %}
            <script>document.write(count);</script>
          </td>
          <td data-label="Actions">

            {% if user.user_type is not 7 %}
              <a class="btn btn-sm  btn-info" href="{% url 'owner:associate_view' id=associate.id %}">
                <i class="far fa-eye"></i>
              </a>
              {% if user.user_type == 1 or user.user_type == 2 %}
                <a class="btn btn-sm  btn-warning" href="{% url 'owner:associate_edit' id=associate.id %}">
                  <i class="far fa-edit"></i>
                </a>
                {% endif %}

                {% if user.user_type == 1 %}


                {% if associate.status %}
                <a class="btn btn-sm  btn-danger" href="{% url 'owner:associate_suspend' id=associate.id %} ">
                  <i class="fas fa-user-slash"></i>
                </a>
                {% else %}
                <a class="btn btn-sm  btn-success" href="{% url 'owner:associate_activate' id=associate.id %} ">
                  <i class="fas fa-user"></i>
                </a>

                {% endif %}
              {% endif %}
            {% endif %}
            <!-- ASSOCIATe -->
            {% if user.user_type == 7  %}
            <a class="btn btn-sm  btn-info" href="{% url 'associate:downline_view' id=associate.id %}">
                <i class="far fa-eye"></i>
              </a>
            {% endif %}
              





          </td>

        </tr>
        {% endfor %}

      </tbody>

    </table>
  </div>

</div>

<script>
  $(document).ready(function () {
    $('#myTable').DataTable({
      "pagingType": "full_numbers"
    });
  });
</script>
{% endblock %}


{% load static %}