{% extends "base.html" %}
{% block title %}

{% endblock title %}
<!-- heading  -->
{% block heading %}

{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<span style="font-size: 10pt; color: red;">To filter by date:- 
        use yyyymmdd format eg: 20190712 for july 12, 2019 <br>
        To filter by month:- 
        use yyyymm format eg: 201907 for july 2019 <br>
        To filter by year:- 
        use yyyy format eg: 2019 for  2019</span>
{% endblock %}


{% load static %}
