{% extends "base.html" %}
{% block title %}
Dashboard
{% endblock title %}
<!-- heading  -->
{% block heading %}
Dashboard
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}

<!--######################################################### 
    code for notifications -->
<iframe id="myFrame" src="/default.asp" style="display:none;"></iframe>
<script>
        var array=[]
        </script>
{% if messages %}
{% for message in messages %}
     <script>
     array.push({tags:"{{message.tags}}", msg:"{{message}}"});
     </script>
{% endfor %}
{% endif %}
<script>
document.getElementById("myFrame").addEventListener("load", myFunction);

function myFunction() {
  //document.getElementById("demo").innerHTML = "Iframe is loaded.";
 
  array.forEach(element => {
    if (element.tags=='error') {
        element.tags='danger';
    }
    showNotification(element.msg,element.tags);
    console.log(element) 
  });
  
}
    
function showNotification(msg, type){

$.notify({
    icon: "add_alert",
    message: msg

},{
    type: type,
    timer: 4000,
    placement: {
        from: 'top',
        align: 'center',
    }
});
}</script>
<!-- code for notifications 
############################################################################################
-->
{% endblock %}



