{% extends "base.html" %}
{% block title %}
Update My Profile
{% endblock title %}
<!-- heading  -->
{% block heading %}
Update My Profile
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {% load widget_tweaks %}
                 {{form|crispy}}
        <!--     
            photo=models.ImageField(upload_to='images/associate/',blank=True, null=True)
             -->
             <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
             </div>
                
                </form>
            </div>
                </form>

{% endblock %}


{% load static %}