{% extends "base.html" %}
{% block title %}

{% endblock title %}
<!-- heading  -->
{% block heading %}

{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}



<!-- Main Conent -->
{% block content %}
{% if error %}
{% url 'associate:home' as home %}
<script>
    window.location.replace('{{home}}');
</script>
{% endif %}
<div class="row ">
    <div class="col-lg-12">
           
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {% load widget_tweaks %}
            Name: {% render_field form.name class="form-control" %} <br>
            Upline Associate ID:
            <!-- <input type="text" class="form-control" name="associate_ref" id="associate_ref"> -->
            <br>
            {% render_field form.upline class="form-control" %} 
            Contact Number:
            {% render_field form.contact_no class="form-control" %} <br>            
            Alternate Number
            {% render_field form.alternate_no class="form-control" %} <br>
            Address
            {% render_field form.address class="form-control" %}
            <input type="hidden" name="user" value="{{user.id}}">
            <input type="hidden" name="email" value="{{user.username}}">
            Upload your Photo:
            {% render_field form.photo class="form-control" %}
<!--     
    photo=models.ImageField(upload_to='images/associate/',blank=True, null=True)
     -->
     <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
     </div>
        
        </form>
    </div>

</div>
{% endblock %}


{% load static %}