{% extends "base.html" %}
{% block title %}
My Upline
{% endblock title %}
<!-- heading  -->
{% block heading %}
<h2>Your Upline</h2>
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}

<!-- Main Conent -->
{% block content %}
<div class="row ">
    <div class="col-lg-12">
            {% if associate.parent.id == associate.id %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-danger h4" role="alert"
                style="font-weight: 400"
                >
                  <span class="h3"
                  style="font-weight: 400"
                  > No parent to show.</span> <br>
                    <br>
                     You are seniormost Associate
                </div>

            </div>
        <div class="row">

          

            {% else %}
            <div class="col-sm-4 mr-auto">

                <img src="{% get_media_prefix %}{{associate.parent.photo}}" alt="Raised Image"
                    class="img-raised rounded img-fluid" style="height: 200px; width: 200px;">
            </div>
            <div class="col-sm-8 mr-auto">
                <h3 id="associate_name">{{associate.parent.name}}</h3>
                <p> <strong>Phone:</strong>
                    <span>{{associate.parent.country_code}} {{associate.parent.contact_no}}

                    </span></p>
                <p> <strong>Alternate Phone:</strong>
                    <span>{{associate.parent.country_code}} {{associate.parent.contact_no}}

                    </span></p>
                <p> <strong>Email:</strong> <span>{{associate.parent.email}}</span></p>
                <p> <strong>Address:</strong> <span>{{associate.parent.address}}</span></p>
                <p> <strong>Status:</strong>
                    <!-- <span class="badge badge-pill badge-success">Active</span> -->
                    <!--  <span class="badge badge-pill badge-warning">Suspended</span>-->

                    {% if associate.parent.status %}
                    <span class="badge badge-pill badge-success">
                        <i class="fas fa-check-circle"></i>
                        Active</span>
                    {% else %}
                    <span class="badge badge-pill badge-danger">
                        <i class="fas fa-times"></i>
                        Suspended</span>
                    {%endif%}
            </div>

        </div>
        {% endif %}



    </div>
</div>

{% endblock %}


{% load static %}