{% extends "base.html" %}
{% block title %}
{{project.project_name}} Project
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{project.project_name}} Project
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% block content %}


<div class="row">
  {% load static %}
    {% for project in projects %}
    <div class="col-lg-4 col-12">
        <div class="card">
            <img class="card-img-top"
             src="{% get_media_prefix %}{{project.cover_image}} " 
             style="height: 200px;"
             alt="Card image cap">
            
             <div class="card-body">
                <h4 class="card-title mb-3">{{project.name}} </h4>
                <p class="card-text">
                        <i class="fas fa-map-marker"></i> {{project.locality}}, {{project.city}}
                </p>
                <br>
                {% if user.user_type == 7 %}
                {% url 'associate:project_view' id=project.id as url %}
                {% else %}
                {% url 'owner:project_view' id=project.id as url %}
                {% endif %}
                <a href="{{url}}" class="btn btn-sm btn-primary"> <i class="fas fa-eye"></i> View</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-lg-4 col-12">
      
      {% if user.user_type == 1 or user.user_type == 2 %}
      <div class="card"
      style="background-image: url('https://images.unsplash.com/photo-1498334643776-355dec02782b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');
              background-position: center;
              background-size: cover;
              height: 300px;
      ">         
              
               
                   <div class="d-flex flex-row justify-content-center" style="margin-top: 30%;">
                     <div></div>
                      <div class="p-3 align-self-end ">
                         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Add Projects
                          </button>
                      </div>
                  </div>   
                  
  
                
              </div>
          </div>
  
      {% endif %}
        
    
        </div>
  
</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Projects</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="" method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                     {{form|crispy}} 
              
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
           
        </form>
          </div>
        
        </div>
      </div>
{% endblock %}
<!-- Button trigger modal -->

      
      

