{% extends "base.html" %}
{% block title %}
{{property.section_ref.project_ref.name}} Property
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{property.section_ref.project_ref.name}} Project - {{property.section_ref.name}} - Property
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header" style="background-image: url('{% get_media_prefix %}{{property.section_ref.project_ref.cover_image}}');
                    background-position: center;
                    background-size: cover;
                    height: 300px;
            ">

    </div>
    <div class="d-flex justify-content-center ">
      <div class="p-5"></div>
      <div class="p-2 flex-fill">

        <form class="" action="" method="POST">
          {% csrf_token %}
          {% load crispy_forms_tags %}

          {% load widget_tweaks %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}


          Serial Number: {% render_field form.serial_no class="form-control" %} <br>
          Change Status:
          {% render_field form.status_code class="form-control" %} <br>
          Select Customer 
          {% render_field form.section_ref class="form-control d-none" %} <br>
          {% render_field form.customer_ref class="form-control" %} <br>
          Select Price Rule
          {% render_field form.price_rule class="form-control" %}
          <span class="form-text text-muted" style="font-size: 10pt;
                font-weight: 500;
                text-transform: capitalize;
                ">
            {% for price in price_rules %}
            Rule {{price.id}} : {{price.name}} at {{price.premium_price}}% premium <br>
            {% endfor %}
          </span>

          <button type="submit" class="btn btn-primary btn-sm"
            onclick='swal({ title:"Project Updated!",timer: 2000, text: "You clicked the button!", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'>Update</button>
        </form>

        <!-- markup -->

        <!-- for more actions that you can use onclick, please check out assets/demo/js/demo.js -->
      </div>
      <div class="p-5"></div>
    </div>
  </div>
</div>
</div>

{% endblock %}


{% load static %}
<!--     <table class="table">
                     <thead>
                         <tr>
                             <td>Name</td>
                             <td>Value</td>


                          </tr>
                     </thead>
                      <tbody>
                              {{ form.as_table }} 
                      </tbody>
              </table> -->
<!-- <div class="form-row">
                <div class="form-group bmd-form-group col-auto mb-0">
                    {{ form.serial_no|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
        font-weight: 500;
        text-transform: capitalize;
        ">
                        Example: 1,2 3
                    </span>
                </div>

                <input type="hidden" name="section_ref" value="{{section.id}}">
            </div>
            <div class="form-row">
                <div class="form-group bmd-form-group col-auto mb-0">
                    {{ form.status_code|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
        font-weight: 500;
        text-transform: capitalize;
        ">
                        Example: vacant
                    </span>
                </div>
                <div class="form-group bmd-form-group col-auto mb-0">
                    {{ form.cust_id|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
    font-weight: 500;
    text-transform: capitalize;
    ">
                        Example: Customer id-1
                    </span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group bmd-form-group col-auto mb-0">
                    {{ form.price_rule|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
                font-weight: 500;
                text-transform: capitalize;
                ">
                                {% for price in price_rules %}
                                Rule {{price.id}} : {{price.name}} at {{price.premium_price}}% premium <br>
                                {% endfor %}
                            </span>
                   
                </div>
                <br>
                
            </div> -->
<!-- <div class="form-row mb-3">
              <label class="col-3 col-form-label" for="exampleFormControlSelect1" required="" id="id_price_rule"> Select </label>
              <div class="col-9">
                <div class="form-group has-default bmd-form-group">
                  <select class="form-control" name="price_rule" data-style="btn btn-link" id="exampleFormControlSelect1">
                    {% for price in price_rules %}
                    <option value="{{price.id}}">Rule {{price.id}} : {{price.name}}</option>
                    {% endfor %}
                   
                    </select>
                    
                </div>
                <br>
            
                
              </div>
            </div> -->


<!--  <div class="form-group">
              <label for="exampleFormControlSelect1">Example select</label>
             
              </select>
            </div> -->
<!-- {{form|crispy}} -->
<!--    {% for field in form.visible_fields %}

            <div class="form-row mb-3">
              <label class="col-3 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              <div class="col-9">
                <div class="form-group has-default bmd-form-group">                
              
                {{ field|add_class:'form-control ' }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              </div>
              </div>
            {% endfor %} 
          serial_no= models.IntegerField()
    status_code=models.CharField(max_length=1, choices=STATUS)
    cust_id=models.ForeignKey(Customer, on_delete=models.CASCADE, blank=True, null=True)
    section_ref= models.ForeignKey(Section, on_delete=models.CASCADE)
    price_rule
          -->