{% extends "base.html" %}
{% block title %}
{{property.section_ref.project_ref.name}} Property
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{property.section_ref.project_ref.name}} Project - {{property.section_ref.name}} - Property
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% load static %}
{% block content %}
<div class="card">
  <div class="card-header" style="background-image: url('{% get_media_prefix %}{{property.section_ref.project_ref.cover_image}}');
                background-position: center;
                background-size: cover;
                height: 300px;
        ">
   
  </div>
  <div class="card-body">
    <table class="table ml-1 mr-1">
      <tbody>
          
        <tr>
          <th scope="row">Property ID</th>
          
          <td>{{property.id}}</td>
        </tr>
        <tr>
          <th scope="row">Property Serial Number</th>
          
          <td>{{property.section_ref.section_prefix}}-{{property.serial_no}}</td>
        </tr>
        <tr>
          <th scope="row">Status Code</th>
          
          <td>  {% if property.status_code == "V"  %}
              <span class="badge  badge-pill badge-success">Vacant</span>
              {% elif property.status_code == "H" %}
              <span class="badge badge-pill badge-warning">Hold</span>
              {% elif property.status_code == "B" %}
              <span class="badge badge-pill badge-danger">Booked</span>
              {% elif property.status_code == "A" %}
              <span class="badge badge-pill badge-primary">Alloted</span>
              {% else  %}
              <span class="badge badge-pill badge-secondary">Registered</span>
            {% endif %}</td>
        </tr>
        <tr>
            <th scope="row">Project</th>
            
            <td>{{property.section_ref.project_ref.name}}</td>
        </tr>
        <tr>
            <th scope="row">Section</th>
           
            <td>{{property.section_ref.name}}</td>
        </tr>
        <tr>
            <th scope="row">Dimensions</th>
            
            <td>{{property.section_ref.dimensions}} ft</td>
        </tr>
        <tr>
            <th scope="row">Total Area</th>
            
            <td>{{property.section_ref.area}} sq. ft </td>
        </tr>
        <tr>
            <th scope="row">Price Rule</th>
            
            <td>{{property.price_rule.name}}</td>
        </tr>
        <tr>
            <th scope="row">Price per square Feet</th>
            <td>
                {% load mathfilters %}
            {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                    &#8377; {{cost|mul:factor}}</td>
              {% endwith %}
            
        </tr>
        <tr>
            <th scope="row">Total Cost</th>
            <td>
                {% load mathfilters %}
                {% load humanize %}
            {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                    &#8377; {{cost|mul:factor|mul:property.section_ref.area|intcomma}}</td>
              {% endwith %}
            
        </tr>
        
        <tr>
            <th scope="row">Customer Name</th>
            
            <td>
              
              {% if property.customer_ref %}
             
              {% if property.customer_ref.associate_ref_id == associate.id and user.user_type == 7%}
              <a href="{% url 'associate:customer_view' id=property.customer_ref_id %}">
                  {{property.customer_ref.name}}</a>
              {% elif  user.user_type == 7 %}
              {{property.customer_ref.name}}
              {% else %}
              <a href="{% url 'owner:customer_view' id=property.customer_ref_id %}"> {{property.customer_ref.name}}</a>
              {% endif %}
              {% else %}
              <span class="text-danger" style="font-weight: 500; font-size: 9pt;">NONE</span>
              {% endif %}
                
              
            </td>
          </tr>
      
          
      </tbody>
    </table>
    
    {% if user.user_type == 1 or user.user_type == 2 %}
    <div class="d-flex justify-content-center">
        <div class="p-2">
          <a href="{% url 'owner:property_edit' id=property.id %} " class="btn btn-sm btn-warning">
            <i class="far fa-edit"></i>
            Edit
          </a>
        </div>  
      </div>      
    {% endif %}
      
   
  </div>
</div>
{% endblock %}


{% load static %}
