{% extends "base.html" %}
{% block title %}
PLC Rules
{% endblock title %}
<!-- heading  -->
{% block heading %}
PLC Rules
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row">
    <div class="col-12">
        
        {% if user.user_type == 1 %}
        <a href="{% url 'owner:plcRules_create' %}" class="btn btn-primary">Add New Rule</a>  
        {% endif %}
            

        <div class="card-body">
            <table class="table ml-1 mr-1">

                <thead class="thead-dark">
                    <tr>
                         <th>Serial No</th>
                        <th>PLC</th>
                        <th>Premium Percent</th>
                        {% if user.user_type == 1 %}
                        <th>Action</th>
                            
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    
                    {% for rule in rules %}
                        <tr>
                            <td>
                                {{rule.id}}
                            </td>
                            <td>{{rule.name}} </td>
                            <td>{{rule.premium_price}}% </td>
                            {% if user.user_type == 1 %}
                            <td>
                                <a href="{% url 'owner:plcRules_edit' id=rule.id %}" class="btn btn-sm btn-warning">EDIT</a>
                            </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}