{% extends "base.html" %}
{% block title %}
{{project.name}} Project
{% endblock title %}
<!-- heading  -->
{% block heading %}
{{project.name}} Project
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<div class="row ">
  {% load static %}
  <div class="col-12">
    <div class="card">
      <div class="card-header" style="background-image: url('{% get_media_prefix %}{{project.cover_image}}');
                    background-position: center;
                    background-size: cover;
                    height: 300px;
            ">
        <div class="bg-dark">

        </div>
      </div>
      <div class="card-body">
        <table class="table ml-1 mr-1">
          <tbody>
            <tr>
              <th scope="row">Project ID</th>
              <td></td>
              <td>{{project.id}}</td>
            </tr>
            <tr>
              <th scope="row">Project Name</th>
              <td></td>
              <td>{{project.name}}</td>
            </tr>
            <tr class="">

              <th scope="row">Category</th>
              <td></td>
              <td>
                {% if project.category == "R"%}
                <span class="text-primary">Residential</span>
                {% elif project.category == "C"%}
                <span class="badge badge-danger">Commercial</span>
                {% else%}
                <span class="badge badge-warning">Others</span>
                {% endif %}

              </td>
            </tr>
            <tr>
              <th scope="row">Project Locality</th>
              <td></td>
              <td>{{project.locality}}</td>
            </tr>
            <tr>
              <th scope="row">Project Address</th>
              <td></td>
              <td>{{project.project_address}},{{project.city}}-{{project.pin_code}}</td>
            </tr>
            <tr>
              <th scope="row">Project Status</th>
              <td></td>
              <td>
                {% if project.is_active %}
                <span class="badge badge-success">Active</span>
                {% else%}
                <span class="badge badge-danger">Not active</span>
                {% endif %}
              </td>
            </tr>

            <tr>
              <th scope="row">Project Description</th>
              <td></td>
              <td>{{project.description}}</td>
            </tr>
            <!-- <tr>
              <th scope="row">GPS Geocode</th>
              <td></td>
              <td>lat:{{project.geo_code_lat}}, long:{{project.geo_code_long}}</td>
            </tr> -->

          </tbody>
        </table>

      </div>
      <div class="p-3 align-self-center ">

        {% if user.user_type == 1 or user.user_type == 2 %}
        <button type="button" class="btn btn-sm btn-primary m-1" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-plus-circle"></i>
          Add Sections
        </button>
        <a href="{% url 'owner:project_edit' id=project.id %} " class="btn btn-warning btn-sm float-left m-1">
          <i class="far fa-edit"></i>
          Edit Project</a>
        {% endif %}

        {% if user.user_type == 1  %}
        <button class="btn btn-sm m-1 float-right btn-danger" onclick="del()">
          <i class="far fa-trash-alt"></i>
          Delete
        </button>
        <script>
          function del() {
            swal({
              title: "Are you sure?",
              text: "You wont be able to revert this!",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#00C851",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, delete it!",
              confirmButtonClass: "btn btn-success"
            }).then((result) => {
              if (result.value) {
                Swal.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                )
                window.location = "{% url 'owner:project_delete' id=project.id %}";
              }
            })
              ;

          }
        </script>
        {% endif %}

      </div>
      <hr>
    </div>
    <script>
      var sectionArr = [];
    </script>
    {% for section in sections %}
    <script>
      sectionArr.push(
        {
          name: '{{section.name}}',
          section_prefix: '{{section.section_prefix}}',
          dimensions: '{{section.dimensions}}',
          area: '{{section.area}}',
          cost_per_unit: '{{section.cost_per_unit}}',
        }
      )
    </script>
    {% endfor %}
    <script>
      console.log(sectionArr);
    </script>


    <div class="card mt-3">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">BLOCKS:</span>
            <ul class="nav nav-tabs" data-tabs="tabs">

              <script>
                sectionArr.forEach(element => {
                  document.write("<li class=\"nav-item\">"
                    + "<a class=\"nav-link show\" href=\"#" + element.section_prefix + "\"data-toggle=\"tab\">"
                    + "<i class=\"material-icons\">landscape</i>" + element.name
                    + "<div class=\"ripple-container\"></div>"
                    + "<div class=\"ripple-container\"></div></a>"
                    + "</li>")

                });
              </script>
            </ul>
          </div>
        </div>
      </div>
      <!-- ########################################################################################################################
                            PROPERTY TABLE
  -->
      <div class="card-body">

        <div class="tab-content">
          {% for section in sections %}
          <script>
            sectionArr.push(
              {
                name: '{{section.name}}',
                section_prefix: '{{section.section_prefix}}',
                dimensions: '{{section.dimensions}}',
                area: '{{section.area}}',
                cost_per_unit: '{{section.cost_per_unit}}',
              }
            )
          </script>

          <!--  <script>
      sectionArr.forEach(element => {
        document.write(" <div class=\"tab-pane\" id=\""+element.section_prefix+"\">"        
        +element.section_prefix
        +"</div>");

      });
      </script> -->

          {% if section.section_prefix == 'A' %}
          <div class="tab-pane active" id="{{section.section_prefix}}">
            {% else %}
            <div class="tab-pane" id="{{section.section_prefix}}">
              {% endif %}


              <div class="d-flex flex-row justify-content-center mt-3 mb-3">

                {% if user.user_type == 7 %}
                {% url 'associate:section_view' proid=project.id id=section.id as url_s %}
                {% else %}
                {% url 'owner:section_view' proid=project.id id=section.id as url_s %}
                {% endif %}

                <a class="btn btn-sm btn-outline-primary" href="{{url_s}}">
                  <i class="far fa-eye"></i>
                  View Section Details</a>
              </div>
              <table class=" myTable flex-table table table-striped ">
                <thead>
                  <tr>
                    <th>Serial No.</th>
                    <th>Price Rule</th>
                    <th>Cost per Unit</th>
                    <th>Status</th>
                    <th>Customer Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% load mathfilters %}
                  {% for property in properties %}
                  {% if property.section_ref_id == section.id %}
                  <tr>
                    <td data-label="Serial No" data-order="{{property.serial_no}}">
                      {{section.section_prefix}}-{{property.serial_no}} </td>
                    <td data-label="Price Rule">{{property.price_rule.name}}</td>
                    <td data-label="Cost per Unit">
                      {% with cost=section.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                      &#8377; {{cost|mul:factor}}</td>
                    {% endwith %}
                    <td data-label="Status">
                      {% if property.status_code == "V"  %}
                      <span class="badge  badge-success">Vacant</span>
                      {% elif property.status_code == "H" %}
                      <span class="badge  badge-warning">Hold</span>
                      {% elif property.status_code == "B" %}
                      <span class="badge  badge-danger">Booked</span>
                      {% elif property.status_code == "A" %}
                      <span class="badge  badge-primary">Alloted</span>
                      {% else  %}
                      <span class="badge  badge-secondary">Registered</span>
                      {% endif %}
                      <!--  -->
                    </td>
                    <td data-label="Customer Name">
                      {% if property.customer_ref %}
                      {% if property.customer_ref.associate_ref_id == associate.id and user.user_type == 7%}
                      <a href="{% url 'associate:customer_view' id=property.customer_ref_id %}">
                        {{property.customer_ref.name}}</a>
                      {% elif  user.user_type == 7 %}
                      {{property.customer_ref.name}}
                      {% else %}
                      <a
                        href="{% url 'owner:customer_view' id=property.customer_ref_id %}">{{property.customer_ref.name}}</a>
                      {% endif %}
                      {% else %}
                      <span class="text-danger" style="font-weight: 500; font-size: 9pt;">NONE</span>
                      {% endif %}
                    </td>





                    <td data-label="Actions">

                      {% if user.user_type == 7 %}
                      <a class="btn btn-sm   btn-info" href="{% url 'associate:property_view' id=property.id %} ">
                        <i class="far fa-eye"></i>
                      </a>
                      {% else %}
                      <a class="btn btn-sm   btn-info" href="{% url 'owner:property_view' id=property.id %} ">
                        <i class="far fa-eye"></i>
                      </a>
                      {% endif %}


                      {% if user.user_type == 1 or user.user_type == 2 %}
                      <a class="btn btn-sm  btn-warning" href="{% url 'owner:property_edit' id=property.id %} ">
                        <i class="far fa-edit"></i>
                      </a>
                      {% endif %}

                      {% if user.user_type == 1 %}
                      <a class="btn btn-sm  btn-danger" href="{% url 'owner:property_delete' id=property.id %}">
                        <i class="far fa-trash-alt"></i>
                      </a>
                      {% endif %}




                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}

                </tbody>
              </table>
              <script>
                $(document).ready(function () {
                  $('.myTable').DataTable();
                });
              </script>

            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endblock %}

      {% block modal %}
      <!-- Modals Start -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Sections</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="" method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                <!--  {{form|crispy}} -->
                <div class="form-row">
                  <div class="form-group col-auto mb-0">
                    {{ form.name|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
                font-weight: 500;
                text-transform: capitalize;
                ">
                      Example: Section A
                    </span>
                  </div>
                  <input type="hidden" name="project_ref" value="{{project.id}}">
                </div>
                <div class="form-row">
                  <div class="form-group col-auto mb-0">
                    {{ form.dimensions|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
                font-weight: 500;
                text-transform: capitalize;
                ">
                      Example: 45 x 30 In feets
                    </span>
                  </div>
                  <div class="form-group col-auto mb-0">
                    {{ form.section_prefix|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
            font-weight: 500;
            text-transform: capitalize;
            ">
                      Example: A in A-1
                    </span>
                  </div>

                </div>
                <div class="form-row">
                  <div class="form-group col-auto mb-0">
                    {{ form.area|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
                font-weight: 500;
                text-transform: capitalize;
                ">
                      Example: 500 In square feets
                    </span>
                  </div>
                  <div class="form-group col-auto mb-0">
                    {{ form.cost_per_unit|as_crispy_field }}
                    <span class="form-text text-muted" style="font-size: 10pt;
            font-weight: 500;
            text-transform: capitalize;
            ">
                      Example: &#8377; 600 per square feets
                    </span>
                  </div>


                </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>

            </form>
          </div>

        </div>
      </div>
      {% endblock %}
      <!-- Button trigger modal -->