{% extends "home-base.html" %}
{% block title %}
Plot Availablity |
{% endblock title %}
{% load static %}
{% block body %}
<style>
  .sect-tab {
    width: 100px;
    height: 100px !important;
    background-color: #fff !important;
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 9pt !important;
    /*   border-radius: 5px!important;                               
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; */
  }
</style>



{% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
{% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>Plot Availablity</h1>

          <h3 class="title text-center">{{company.name}} </h3>
         
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">

      <div class="d-flex flex-row justify-content-between mb-3">
        <div class="p2"></div>
        <h2 class="">{{project.project_name}} Project </h2>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Change Project
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for project in project_list%}
            <a class="dropdown-item" href="{% url 'project:availability' id=project.id %}">{{project.project_name}} </a>
            {% endfor %}


          </div>
        </div>

      </div>
      {% include 'avail-temp.html' %}



      



    </div>
  </div>
</div>
{% endblock %}