{% extends "home-base.html" %}
<!-- change here -->
{% block title %}
Booking |
{% endblock title %}
{% load static %}
{% block body %}
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>
<!-- <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.css" /> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
 <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
 <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

 <!-- Add Firebase products that you want to use -->
 <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
 <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-firestore.js"></script>

 <script src="{%static "js/login.config.js"%}"></script>
{% url 'customers:login' as login_url %}
<script type="text/javascript">
  const auth = firebase.auth();
  initApp = function () {
    auth.onAuthStateChanged(function (user) {
      if (user) {
        var phoneNumber = user.phoneNumber;   
        console.log( phoneNumber);  
          var countryCode="";
          var phone=0;
          if (phoneNumber.slice(0,3)=="+91") {
            countryCode=+91
            console.log("INDIA");
            phone=parseInt(phoneNumber.slice(3,phoneNumber.length));
          }
          else if(phoneNumber.slice(0,2)=="+1")
          {
            countryCode=+1
            console.log("USA")
            phone=parseInt(phoneNumber.slice(2,phoneNumber.length));
          }
          else if(phoneNumber.slice(0,4)=="+971")
          {
            countryCode=+971
            phone=parseInt(phoneNumber.slice(4,phoneNumber.length));
            console.log("UAE")
          }
          
          if (phone!=0) {
            window.onload(get(phone));
            console.log("phone is not null");
          } else {
            console.log("phone is null");
            window.onload(get(1234));
            }
      
         
        } else {
          // User is signed out.          
         window.location.replace('{{login_url}}');
        window.onload(get(0));

        }
      }, function(error) {
        console.log(error);
      });
    };

    window.addEventListener('load', function() {
      initApp();
    });
   submit= document.querySelector('#btn');
  // submit.disabled = state;



        
        function get(phone) {
         
         
            URL = ""
            if (window.location.hostname == "localhost") {
                URL = window.location.protocol + '//' + window.location.hostname + ":" + window.location.port
                console.log(window.location.protocol);
            }
            else {

                URL = window.location.protocol + '//' + window.location.hostname
            }
            http = null;
            URL = URL + "/api/customer/get/"+phone;
            console.log(URL);

            if (window.XMLHttpRequest) {
                // code for modern browsers
                http = new XMLHttpRequest();
            } else {
                // code for old IE browsers
                http = new ActiveXObject("Microsoft.XMLHTTP");
            }

            http.responseType = 'json';
            http.open("GET", URL, true);
            
            http.send();
            
            http.onreadystatechange = (e) => 
            {
                if (http.readyState == 4 && http.status == 200) 
                {
                buffer= http.response;
                data=JSON.parse(JSON.stringify(buffer));
                console.log("a");
                console.log(data[0]);

                if (data[0]==null) {
                    console.log("nulla")
                  //  window.location.replace('{{login}} ');
                }
                else
                {
                    //window.location.replace('/customers/home/'+data[0].id);
                    submit=document.getElementById('btn');
                    customerID=data[0].id;
                    submit.disabled=false;
                    submit.innerHTML='<i class="fa fa-bolt fa-lg"></i><span class="ml-2">Submit</span>';                   
                    console.log(data[0]);
                    
                    document.getElementById("customer_ref").value=customerID;
                }
                }
                
            /*     buffer= http.response;
                data=JSON.parse(JSON.stringify(buffer));
                //http.responseType = 'json';
                var body = http.response;
                //console.log(http.responseText);
                console.log(data[0].name); */
            }
        }

    </script>
    
{% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{{company.bg_url}}')">
    {% else %}
    <div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <div class="brand text-center">
                            <!-- change here -->
                            <h1> Booking </h1>
                            <h3 class="title text-center">{{company.name}} </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <table class="table ml-1 mr-1">
                    <tbody>


                        <tr>
                            <th scope="row">Property Serial Number</th>

                            <td>{{property.section_ref.section_prefix}}-{{property.serial_no}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Status Code</th>

                            <td> {% if property.status_code == "V"  %}
                               
                                <span class="badge  badge-pill badge-success">Vacant</span>
                                {% elif property.status_code == "H" %}
                                <span class="badge badge-pill badge-warning">Hold</span>
                                {% elif property.status_code == "B" %}
                                <span class="badge badge-pill badge-danger">Booked</span>
                                {% elif property.status_code == "A" %}
                                <span class="badge badge-pill badge-primary">Alloted</span>
                                {% else  %}
                                <span class="badge badge-pill badge-secondary">Registered</span>
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row">Project</th>

                            <td>{{property.section_ref.project_ref.project_name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Section</th>

                            <td>{{property.section_ref.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Dimensions</th>

                            <td>{{property.section_ref.dimensions}} ft</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Area</th>

                            <td>{{property.section_ref.area}} sq. ft </td>
                        </tr>
                        <tr>
                            <th scope="row">Price Rule</th>

                            <td>{{property.price_rule.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Price per square Feet</th>
                            <td>
                                {% load mathfilters %}
                                {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                                &#8377; {{cost|mul:factor}}</td>
                            {% endwith %}

                        </tr>
                        <tr>
                            <th scope="row">Total Cost</th>
                            <td>
                                {% load mathfilters %}
                                {% load humanize %}
                                {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                                &#8377; {{cost|mul:factor|mul:property.section_ref.area|intcomma}}</td>
                            {% endwith %}

                        </tr>





                    </tbody>
                </table>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}

                    <input type="hidden" name="property_ref" value="{{property.id}}">
                    <input type="hidden" id="customer_ref" name="customer_ref" value="">
                    <input type="hidden" id="booking_date" name="booking_date" value="">
                    <input type="hidden" id="booking_revoke_date" name="booking_revoke_date" value="">
                   <!--  <input type="hidden"  name="status" value="True"> -->
                    {% if property.status_code == "V"  %}
                    <button type="submit" id="btn" 
                    onclick="del()"
                    disabled="disabled";
                    class="btn btn-primary ">
                    <i class="fas fa-lg fa-sync fa-spin"></i>
                    <span class="ml-2"> Loading...</span>
                         
                    </button>             
 </form>
                {% else %}
                <a 
                class="btn btn-info"
                onclick="del()">Info</a>
                {% endif %}
                  <!--   It is {% now "jS F Y H:i" %} -->
                <script>
                        function del() {
                          swal({
                            title: "Booking Successfull",
                            text: "This property is on hold for 24 hours",
                            type: "success",
                            
                          })
                            ;
              
                        }
                        
                     
                    var d = new Date(); // for now
                    var newDay=new Date();
                    var utc=d.getUTCMonth();
                   // newDay.setDate(newDay.getDate() + 2);
                    console.log(d.getMonth());
                    d.getHours(); // => 9
                    d.getMinutes(); // =>  30
                    d.getSeconds();
                    /* var data= newDay.getUTCFullYear()
                    +"-"+newDay.getUTCMonth()
                    +"-"+newDay.getUTCDate()
                    +" "+(newDay.getUTCHours())
                    +":"+(newDay.getUTCMinutes())
                    +":"+(newDay.getUTCSeconds());
                    var data2= newDay.getUTCFullYear()
                    +"-"+newDay.getUTCMonth()
                    +"-"+(newDay.getUTCDate()+1)
                    +" "+(newDay.getUTCHours())
                    +":"+(newDay.getUTCMinutes())
                    +":"+(newDay.getUTCSeconds()); */
                    var data= newDay.getFullYear()
                    +"-"+(newDay.getMonth()+1)
                    +"-"+newDay.getDate()
                    +" "+(newDay.getHours())
                    +":"+(newDay.getMinutes())
                    +":"+(newDay.getSeconds());
                    var data2= newDay.getFullYear()
                    +"-"+(newDay.getMonth()+1)
                    +"-"+(newDay.getDate()+1)
                    +" "+(newDay.getHours())
                    +":"+(newDay.getMinutes())
                    +":"+(newDay.getSeconds());
                    document.getElementById("booking_revoke_date").value=data2;
                    document.getElementById("booking_date").value=data;
                   // document.write("<P>"+data2+"<p>")
                </script>
            </div>
        </div>
    </div>

    {% endblock %}