{% extends "home-base.html" %}
{% block title %}
Projects |
{% endblock title %}
{% load static %}
{% block body %}

{% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 400px;
background-image: url('{% get_media_prefix %}{{company.bg_upload}}')">
{% endif %}

   <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Projects</h1>       
            <h3 class="title text-center">{{company.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised ">
    <div class="container ">

            <div class="d-flex flex-row justify-content-center">
                    <div class="p-2">

                            <ul class="nav nav-pills nav-pills-icons" role="tablist">
                                    <!--
                                                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                                -->
                                    <li class="nav-item">
                                      <a class="nav-link active" href="#all" role="tab" data-toggle="tab">
                                        <i class="material-icons">dashboard</i> All
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link " href="#residential" role="tab" data-toggle="tab">
                                        <i class="material-icons">home</i> Residential
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#commercial" role="tab" data-toggle="tab">
                                        <i class="material-icons">store</i> Commercial
                                      </a>
                                    </li>
                            </ul>
                    </div>
                    
             </div>
             
                  <div class="tab-content tab-space">
                    <div class="tab-pane active" id="all">
                        {% for project in project_list%}
                       
                       

                        <div class="card card-plain card-blog">
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="card-header card-header-image">
                                      <img class="img img-raised" src="{% get_media_prefix %}{{project.cover_image}}">
                                    <div class="colored-shadow" style="background-image: url('{% get_media_prefix %}{{project.cover_image'); opacity: 1;"></div></div>
                                  </div>
                                  <div class="col-md-8">
                                        {% if project.category == 'C' %}
                                        <h6 class="card-category text-danger">Commercial</h6>
                                     
                                      {% elif project.category == 'R' %}
                                      <h6 class="card-category text-info">Residential</h6>
                                      {% endif %}
                                    <h3 class="card-title">
                                      <a href="#pablo"> {{project.name}}</a>
                                    </h3>
                                    <p class="card-">
                                            <i class="material-icons">location_on</i> {{project.locality}}                
                                    </p>
                                   
                                    <p class="card-description  ml-4">
                                       {{project.description}}                
                              </p>
                              
                                    
                                    <p class="author">
                                      <a href="{% url 'project:project_profile' id=project.id %} " class="btn btn-primary text-white">Know More</a>
                                    </p>
                                  </div>
                                </div>
                              </div>
                        {% endfor %}
                            
                    
                    </div>
                    <div class="tab-pane" id="residential">
                            {% for project in Residential_list%}
                       
                       

                            <div class="card card-plain card-blog">
                                    <div class="row">
                                      <div class="col-md-4">
                                        <div class="card-header card-header-image">
                                          <img class="img img-raised" src="{% get_media_prefix %}{{project.cover_image}}">
                                        <div class="colored-shadow" style="background-image: url('{% get_media_prefix %}{{project.cover_image'); opacity: 1;"></div></div>
                                      </div>
                                      <div class="col-md-8">
                                            {% if project.category == 'C' %}
                                            <h6 class="card-category text-danger">Commercial</h6>
                                         
                                          {% elif project.category == 'R' %}
                                          <h6 class="card-category text-info">Residential</h6>
                                          {% endif %}
                                        <h3 class="card-title">
                                          <a href="#pablo"> {{project.project_name}}</a>
                                        </h3>
                                        <p class="card-">
                                                <i class="material-icons">location_on</i> {{project.locality}}                
                                        </p>
                                        <p class="card-description  ml-4">
                                          {{project.description}}                
                                       </p>
                                        
                                        <p class="author">
                                            <a href="{% url 'project:project_profile' id=project.id %} " class="btn btn-primary text-white">Know More</a>
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                            {% endfor %}
                    </div>
                    <div class="tab-pane" id="commercial">
                            {% for project in Commercial_list%}
                       
                       

                        <div class="card card-plain card-blog">
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="card-header card-header-image">
                                      <img class="img img-raised" src="{% get_media_prefix %}{{project.cover_image}}">
                                    <div class="colored-shadow" style="background-image: url('{% get_media_prefix %}{{project.cover_image'); opacity: 1;"></div></div>
                                  </div>
                                  <div class="col-md-8">
                                        {% if project.category == 'C' %}
                                        <h6 class="card-category text-danger">Commercial</h6>
                                     
                                      {% elif project.category == 'R' %}
                                      <h6 class="card-category text-info">Residential</h6>
                                      {% endif %}
                                    <h3 class="card-title">
                                      <a href="#pablo"> {{project.project_name}}</a>
                                    </h3>
                                    <p class="card-">
                                            <i class="material-icons">location_on</i> {{project.locality}}                
                                    </p>
                                    <p class="card-description ml-4">
                                      {{project.description}}                
                                   </p>
                                    
                                    <p class="author">
                                        <a href="{% url 'project:project_profile' id=project.id %} " class="btn btn-primary text-white">Know More</a>
                                    </p>
                                  </div>
                                </div>
                              </div>
                        {% endfor %}
                    </div>
                  </div>
      <div class="section">
        
           
      </div>
      </div>
    </div>
  </div>

  {% endblock %}