{% extends "home-base.html" %}
{% block title %}
{{project.project_name}} Project |
{% endblock title %}
{% load static %}
{% block body %}

<!-- {% if company.use_url %}
<div class="page-header header-filter" data-parallax="true" style="height: 600px;
background-image: url('{{company.bg_url}}')">
{% else %}
<div class="page-header header-filter" data-parallax="true" style="height: 600px;
background-image: url('{{company.bg_upload}}')">
{% endif %}
 -->
<style>
  .sect-tab {
    width: 100px;
    height: 100px !important;
    background-color: #fff !important;
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 15pt !important;
    /*   border-radius: 5px!important;                               
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; */
  }
</style>

<div class="page-header header-filter" data-parallax="true" style="height: 600px;
background-image: url('{% get_media_prefix %}{{project.cover_image}}')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>{{project.project_name}} Project</h1>
          <h3 class="title text-center">{{company.name}} </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container ">
      <script>
          var array=[];  
          </script>
          
            
  
    <script>
    console.log(array)
    </script>
    <div class="card card-nav-tabs card-plain ">

      <div class="card-header card-header-danger">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="d-flex justify-content-center">


          <div class="nav-tabs-navigation">

            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#overview" data-toggle="tab" marked="1">Project Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#layout" data-toggle="tab" marked="1">Layout Plan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#availability" data-toggle="tab" marked="1"> Plot availability</a>
                </li>

                <!--   <li class="nav-item">
                  <a class="nav-link" href="#gallery" data-toggle="tab" marked="1">Gallery</a>
                </li> -->

                <li class="nav-item">
                  <a class="nav-link" href="#location" data-toggle="tab" marked="1">Location</a>
                </li>
                <!--  <li class="nav-item ">
                    <a class="nav-link font-weight-bold" href="#booking" data-toggle="tab" marked="1"> 
                      <i class="fas fa-cart-arrow-down"></i>

                      Book Plots</a>
                  </li> -->

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">



      <!--    <h2 class="title">Your main section here</h2> -->
      <div class="card-body ">
        <div class="tab-content text-center">
          <div class="tab-pane active" id="overview">
            <h3 class="title">Details</h3>
            <p>
              {{project.description}}
              <br>
              The Awadh Nagar Project is located on-
              <span style="text-decoration: underline;">{{project.project_address}}</span>
            </p>
            <h3 class="float-left">Amenities :-</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <span> 50/30 ft Wide Road</span>
              </li>
              <li class="list-group-item">
                <span> Street Light</span>
              </li>
              <li class="list-group-item">
                <span> Boundry Wall </span>
              </li>
              <li class="list-group-item">
                <span> Gated Security</span>
              </li>
              <li class="list-group-item">
                <span>Electric Pole</span>
              </li>
              <li class="list-group-item">
                <span>Shopping Center</span>
              </li>
              <li class="list-group-item">
                <span>Commercial Center</span>
              </li>
              <li class="list-group-item">
                <span>School</span>
              </li>
              <li class="list-group-item">
                <span>Hospital</span>
              </li>
            </ul>
            <br>
            <h3 class=" float-left">PLC RULES :-</h3>
            <ul class="list-group">

              {% for rule in pricerules %}
              <li class="list-group-item">{{rule.name}} at {{rule.premium_price}}% premium </li>
              <script>
                  array.push(
                    {"id":parseInt("{{rule.id}}"),
                    "premium":(parseInt("{{rule.premium_price}}")+100)/100 ,
                  }
                  )
                  </script>
              {% endfor %}

            </ul>

          </div>
          <div class="tab-pane" id="layout">
            {% if project.layout %}
            <a href="{% get_media_prefix %}{{project.layout}}" target="_blank" class="btn btn-primary btn-sm">
              <i class="far fa-eye"></i>View in Fullscreen
            </a>

            <div class="embed-responsive embed-responsive-16by9">
              <embed class="embed-responsive-item" src="{% get_media_prefix %}{{project.layout}}" width="500"
                height="375" type="application/pdf">

            </div>
            {% else %}
            <img src="{% static "images/icon/coming-soon.png" %} " alt="coming-soom" srcset="">
            {% endif %}
          </div>
          <div class="tab-pane" id="availability">
              {% include 'avail-temp.html' %}
          </div>

          <!-- location tab ends -->
          <div class="tab-pane mb-0" id="location" style="margin-bottom: 0px;">
            <h3 style="margin-top: 0px;">Location</h3>
            <div id="map" class="img-fluid" style="
              margin-top: 0px;
              background: rgb(0,0,0);
              background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, 
              rgba(118,120,131,0.5) 47%, rgba(155,170,173,0.5) 97%);"></div>
          </div>
          <!-- location tab ends -->
          <!-- booking tab -->
          <div class="tab-pane mb-0" id="booking" style="margin-bottom: 0px;">
           
          </div>
          <!-- booking tab ends -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  var lat_data = "{{ project.geo_code_lat }}";
  var long_data = "{{ project.geo_code_long }}";
  var lat = parseFloat(lat_data);
  var long = parseFloat(long_data);
   // var name={{project.project_name}};

</script>
<script>
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: lat, lng: long },
      zoom: 17
    });
    var marker = new google.maps.Marker({
      position: { lat: lat, lng: long },
      map: map,
      animation: google.maps.Animation.DROP,
      title: name
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxOObb0By5BM4mOnXupd795TEkzobgwf8&callback=initMap" async
  defer></script>


</script>
{% endblock %}