{% extends "base.html" %}
{% block title %}
Salesbook
{% endblock title %}
<!-- heading  -->
{% block heading %}
Salesbook
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
{% load humanize %}
<!-- Main Conent -->
{% block content %}
<div class="row">
    <div class="col-12">
        <!-- amount=models.IntegerField()
    property_ref=models.ForeignKey(Property,on_delete=models.SET_NULL,blank=True, null=True)
    associate_ref=models.ForeignKey(Associate,on_delete=models.SET_NULL,blank=True, null=True)
    status=models.BooleanField(default=False)
    createdAt= models.DateTimeField(auto_now_add=True) -->
        <table id="myTable" class="flex-table table">
            <thead class="thead-dark">
                <tr>
                    <!--  <th>Serial No</th> -->
                    <th>Date</th>
                    <th>Property Code</th>
                    <th>Associate Name</th>
                    <th>Customer Name</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <script>
                    var i = 0;
                </script>
                {% for item in sales %}
               



                <tr>
                    <!-- <td data-label="Serial NO">
                        <span style="display: none"> </span>
                        <script>document.write(++i);
                        </script></td> -->
                        <td data-label="Date">
                                <span style="display: none;">{{item.createdAt|date:"Ymd" }}
                                    YYYYMMDD</span> {{item.createdAt|date:"d M Y" }}
                        </td>
                        <td data-label="Property Code">{{item.property_ref.section_ref.section_prefix}}-{{item.property_ref.serial_no}}</td>
                        <td data-label="Associate Name">{{item.associate_ref.name}}</td>
                        <td data-label="Customer Name">{{item.property_ref.customer_ref.name}} </td>
                        <td data-label="Sale Amount">&#8377; {{item.amount|intcomma}} </td>
                        <td data-label="Action">
                            <a href="{% url 'owner:booking_receipt' id=item.id %}" 
                            class="btn btn-sm btn-info">
                            <i class="fas fa-eye"></i> View </a>
                            </td>

                  
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable(
            {
                "order": [[0, "desc"]]
            }
        );
    });
</script>
</div>
</div>
{% endblock %}