{% extends "base.html" %}
{% block title %}
Booking Receipt
{% endblock title %}
<!-- heading  -->
{% block heading %}
Booking Receipt
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% load static %}
{% block content %}
<div class="card">
    <div class="card-header" style="background-image: url('{% get_media_prefix %}{{sales.property_ref.section_ref.project_ref.cover_image}}');
                  background-position: center;
                  background-size: cover;
                  height: 300px;
          ">
    </div>
    {% load humanize %}

    <div class="card-body">
        <table id="myTable" class="table ml-1 mr-1">
            <thead>
                <th>Head</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Date of Booking</td>
                    <td>{{sales.createdAt|date:"d M Y" }}</td>

                </tr>
                <tr>
                    <td scope="row">Property ID</td>

                    <td>{{sales.property_ref.id}}</td>
                </tr>
                <tr>
                    <td scope="row">Property Serial Number</td>

                    <td>{{sales.property_ref.section_ref.section_prefix}}-{{sales.property_ref.serial_no}}</td>
                </tr>
                <tr>
                    <td scope="row">Status Code</td>

                    <td> {% if sales.property_ref.status_code == "V"  %}
                        <span class="badge  badge-pill badge-success">Vacant</span>
                        {% elif sales.property_ref.status_code == "H" %}
                        <span class="badge badge-pill badge-warning">Hold</span>
                        {% elif sales.property_ref.status_code == "B" %}
                        <span class="badge badge-pill badge-danger">Booked</span>
                        {% elif sales.property_ref.status_code == "A" %}
                        <span class="badge badge-pill badge-primary">Alloted</span>
                        {% else  %}
                        <span class="badge badge-pill badge-secondary">Registered</span>
                        {% endif %}</td>
                </tr>
                <tr>
                    <td scope="row">Project</td>

                    <td>{{sales.property_ref.section_ref.project_ref.name}}</td>
                </tr>
                <tr>
                    <td scope="row">Section</td>

                    <td>{{sales.property_ref.section_ref.name}}</td>
                </tr>
                <tr>
                    <td scope="row">Dimensions</td>

                    <td>{{sales.property_ref.section_ref.dimensions}} ft</td>
                </tr>
                <tr>
                    <td scope="row">Total Area</td>

                    <td>{{sales.property_ref.section_ref.area}} sq. ft </td>
                </tr>
                <tr>
                    <td scope="row">Price Rule</td>

                    <td>{{sales.property_ref.price_rule.name}}</td>
                </tr>
                <tr>
                    <td scope="row">Price per square Feet</td>
                    <td>
                        {% load mathfilters %}
                        {% with area=sales.property_ref.section_ref.area %}
                        Rs {{sales.amount|div:area}}</td>

                    {% endwith %}

                </tr>
                <tr>
                    <td scope="row">Total Cost</td>
                    <td>
                        {% load mathfilters %}
                        {% load humanize %}

                        Rs {{sales.amount|intcomma}}
                    </td>

                </tr>
                <tr>
                    <td scope="row">Customer Name</td>
                    <td scope="row">
                        {{sales.property_ref.customer_ref.name}}
                    </td>

                </tr>

            </tbody>
        </table>




        <div class="d-flex justify-content-center">
            <div class="p-2">
                <a class="btn btn-primary text-white btn-lg" onclick="downloadPDF()"> Download</a>
            </div>
        </div>




        <script>
            $(document).ready(function () {
                $('.myTable').DataTable(
                    {
                        "order": [[0, "desc"]]
                    }
                );

            });
            function downloadPDF() {
                $("#myTable").tableHTMLExport({

                    // csv, txt, json, pdf
                    type: 'pdf',

                    // file name
                    filename: '{{sales.property_ref.section_ref.section_prefix}}-{{sales.property_ref.serial_no}}-{{sales.property_ref.section_ref.project_ref.name}}-booking-receipt.pdf'

                });

            }
            function downloadPDF2() {
                var doc = new jsPDF()

                doc.text('Hello world!', 10, 10)
                doc.save('a4.pdf')
            }



        </script>

        <script>

        </script>





    </div>
    {% endblock %}


    {% load static %}