{% extends "base.html" %}
{% block title %}
Point Of Sales
{% endblock title %}
<!-- heading  -->
{% block heading %}
Point Of Sales
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% load static %}
{% block content %}
<div class="card">
    <div class="card-header" style="background-image: url('{% get_media_prefix %}{{property.section_ref.project_ref.cover_image}}');
                  background-position: center;
                  background-size: cover;
                  height: 300px;
          ">

    </div>
    
   
        
    <div class="card-body">
        <table class="table ml-1 mr-1">
            <tbody>

                <tr>
                    <th scope="row">Property ID</th>

                    <td>{{property.id}}</td>
                </tr>
                <tr>
                    <th scope="row">Property Serial Number</th>

                    <td>{{property.section_ref.section_prefix}}-{{property.serial_no}}</td>
                </tr>
                <tr>
                    <th scope="row">Status Code</th>

                    <td> {% if property.status_code == "V"  %}
                        <span class="badge  badge-pill badge-success">Vacant</span>
                        {% elif property.status_code == "H" %}
                        <span class="badge badge-pill badge-warning">Hold</span>
                        {% elif property.status_code == "B" %}
                        <span class="badge badge-pill badge-danger">Booked</span>
                        {% elif property.status_code == "A" %}
                        <span class="badge badge-pill badge-primary">Alloted</span>
                        {% else  %}
                        <span class="badge badge-pill badge-secondary">Registered</span>
                        {% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Project</th>

                    <td>{{property.section_ref.project_ref.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Section</th>

                    <td>{{property.section_ref.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Dimensions</th>

                    <td>{{property.section_ref.dimensions}} ft</td>
                </tr>
                <tr>
                    <th scope="row">Total Area</th>

                    <td>{{property.section_ref.area}} sq. ft </td>
                </tr>
                <tr>
                    <th scope="row">Price Rule</th>

                    <td>{{property.price_rule.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Price per square Feet</th>
                    <td>
                        {% load mathfilters %}
                        {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                        &#8377; {{cost|mul:factor}}</td>
                    {% endwith %}

                </tr>
                <tr>
                    <th scope="row">Total Cost</th>
                    <td>
                        {% load mathfilters %}
                        {% load humanize %}
                        {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                        &#8377; {{cost|mul:factor|mul:property.section_ref.area|intcomma}}</td>
                    {% endwith %}

                </tr>
                
                <form action="" method="post">
                    {% csrf_token %}
                    {% if property.status_code == "V"  %}
                    <tr>
                       <!--  <th scope="row">Enter Associate ID</th>
                        <td>  </td> -->
                        <input type="hidden" name="associate_ref" required="" id="id_associate_ref" value="CBDA9543"> 
                    </tr>
                    <tr>
                        <th scope="row">Enter Cutomer Phone Number</th>
                        <td> <input type="number" name="customer_no" required="" id="id_customer_ref"> </td>
                    </tr>
                    {% endif %}
            </tbody>
        </table>
        {% if property.status_code == "V"  %}
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <input type="hidden" name="property_ref" value="{{property.id}}">
                {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                <!-- amount -->
                <input type="hidden" name="amount" required="" id="id_amount"
                    value="{{cost|mul:factor|mul:property.section_ref.area}}">
                {% endwith %}
                
                <button class="btn btn-lg btn-default"
                    style="font-size: 15pt; font-weight: 500; background-color: #007bff ;"><i class="fas fa-bolt"></i>
                    Book</button>                    
            
                    
            </div>
        </div>
       

        </form>
        {% else %}
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <a 
                href="{% url 'owner:booking_deposit' id=property.id %}"
                class="btn btn-success btn-lg" > Deposit</a>
            </div>
        </div>
        
        {% endif %}
    









    </div>
    {% endblock %}


    {% load static %}