{% extends "base.html" %}
{% block title %}
Point of Sales
{% endblock title %}
<!-- heading  -->
{% block heading %}
Point of Sales
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %} 
<!-- Main Conent -->
{% block content %}
<div class="row">
    <div class="col-12">
        <table id="myTable" class="flex-table table">
            <thead class="thead-dark">
                <tr>
                   <!--  <th>Serial No</th> -->
                    <th>Project Name</th>
                    <th>Section Name</th>
                    <th>Property Code</th>
                    <th>Status</th>
                    <th>Price Rule</th>
                    <th>Cost Per Unit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <script>
                    var i = 0;
                </script>
                {% for property in prop_list %}                
                {% if property.status_code == 'V' %}
                    
                
                    
                <tr>
                    <!-- <td data-label="Serial NO">
                        <span style="display: none"> </span>
                        <script>document.write(++i);
                        </script></td> -->
                    <td data-label="Project Name">{{property.section_ref.project_ref.name}} </td>
                    <td data-label="Section Name">{{property.section_ref.name}}</td>
                    <td data-label="Property Code">{{property.section_ref.section_prefix}}-{{property.serial_no}}</td>
                    <td data-label="Status"><span class="badge badge-success text-center">Vacant</span> </td>
                    <td data-label="Price Rule">{{property.price_rule.name}}</td>
                    <td data-label="Cost per unit">
                            {% load mathfilters %}
                            {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                                    &#8377; {{cost|mul:factor}}</td>
                              {% endwith %}    
                    </td>
                    <td data-label="Action"><a 
                        href=" {% url 'owner:pos' id=property.id %}"
                        class="btn btn-sm" style="background-color: #007bff"><i class="fas fa-bolt"></i> Book</a>  </td>
                </tr>
                {% endif %}
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>
<script>
        $(document).ready(function () {
          $('#myTable').DataTable(
              {
                "order": [[ 0, "desc" ]]
              }
          );
        });
      </script>
{% endblock %}

