{% extends "base.html" %}
{% block title %}
Deposit Login Amount
{% endblock title %}
<!-- heading  -->
{% block heading %}
Deposit Login Amount
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row">
    <script>
        var tx = []
        var dc=[];    
    </script>
    {% for entry in transactions %}
    <script>
        tx.push(
            {
                id: parseInt('{{entry.property_ref_id}}'),
                saleAmount: parseFloat('{{entry.sale_value}}'),
                balance: parseFloat('{{entry.balance}}'),
            }
        )
    </script>
    {% endfor %}
    <script>
        console.log(tx)
    </script>
    {% for property in property_list %}
    <div class="col-lg-4 col-12">
        <div class="card">
            <img class="card-img-top" src="{% get_media_prefix %}{{property.section_ref.project_ref.cover_image}}"
                alt="Card image cap">
            <script>
                var total = 0;
                var paid = 0;
                var balance = 0;
                var percent = 0
                tx.forEach(element => {
                    if (element.id == parseInt('{{property.id}}')) {
                        total = element.saleAmount;
                        paid = element.balance;
                        balance = total - paid;
                        percent = paid / total * 100;
                        if (percent>=100) {
                            dc.push(element.id)
                        }

                    }
                });
            </script>
            <div class="progress" style="height: 22px;">
                <div class="progress-bar px bg-dager progress-bar-striped" id="px{{property.id}}" role="progressbar"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <span style="font-weight: 500; color:black">
                        <script>

                            document.write(percent.toFixed(2))
                            document.getElementById('px{{property.id}}').style.width = percent + "%"
                        </script>
                        %</div>
                </span>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{property.section_ref.project_ref.name}}
                    {{property.section_ref.section_prefix}}-{{property.serial_no}}</h4>
                <p class="card-text">




                    <table>
                        <tr>
                            <th>Sale Value: </th>
                            <td>&#x20B9;
                                <script>document.write(total)</script>
                            </td>
                        </tr>

                        <tr>
                            <th>Paid: </th>
                            <td>&#x20B9;
                                <script>document.write(paid)</script>
                            </td>
                        </tr>

                        <tr>
                            <th>Pending Balance: </th>
                            <td>&#x20B9;
                                <script>document.write(balance)</script>
                            </td>
                        </tr>
                    </table>



                    </table>
                    <div id="book{{property.id}}">
                        <button class="btn btn-success" onclick="setPropertyId(parseInt('{{property.id}}'))"
                            data-toggle="modal" data-target="#exampleModal" style="background-color: #2979ff">
                            <i class="fas fa-bolt mr-1"></i> Deposit</button>
                    </div>

                </p>

            </div>
        </div>
    </div>
    {% endfor %}



</div>
<script>
    function setPropertyId(id) {
        document.getElementById('emi_id').value = id
    }
    var x = document.getElementById('book99')
    console.log(x)
   /*  if ((percent >= 100) {
        console.log('asdasd')
        //document.getElementById('book{{property.id}}').style.display = "none";
    } */
    dc.forEach(element => {
        
        const a="book"+element
        console.log(a);
        document.getElementById(a).style.display="none"
    });
</script>

{% endblock %}
{% block modal %}
<!-- Modals Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deposit EMI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    <input type="hidden" id="emi_id" name="property_ref" value=""><br>
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Payment Mode:</span>
                    <select name="payment_mode" class="form-control">
                        <option value="C">Cash Payment</option>
                        <option value="Q">Cheque Payment</option>
                        <option value="N">Online Transfer</option>
                        <option value="D">Bank Draft</option>
                    </select> <br>
                    <span style="font-weight: 500;
                           
                            font-size: 12pt">Reference No:
                    </span><br>
                    {{form.reference_no}}<br>
                    <span style="font-weight: 500;
                     
                            font-size: 12pt">Amount: </span> <br>
                    {{form.amount}}<br>
                    <span style="font-weight: 500;
                            
                            font-size: 12pt">Description: </span><br>
                    {{form.description}} <br>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" style="background-color: #2979ff">
                    <i class="fas fa-bolt mr-1"></i>
                    Save</button>
            </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}