{% extends "base.html" %}
{% block title %}
Property Status
{% endblock title %}
<!-- heading  -->
{% block heading %}
Property Status
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row">
    <div class="col-lg-4 col-12">
        <div class="card text-white" style="
                    
                    background-image: linear-gradient(to right top, #0b4b03, #2e710a, #529810, #7bc113, #a8eb12);">
            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
            ">VACANT PROPERTIES</h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="p-2">

                        <H3 class="card-title text-white" style="font-weight: 600;">{{vacant.id__count}} </H3>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-lg-4 col-12">
        <a href="{% url 'owner:property_list_status' slug='H' %}">
            <div class="card text-white" style="
                        
                        background-image: linear-gradient(to right top, #7f6000, #997701, #b39002, #cca903, #e6c406);">
                <div class="card-body">
                    <h5 class="card-title text-white" style="font-weight: 600;
                ">HOLD PROPERTIES</h5>
                    <br>
                    <div class="d-flex justify-content-center">
                        <div class="p-2">
    
                            <H3 class="card-title text-white" style="font-weight: 600;">{{hold.id__count}} </H3>
                        </div>
                    </div>
                </div>
            </div>
        </a>        
        </div>
        <div class="col-lg-4 col-12">
                <a href="{% url 'owner:property_list_status' slug='B' %}">
                <div class="card text-white" style="
                     background-image: linear-gradient(to right top, #ad0b00, #b90b0c, #c60b17, #d20b22, #df0b2c);        
                    ">
                    <div class="card-body">
                        <h5 class="card-title text-white" style="font-weight: 600;
                    ">BOOKED PROPERTIES</h5>
                        <br>
                        <div class="d-flex justify-content-center">
                            <div class="p-2">
        
                                <H3 class="card-title text-white" style="font-weight: 600;">{{booked.id__count}} </H3>
                            </div>
                        </div>
                    </div>
                </div> 
                </a>       
            </div>
            <div class="col-lg-4 col-12">
                    <a href="{% url 'owner:property_list_status' slug='A' %}">
                    <div class="card text-white" style="
                                
                                background-image: linear-gradient(to right top, #00087f, #09269e, #0d40be, #0c5ade, #0075ff);">
                        <div class="card-body">
                            <h5 class="card-title text-white" style="font-weight: 600;
                        ">ALLOTED PROPERTIES</h5>
                            <br>
                            <div class="d-flex justify-content-center">
                                <div class="p-2">
            
                                    <H3 class="card-title text-white" style="font-weight: 600;">{{alloted.id__count}} </H3>
                                </div>
                            </div>
                        </div>
                    </div> 
                    </a>       
                </div>
    <div class="col-lg-4 col-12">
       
                <a href="{% url 'owner:property_list_status' slug='R' %}">
        <div class="card text-white" style="
                    
                    background-image: linear-gradient(to right top, #2b2b2b, #414141, #595959, #717171, #8b8b8b);">
            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
            ">REGISTERED PROPERTIES</h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="p-2">

                        <H3 class="card-title text-white" style="font-weight: 600;">{{registered.id__count}} </H3>
                    </div>
                </div>
            </div>
        </div>  
    </a>      
    </div>
                            
    </div>
    {% endblock %}