{% extends "base.html" %}
{% block title %}
Earnings Forcast
{% endblock title %}
<!-- heading  -->
{% block heading %}
Earnings Forcast
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
<!-- Main Conent -->
{% block content %}
<script>
var forcast=[];
</script>
{% for item in forcast %}

  <script>
    var parts = '{{item.pay_day|date:"Y-m-d" }}'.split('-');
            // Please pay attention to the month (parts[1]); JavaScript counts months from 0:
            // January - 0, February - 1, etc.
            var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
    forcast.push(
      {
        date:mydate,
        emi:parseFloat('{{item.emi}}'),

      }
    )
  </script>
{% endfor %}
  
<div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i class="material-icons">insert_chart</i>
          </div>
          <h4 class="card-title"> Predicted earnings 
            <small>- next Four Month</small>
          </h4>
        </div>
        <div class="card-body">
                <canvas id="bar-chart" width="800" height="450"></canvas></div>
      </div>
<script>
    var month_label = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var barData = [];    
    var barLabel = [];
    var range = 4
    var month_sum = 0;
    var now = new Date();
    var pastm = new Date()
    
    for (let i = 0; i < range; i++) {
        // pastm = new Date(now.setMonth(now.getMonth() - i));
        pastm.setMonth(now.getMonth() + i)
        
        forcast.forEach(element => {
            if ((element.date.getMonth() == pastm.getMonth()) && (element.date.getFullYear() == pastm.getFullYear())) {
                month_sum += element.emi;
            
            }
            //

        });
       
        barLabel.push(month_label[pastm.getMonth()]);
        barData.push(parseFloat((month_sum/1000).toFixed(2)));
        month_sum = 0;
    };
  //  barLabel.reverse();
  
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: barLabel,
      datasets: [
        {
          label: "Predicted Earning (thousands)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9",],
          data: barData
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted Earnings in next four month (in Thousands)'
      }
    }
});
</script>
{% endblock %}



