{% extends "base.html" %}
{% block title %}
My Earnings
{% endblock title %}
<!-- heading  -->
{% block heading %}
My Earnings
{% endblock %}

<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
{% load humanize %}
<script>
    var myearnings = [];
    var team_earnings = [];
    var totalEarning_self = 0;
    var totalEarning_team = 0;
</script>
<div class="row">
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                    <i class="material-icons">insert_chart</i>
                </div>
                <h4 class="card-title">Historical Net Monthly Earning
                    <small>- Last 6 months</small>
                </h4>
            </div>
            <div class="card-body">
                <canvas id="bar-chart" width="800" height="450"></canvas></div>
        </div>

    </div>
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons">pie_chart</i>
                </div>
                <h4 class="card-title">Lifetime earnings breakup
                    <small>- Since Joining</small>
                </h4>
            </div>
            <div class="card-body">
                <canvas id="pie-chart" width="800" height="450"></canvas></div>
        </div>

    </div>

</div>

<table id="myTable" class="flex-table table">
    <thead class="thead-dark">

        <tr>
            <th>ERNID</th>
            <th>Date</th>
            <th>Payment By</th>
            <th>Payout Slab</th>
            <th>Amount</th>
            <th>Deductions</th>
            <th>Net Amount</th>

            <th>Status</th>

        </tr>

        <!-- <th>Actions</th> -->

    </thead>
    <tbody>

        {% load mathfilters %}
        {% load humanize %}
        {% for earning in earnings %}
        <tr>
            <td>SERN{{earning.id}} </td>
            <td data-label="Date">
                <span style="display: none;">{{earning.createdAt|date:"Ymd" }}
                    YYYYMMDD</span> {{earning.createdAt|date:"d M Y" }}</td>
            <td data-label="Payment by">{{earning.cus_tx.property_ref.customer_ref.name}}</td>
            <td data-label="Payout Slab">{{earning.payout_rule.payout}}%</td>
            <td data-label="Credit Amount"> &#8377; {{earning.amount|intcomma}} </td>
            <td data-label="Deductions"> 5% </td>
            <td data-label="Net Amount"> &#8377; {{earning.amount|mul:95|div:100|intcomma}} </td>
            <td>
                {% if entry.status %}
                <span class="text-success" style="font-weight: 500; font-size: 12pt;">Paid</span>

                {% else %}
                <span class="text-warning" id="status" style="font-weight: 500; font-size: 12pt;">Pending</span>
                {% endif %}

            </td>
        </tr>
        <script>
            var parts = '{{earning.createdAt|date:"Y-m-d" }}'.split('-');
            // Please pay attention to the month (parts[1]); JavaScript counts months from 0:
            // January - 0, February - 1, etc.
            var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
            myearnings.push(
                {
                    date: mydate,
                    amount: parseFloat('{{earning.amount|mul:95|div:100}}')
                }
            )
            totalEarning_self += parseFloat('{{earning.amount|mul:95|div:100}}');
        </script>

        {% endfor %}

        {% for earning in team_earnings %}
        <tr>
        <tr>
            <td>TERN{{earning.id}} </td>
            <td data-label="Date">
                <span style="display: none;">{{earning.createdAt|date:"Ymd" }}
                    YYYYMMDD</span> {{earning.createdAt|date:"d M Y" }}</td>
            <td data-label="Payment by">{{earning.cus_tx.property_ref.customer_ref.name}}</td>
            <td data-label="Payout Slab">{{earning.payout_rule.payout}}%</td>
            <td data-label="Credit Amount"> &#8377; {{earning.amount|intcomma}} </td>
            <td data-label="Deductions"> 5% </td>
            <td data-label="Net Amount"> &#8377; {{earning.amount|mul:95|div:100|intcomma}} </td>
            <td>
                {% if entry.status %}
                <span class="text-success" style="font-weight: 500; font-size: 12pt;">Paid</span>

                {% else %}
                <span class="text-warning" id="status" style="font-weight: 500; font-size: 12pt;">Pending</span>
                {% endif %}

            </td>
        </tr>
        <!-- <td data-label=""> </td> -->
        </tr>

        <script>
            var parts = '{{earning.createdAt|date:"Y-m-d" }}'.split('-');
            // Please pay attention to the month (parts[1]); JavaScript counts months from 0:
            // January - 0, February - 1, etc.
            var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
            team_earnings.push(
                {
                    date: mydate,
                    amount: parseInt('{{earning.amount|mul:95|div:100}}')
                }
            );
            totalEarning_team = parseFloat('{{earning.amount|mul:95|div:100}}');
        </script>

        {% endfor %}


    </tbody>
</table>
<span style="font-size: 10pt; color: red;">To filter by date:-
    use yyyymmdd format eg: 20190712 for july 12, 2019 <br>
    To filter by month:-
    use yyyymm format eg: 201907 for july 2019 <br>
    To filter by year:-
    use yyyy format eg: 2019 for 2019</span>
<script>
    var month_label = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    var barDataSelf = [];
    var barDataTeam = [];
    var barLabel = [];
    var range = 6
    var month_sum = 0;
    var now = new Date();
    var pastm = new Date();


    pastm.setMonth(now.getMonth() - range);

    for (let i = range; i > 0; i--) {
        // pastm = new Date(now.setMonth(now.getMonth() - i));
        pastm.setMonth(now.getMonth() - i)
        console.log(pastm.getMonth());
        myearnings.forEach(element => {
            if ((element.date.getMonth() == pastm.getMonth()) && (element.date.getFullYear() == pastm.getFullYear())) {
                month_sum += element.amount;
                //   console.log(element.amount);
            }
            //

        });
        console.log("Sum=" + month_sum + "-->" + i);
        barDataSelf.push(parseFloat((month_sum / 1000).toFixed(2)));
        barLabel.push(month_label[i]);
        month_sum = 0;
        team_earnings.forEach(element => {
            if ((element.date.getMonth() == pastm.getMonth()) && (element.date.getFullYear() == pastm.getFullYear())) {
                month_sum += element.amount;
                //   console.log(element.amount);
            }
        });
        barDataTeam.push(parseFloat((month_sum / 1000).toFixed(2)));
        month_sum = 0;
    };
    barLabel.reverse();
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    //console.log(barData);
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: barLabel,
            datasets: [
                {
                    label: "My Earnings",
                    backgroundColor: "#3e95cd", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                    data: barDataSelf
                },
                {
                    label: "Team Earnings",
                    backgroundColor: "#c45850", //["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#3cba9f"],
                    data: barDataTeam
                }
            ]
        },
        options: {
            legend: { display: true },
            title: {
                display: true,
                text: 'Net Monthly Earnings (In thousands)'
            },
            scales: {
                xAxes: [{ stacked: true }],
                yAxes: [{ stacked: true }]
            }
        }
    });
    var selfPer = parseFloat((totalEarning_self / (totalEarning_self + totalEarning_team) * 100).toFixed(2));
    var teamPer = parseFloat((totalEarning_team / (totalEarning_self + totalEarning_team) * 100).toFixed(2));

    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: ["My Earnings", "Team Earnings"],
            datasets: [
                {
                    label: "Lifetime Earnigns (%)",
                    backgroundColor: ["#3cba9f", "#8e5ea2", "#3e95cd", "#e8c3b9", "#c45850"],
                    data: [selfPer, teamPer]
                }
            ]
        },
        options: {
            legend: { display: true },
            title: {
                display: true,
                text: 'Lifetime Earnings in Percentage(%) ',
                animation: {
                    onProgress: function (animation) {
                        progress.value = animation.animationObject.currentStep / animation.animationObject.numSteps;
                    }
                }
            }
        }
    });
</script>
{% endblock %}