{% extends "base.html" %}
{% block title %}
Passbook
{% endblock title %}
<!-- heading  -->
{% block heading %}
Passbook
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}


<!-- Main Conent -->
{% block content %}
<!-- 

 METHOD = (             
        ('C', 'Cash Payment'),
        ('Q', 'Cheque'),
        ('N', 'NEFT'),
        ('D', 'Bank Draft'),        
    )
    associate_ref=models.ForeignKey(Associate,on_delete=models.DO_NOTHING,blank=True, null=True)
    pay_method=models.CharField(max_length=1, choices=METHOD)
    date=models.DateField(blank=True,auto_now=False, auto_now_add=False)
    reference_no=models.CharField(blank=True,null=True, max_length=50)
    amount=models.DecimalField( max_digits=20, decimal_places=2,blank=True,null=True)
    description=models.TextField(blank=True,null=True)
 

 -->
 {% load humanize %}
<div class="row ">
    <div class="col-lg-12">
     
        <table id="myTable" class=" myTable flex-table table">
            <thead class="thead-dark">
                <tr>
                    <th>TXID</th>
                    <th>Date</th>
                    <th>Method</th>
                    <th>Reference No</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Balance</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>

                {% for entry in associate_tx %}
                <tr>
                    <td data-label="TXID">{{entry.id}}</td>
                    <td data-label="Date">
                        <span style="display: none">{{entry.date|date:'Ymd'}}</span>
                        {{entry.date|date:'d-m-Y'}}</td>

                    <td data-label="Method">
                        {% if entry.pay_method == 'C' %}
                        Cash
                        {% elif entry.pay_method == 'Q' %}
                        Cheque
                        {% elif entry.pay_method == 'N' %}
                        NEFT/Online TRansfer
                        {% elif entry.pay_method == 'D' %}
                        Demand Draft
                        {% else %}
                        Added to Balance
                        {% endif %}
                    </td>
                    <td data-label="Reference NO">{{entry.reference_no}}</td>
                    <td style="color: red;font-weight: 500;" data-label="Debit"> &#x20B9; {{entry.debit|intcomma}} </td>
                    <td style="color: green ;font-weight: 500;" data-label="Credit"> &#x20B9; {{entry.credit|intcomma}}
                    </td>
                    <td style="color:black;font-weight: 500;" data-label="Balance"> &#x20B9; {{entry.balance|intcomma}}
                    </td>
                    <td data-label="Description">{{entry.description}}</td>
                </tr>
                {% endfor %}


            </tbody>
        </table>

        <span style="font-size: 10pt; color: red;">To filter by date:-
            use yyyymmdd format eg: 20190712 for july 12, 2019 <br>
            To filter by month:-
            use yyyymm format eg: 201907 for july 2019 <br>
            To filter by year:-
            use yyyy format eg: 2019 for 2019</span>
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>

    </div>

</div>
{% endblock %}


{% load static %}