{% extends "base.html" %}
{% block title %}
Booking Deposit
{% endblock title %}
<!-- heading  -->
{% block heading %}
Booking Deposit
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="card">
    <div class="card-header" style="background-image: url('{% get_media_prefix %}{{property.section_ref.project_ref.cover_image}}');
                  background-position: center;
                  background-size: cover;
                  height: 300px;
          ">

    </div>

{{payout_list}}

    <div class="card-body">
        <table class="table ml-1 mr-1">
            <tbody>

                <tr>
                    <th scope="row">Property ID</th>

                    <td>{{property.id}}</td>
                </tr>
                <tr>
                    <th scope="row">Property Serial Number</th>

                    <td>{{property.section_ref.section_prefix}}-{{property.serial_no}}</td>
                </tr>
                <tr>
                    <th scope="row">Status Code</th>

                    <td> {% if property.status_code == "V"  %}
                        <span class="badge  badge-pill badge-success">Vacant</span>
                        {% elif property.status_code == "H" %}
                        <span class="badge badge-pill badge-warning">Hold</span>
                        {% elif property.status_code == "B" %}
                        <span class="badge badge-pill badge-danger">Booked</span>
                        {% elif property.status_code == "A" %}
                        <span class="badge badge-pill badge-primary">Alloted</span>
                        {% else  %}
                        <span class="badge badge-pill badge-secondary">Registered</span>
                        {% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Project</th>

                    <td>{{property.section_ref.project_ref.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Section</th>

                    <td>{{property.section_ref.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Dimensions</th>

                    <td>{{property.section_ref.dimensions}} ft</td>
                </tr>
                <tr>
                    <th scope="row">Total Area</th>

                    <td>{{property.section_ref.area}} sq. ft </td>
                </tr>
                <tr>
                    <th scope="row">Price Rule</th>

                    <td>{{property.price_rule.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Price per square Feet</th>
                    <td>
                        {% load mathfilters %}
                        {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                        &#8377; {{cost|mul:factor}}</td>
                    {% endwith %}

                </tr>
                <tr>
                    <th scope="row">Total Cost</th>
                    <td id="amount">
                        {% load mathfilters %}
                        {% load humanize %}
                        {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                        &#8377; {{cost|mul:factor|mul:property.section_ref.area|intcomma}}</td>
                    {% endwith %}

                </tr>
                <tr>
                        <form action="" method="post">
                                {% csrf_token %}
                         
                    <th scope="row">Booking Amount</th>
                    <td >
                        {% load mathfilters %}
                        {% load humanize %}
                        {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
                        &#8377; 
                        <input id="total_amount" class="" type="hidden" name="total_amount"
                        value="{{cost|mul:factor|mul:property.section_ref.area}}">
                        <!-- {{cost|mul:factor|mul:property.section_ref.area|mul:0.3|intcomma}} -->
                        <input id="booking_amount" class="" type="text" name="booking_amount"
                         onblur="changeAmt()" value="{{cost|mul:factor|mul:property.section_ref.area|mul:0.3}}">
                        <script>
                            var bookingAmount = parseFloat('{{cost|mul:factor|mul:property.section_ref.area|mul:0.3}}');
                            var amount = parseFloat('{{cost|mul:factor|mul:property.section_ref.area}}');
                        </script>
                    </td>
                    {% endwith %}

                </tr>
                <tr>
                        <th scope="row">Payment mode</th>                                    
                        <td>
                                <select name="payment_mode"  class="btn-sm btn-outline-success" >
                                        <option value="C">Cash Payment</option>
                                        <option value="Q">Cheque Payment</option>
                                        <option value="N">Online Transfer</option>
                                        <option value="B">Bank Draft</option>
                                    </select>
                        </td>
                    </tr>
                    <tr>
                            <th scope="row">Reference No</th>
        
                            <td>
                            
                                    <input id="reference_no" class="" type="text" name="reference_no">
                            </td>
                        </tr>
                <tr>
                    <th scope="row">EMI Payment Plans</th>
                    <td>
                       
                            <select name="emi_plan" onclick="calculate()" class=" btn-sm btn-outline-dark" id="plan">
                                <option value="0">Full Payment</option>
                                <option value="1">1 year Plan</option>
                                <option value="2">2 year Plan</option>
                                <option value="3">3 year Plan</option>
                            </select>                         
                        
                        <br>                      
                    </td>

                </tr>
                <tr>
                    <th scope="row">Monthly EMI</th>

                    <td>
                        <span id="emi">
                           
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div class="p-2">
             <button class="btn btn-lg btn-primary" type="submit">Deposit </button>
            </div>
        </div>
    </form>
    </div>
    <script>

        window.onload =calculate();
        function changeAmt() {
            var newBookingAmount = parseFloat(document.getElementById('booking_amount').value);
            console.log(newBookingAmount);
            bookingAmount=newBookingAmount;
            calculate();
        }
        function calculate() {
            var plan = document.getElementById('plan').value;
            var emi_el = document.getElementById('emi').innerHTML;
            var emi = 0;
            var balance = amount - bookingAmount;
            console.log(plan + " " + amount + " " + bookingAmount);
            if (plan == 1) {
                emi = balance / 12;
                console.log(emi);
            }
            else if (plan == 2) {
                emi = balance / 24;
                console.log(emi);
            }
            else if (plan == 3) {
                emi = balance / 36;
                console.log(emi);
            }
            else {
                emi = balance;
                console.log(emi);
            }
            document.getElementById('emi').innerHTML = "&#8377; " +emi;
        }
       
    </script>
    {% endblock %}