{% extends "base.html" %}
{% block title %}
Deposit EMI
{% endblock title %}
<!-- heading  -->
{% block heading %}
Deposit EMI
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<!-- property_ref=models.ForeignKey(Property, on_delete=models.CASCADE)
    pay_day=models.DateField(blank=True,auto_now=False, auto_now_add=False)
    opening_balance=models.DecimalField(blank=True,null=True, max_digits=20, decimal_places=2)
    emi=models.DecimalField(blank=True,null=True, max_digits=20, decimal_places=2)
    intrest_paid=models.DecimalField(blank=True,null=True, max_digits=20, decimal_places=2)
    closing_balance=models.DecimalField(blank=True,null=True, max_digits=20, decimal_places=2)
    status= models.BooleanField(default=False) -->
<table id="myTable" class="flex-table table">
    <thead class="thead-dark">
        <tr>
            <th>EMID</th>
            <th>Due Date</th>
            <th>Property</th>
            <th>Opening Balace</th>
            <th>EMI</th>
            <th>Closing Balance</th>
            <th>Status</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        {% for entry in emi %}
        <tr>
            <td data-label="EMID">{{entry.id}} </td>
            <td data-label="Due Date"> <span style="display: none;">{{entry.pay_day|date:'Ymd'}}</span> {{entry.pay_day|date}}
                <script>
                    var parts = "{{entry.pay_day|date:'Y-m-d'}}".split('-');
                    // Please pay attention to the month (parts[1]); JavaScript counts months from 0:
                    // January - 0, February - 1, etc.
                    var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
                    var date = new Date();
                    setTimeout(function () { ready(); }, 500);
                    function ready() {
                        if (date > mydate) {
                            document.getElementById('status').innerHTML = "Not Paid";
                            document.getElementById('status').className = "text-danger";

                        }
                    }

                </script>
            </td>
            <td data-label="Property">{{entry.property_ref.section_ref.project_ref.name}}
                {{entry.property_ref.section_ref.section_prefix}}-{{entry.property_ref.serial_no}} </td>
            <td data-label="Opening Balace">{{entry.opening_balance}} </td>
            <td data-label="EMI">{{entry.emi}} </td>
            <td data-label="Closing Balance">{{entry.closing_balance}} </td>
            <td data-label="Status">
                {% if entry.status %}
                <span class="text-success" style="font-weight: 500; font-size: 12pt;">Paid</span>

                {% else %}
                <span class="text-warning" id="status" style="font-weight: 500; font-size: 12pt;">Pending</span>
                {% endif %}

            </td>
            <td data-label="Action">
                {% if entry.status == False %}
                <button class="btn  btn-success" data-toggle="modal" data-target="#exampleModal"
                    onclick="setEmiId('{{entry.id}}')" style="background-color: #2979ff">
                    <i class="fas fa-bolt mr-1"></i> Deposit</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable(
            {
                "order": [[0, "desc"]]
            }
        );
    });
    function setEmiId(id) {
        document.getElementById('emi_id').value = id
    }
</script>
{% endblock %}
{% block modal %}
<!-- Modals Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deposit EMI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="emi_id" name="id" value=""><br>
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Payment Mode:</span>
                    <select name="payment_mode" class="form-control">
                        <option value="C">Cash Payment</option>
                        <option value="Q">Cheque Payment</option>
                        <option value="N">Online Transfer</option>
                        <option value="D">Bank Draft</option>
                    </select> <br>
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Reference No:</span><br>
                    <input type="text" class="form-control" name="reference_no"><br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" style="background-color: #2979ff">
                    <i class="fas fa-bolt mr-1"></i>
                    Save</button>
            </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}