{% extends "base.html" %}
{% block title %}

{% if heading %}
{{heading}}
{% else %}
Deposit Login Amount
{% endif %}


{% endblock title %}
<!-- heading  -->
{% block heading %}
{% if heading %}
{{heading}}
{% else %}
Deposit Login Amount
{% endif %}
{% endblock %}
<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
<div class="row">
    <script>
        var tx = [];
        var dc = [];
        var holds = [];    
    </script>
    {% for entry in transactions %}
    <script>
        tx.push(
            {
                id: parseInt('{{entry.property_ref_id}}'),
                saleAmount: parseFloat('{{entry.sale_value}}'),
                balance: parseFloat('{{entry.balance}}'),
            }
        )
    </script>
    {% endfor %}
    <script>
        console.log(tx)
    </script>
    {% for property in property_list %}
    <div class="col-lg-4 col-12">
        <div class="card">
            <img class="card-img-top" src="{% get_media_prefix %}{{property.section_ref.project_ref.cover_image}}"
                alt="Card image cap">
            {% load mathfilters %}
            {% load humanize %}
            {% with cost=property.section_ref.cost_per_unit factor=property.price_rule.premium_price|add:100|div:100 %}
           
            <script>
                var prop=parseFloat('{{cost|mul:factor|mul:property.section_ref.area}}')
            </script>
            {% endwith %}

            <script>
                var total = 0;
                var paid = 0;
                var balance = 0;
                var percent = 0;



                tx.forEach(element => {
                    if (element.id == parseInt('{{property.id}}')) {

                        total = element.saleAmount;
                        paid = element.balance;
                        balance = total - paid;
                        percent = paid / total * 100;
                        if ((percent >= 100)&&(element.saleAmount!=0)) {
                            dc.push(element.id)
                        }
                        //console.log(element.saleAmount)
                        if ((element.saleAmount==0)|(element.saleAmount==null)) {
                            holds.push(element.id);
                            total = prop;
                            paid = element.balance;
                            balance = total - paid;
                            percent = paid / total * 100;
                        }

                    }
                });
             /*    if (dc.length == 0) {
                    total = prop;
                    paid = 0;
                    balance = total - paid;
                    percent = paid / total * 100;
                } */
            </script>
            <div class="progress" style="height: 22px;">
                <div class="progress-bar px bg-dager progress-bar-striped" id="px{{property.id}}" role="progressbar"
                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <span style="font-weight: 500; color:black">
                        <script>
                            document.write(percent.toFixed(2))
                            document.getElementById('px{{property.id}}').style.width = percent + "%"
                        </script>
                        %</div>
                </span>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{property.section_ref.project_ref.name}}
                    {{property.section_ref.section_prefix}}-{{property.serial_no}}
                    <br>
                    {% if property.status_code == "V"  %}
                    <span class="badge  badge-success">Vacant</span>
                    {% elif property.status_code == "H" %}
                    <span class="badge  badge-warning">Hold</span>
                    {% elif property.status_code == "B" %}
                    <span class="badge  badge-danger">Booked</span>
                    {% elif property.status_code == "A" %}
                    <span class="badge  badge-primary">Alloted</span>
                    {% else  %}
                    <span class="badge  badge-secondary">Registered</span>

                    {% endif %}
                </h4>

                <p class="card-text">
                    <table>
                        <tr>
                            <th>Sale Value: </th>
                            <td>&#x20B9;
                                <script>document.write(total)</script>
                            </td>
                        </tr>

                        <tr>
                            <th>Paid: </th>
                            <td>&#x20B9;
                                <script>document.write(paid)</script>
                            </td>
                        </tr>

                        <tr>
                            <th>Pending Balance: </th>
                            <td>&#x20B9;
                                <script>document.write(balance)</script>
                            </td>
                        </tr>
                    </table>



                    </table>

                    {% if property.customer_ref is not None  %}


                    <div>
                        <button id="book{{property.id}}" class="btn btn-success"
                            onclick="setPropertyId(parseInt('{{property.id}}'))" data-toggle="modal"
                            data-target="#exampleModal" style="background-color: #2979ff">
                            <i class="fas fa-bolt mr-1"></i> Deposit</button>

                        {% if property.status_code == "H" %}
                        <a id="hold{{property.id}}" href="{% url 'owner:pos' id=property.id %}"
                            class="btn btn-danger">Book</a>


                        {% endif %}
                    </div>
                    {% endif %}


                </p>

            </div>
        </div>
    </div>
    {% endfor %}



</div>
<script>
    function setPropertyId(id) {
        document.getElementById('emi_id').value = id
    }
    var x = document.getElementById('book99')
    console.log(x)
     /* if ((percent >= 100) {
         console.log('asdasd')
         document.getElementById('book{{property.id}}').style.display = "none";
     } */
    dc.forEach(element => {

        const a = "book" + element
        console.log(a);

        document.getElementById(a).style.display = "none"
    });
    /* holds.forEach(element => {

        const b = "hold" + element
        console.log(b);
        document.getElementById(b).style.display = "none"
    });
    if (holds.length > 0) {
        const b = "hold" + element
        console.log(5);
        document.getElementById(b).style.display = "none"
    } */
</script>

{% endblock %}
{% block modal %}
<!-- Modals Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deposit EMI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    <input type="hidden" id="emi_id" name="property_ref" value=""><br>
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Payment Mode:</span>
                    <select name="payment_mode" class="form-control">
                        <option value="C">Cash Payment</option>
                        <option value="Q">Cheque Payment</option>
                        <option value="N">Online Transfer</option>
                        <option value="D">Bank Draft</option>
                    </select> <br>
                    <span style="font-weight: 500;
                           
                            font-size: 12pt">Reference No:
                    </span><br>
                    {{form.reference_no}}<br>
                    <span style="font-weight: 500;
                     
                            font-size: 12pt">Amount: </span> <br>
                    {{form.amount}}<br>
                    <span style="font-weight: 500;
                            
                            font-size: 12pt">Description: </span><br>
                    {{form.description}} <br>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" style="background-color: #2979ff">
                    <i class="fas fa-bolt mr-1"></i>
                    Save</button>
            </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}