{% extends "base.html" %}
{% block title %}
Login Amount
{% endblock title %}
<!-- heading  -->
{% block heading %}
Login Amount
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
{% load humanize %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 col-12">
        <div class="card text-white" style="
                    
                    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                            ">DEPOSIT LOGIN AMOUNT </h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <form action="" method="post">
                            {% csrf_token %}
                            <span style="color: lightgrey;
                                                font-size: 12pt;
                                                font-weight: 500;
                                        ">Enter Customer Phone Number</span> <br>
                            <input type="text" name="phone"> <br><br>
                            <input type="hidden" name="page" value="login_amt">
                            <button class="btn" style="background-color: white;color: black">Submit</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card text-white" style="
                    
                    background-image: linear-gradient(to top, #27b88f 0%, #017ec7 100%);">
            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                    ">DEPOSIT EMI</h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <form action="" method="post">
                            {% csrf_token %}
                            <span style="color: white   ;
                                                    font-size: 12pt;
                                                    font-weight: 500;
                                            ">Enter Customer Phone Number</span> <br>
                            <input type="text" name="phone"> <br><br>
                            <input type="hidden" name="page" value="emi">
                            <button class="btn" style="background-color: white;color: black">Submit</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<h3>Property Transactions</h3>
<table id="myTable" class="flex-table table">
    <thead class="thead-dark">
        <tr>
            <th>TXID</th>
            <th>Date</th>
            <th>Property</th>
            <th>Sale Value</th>
            <th>Method</th>
            <th>Reference No</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Pending Balance</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        {% for entry in transactions %}
        <tr>
            <td data-label="TXID">{{entry.id}}</td>
            <td data-label="Date">{{entry.date|date}}</td>
            <td data-label="Property">{{entry.property_ref.section_ref.project_ref.name}}
                {{entry.property_ref.section_ref.section_prefix}}-{{entry.property_ref.serial_no}} </td>
            <td data-label="Sale Value">{{entry.sale_value}}</td>
            <td data-label="Method">
                {% if entry.pay_method == 'C' %}
                Cash
                {% elif entry.pay_method == 'Q' %}
                Cheque
                {% elif entry.pay_method == 'N' %}
                NEFT
                {% elif entry.pay_method == 'D' %}
                Demand Draft
                {% endif %}
            </td>
            <td data-label="Reference NO">{{entry.reference_no}}</td>
            <td data-label="Debit">{{entry.debit|intcomma}} </td>
            <td data-label="Credit">{{entry.credit|intcomma}} </td>
            {% load mathfilters %}
            <td data-label="Balace">{{entry.sale_value|sub:entry.balance|intcomma}} </td>
            <td data-label="Description">{{entry.description}}</td>
            <td data-label="Action">
                <a href="{% url 'owner:payment_receipt' id=entry.id %}" 
                class="btn btn-sm btn-info">
            <i class="fas fa-eye"></i>
            </a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable(
            {
                "order": [[0, "desc"]]
            }
        );
    });
</script>
{% endblock %}