{% extends "base.html" %}
{% block title %}
Expences
{% endblock title %}
<!-- heading  -->
{% block heading %}
Expences
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<style>
    .form {
        color: white;
        font-size: 12pt;
        font-weight: 500
    }
</style>
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 col-12">
        <button class="btn-lg btn" id="toggle" onclick="advance()" style="background-color: rgb(37,117,252,0.9);">Add
            Expence
        </button>
        <script>
            var toggle = 0;
            function advance() {
                if (toggle == 0) {
                    document.getElementById('advance-card').style.display = "block";
                    toggle = 1;
                    document.getElementById('toggle').innerHTML = "Cancel";
                    //document.getElementById('toggle').style.background-color="#FFA500";     
                }
                else {
                    toggle = 0;
                    document.getElementById('advance-card').style.display = "none";
                    document.getElementById('toggle').innerHTML = "Add Expence";

                }

            }
        </script>
        <div id="advance-card" class="card text-white" style="  
        display: none;                  
                        ">
            <div class="card-body">
                <h5 class="card-title " style="font-weight: 600;
                                ">Add Other Expences </h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <form action="" method="post">
                            {% csrf_token %}
                            <!-- associate_ref',
                  'pay_method',
                  'reference_no',
                  'amount',
                  'description' -->
                            {% load crispy_forms_tags %}

                            {% load widget_tweaks %}
                            <table>
                                {{form.as_table}}

                            </table>

                            <button class="btn btn-success">Submit</button>
                        </form>

                    </div>
                    tbl
                </div>

            </div>
        </div>







        <div class="col-md-3 "></div>
    </div>
</div>
{% load mathfilters %}
{% load humanize %}
<div class="card">
    <div class="card-header card-header-tabs card-header-danger">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Expences Type:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                        {% if expence_type == 1 %}
                        <a class="nav-link active" href="{% url 'owner:other_expences' id=1 %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'owner:other_expences' id=1 %}">
                                {% endif %}
                                <i class="material-icons">bug_report</i> Marketing
                                <div class="ripple-container"></div>
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if expence_type == 2 %}
                        <a class="nav-link active" href="{% url 'owner:other_expences' id=2 %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'owner:other_expences' id=2 %}">
                                {% endif %}
                                <i class="material-icons">code</i> Office Expences
                                <div class="ripple-container"></div>
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if expence_type == 3 %}
                        <a class="nav-link active" href="{% url 'owner:other_expences' id=3 %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'owner:other_expences' id=3 %}">
                                {% endif %}
                                <i class="material-icons">cloud</i> Employee Salary
                                <div class="ripple-container"></div>
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if expence_type == 4 %}
                        <a class="nav-link active" href="{% url 'owner:other_expences' id=4 %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'owner:other_expences' id=4 %}">
                                {% endif %}
                                <i class="material-icons">cloud</i>Tour
                                <div class="ripple-container"></div>
                            </a>
                    </li>
                    <li class="nav-item">
                        {% if expence_type == 5 %}
                        <a class="nav-link active" href="{% url 'owner:other_expences' id=5 %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'owner:other_expences' id=5 %}">
                                {% endif %}
                                <i class="material-icons">cloud</i>Visit
                                <div class="ripple-container"></div>
                            </a>
                    </li>
                    <li class="nav-item">

                        {% if expence_type == 6 %}
                        <a class="nav-link active" href="{% url 'owner:other_expences' id=6 %}">
                            {% else %}
                            <a class="nav-link" href="{% url 'owner:other_expences' id=6 %}">
                                {% endif %}

                                <i class="material-icons">cloud</i>Other Expences
                                <div class="ripple-container"></div>

                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <h4>

                {% if expence_type == 1 %}
                Marketing
                {% elif expence_type == 2 %}
                Office
                {% elif expence_type == 3 %}
                Employee Salary
                {% elif expence_type == 4 %}
                Tour
                {% elif expence_type == 5 %}
                Visit
                {% else %}
                Other
                {% endif %}

                Expences</h4>
            <table id="" class=" myTable flex-table table">
                <thead class="thead-dark">
                    <tr>
                        <th>TXID</th>
                        <th>Date</th>
                        <th>Method</th>
                        <th>Reference No</th>
                        <th>Amount</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>

                    {% for entry in all_expences %}

                    {% if entry.expence_type == 1 %}
                    <tr>
                        <td data-label="TXID">{{entry.id}}</td>
                        <td data-label="Date">
                            <span style="display: none">{{entry.date|date:'Ymd'}}</span>
                            {{entry.date|date:'d-m-Y'}}</td>

                        <td data-label="Method">
                            {% if entry.pay_method == 'C' %}
                            Cash
                            {% elif entry.pay_method == 'Q' %}
                            Cheque
                            {% elif entry.pay_method == 'N' %}
                            NEFT/Online TRansfer
                            {% elif entry.pay_method == 'D' %}
                            Demand Draft
                            {% else %}
                            Added to Balance
                            {% endif %}
                        </td>
                        <td data-label="Reference NO">{{entry.reference_no}}</td>
                        <td style="color:black;font-weight: 500;" data-label="Amount"> &#x20B9;
                            {{entry.amount|intcomma}} </td>
                        <td data-label="Description">{{entry.description}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>





<script>
    $(document).ready(function () {
        $('.myTable').DataTable(
            {

            }
        );
    });
    function setEmiId(id, type) {
        document.getElementById('emi_id').value = id
        document.getElementById('earning').value = type
    }
    function setAdjustID(id, type) {
        document.getElementById('emi_id2').value = id
        document.getElementById('earning2').value = type
    }
</script>
{% endblock %}