{% extends "base.html" %}
{% block title %}
Payment Receipt
{% endblock title %}
<!-- heading  -->
{% block heading %}
Payment Receipt
{% endblock %}

<!-- desktop menu -->`
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

<!-- Main Conent -->
{% load static %}
{% block content %}
<div class="card">
    <div class="card-header" style="background-image: url('{% get_media_prefix %}{{entry.property_ref.section_ref.project_ref.cover_image}}');
                  background-position: center;
                  background-size: cover;
                  height: 300px;
          ">
    </div>
    {% load humanize %}

    <div class="card-body">
        <table id="myTable" class="table ml-1 mr-1">
            <thead>
                <th>Head</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Payment Date</td>
                    <td>{{entry.date|date:"d M Y" }}</td>

                </tr>
                <tr>
                    <td scope="row">Transaction ID</td>

                    <td>TX-{{entry.id}}</td>
                </tr>
                <tr>
                    <td scope="row">Reference Number</td>
                    <td style="font-weight: 500;">
                        {{entry.reference_no}}
                    </td>

                </tr>
                <tr>
                    <td scope="row">Refunds</td>
                    <td style="font-weight: 500;color: red">
                        Rs {{entry.debit}}
                    </td>

                </tr>

                <tr>
                    <td scope="row">Deposit</td>
                    <td style="font-weight: 500; color: green;">
                        Rs {{entry.credit}}
                    </td>

                </tr>

                <tr>
                    <td scope="row">Total Deposit</td>
                    <td style="font-weight: 500;">
                        Rs {{entry.balance}}
                    </td>
                </tr>
                <tr>
                    <td scope="row">Total Cost</td>
                    <td>
                        {% load mathfilters %}
                        {% load humanize %}

                        Rs {{entry.sale_value|intcomma}}
                </td>

                </tr>
                <tr>
                        <td scope="row">Pending Amount</td>
                        <td>
                            {% load mathfilters %}
                            {% load humanize %}
    
                            Rs {{entry.sale_value|sub:entry.balance|intcomma}}
                    </td>
    
                    
                <tr>
                    <td scope="row">Description</td>
                    <td>
                        {{entry.description}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td scope="row">Property ID</td>

                    <td>{{entry.property_ref.id}}</td>
                </tr>
                <tr>
                    <td scope="row">Property Serial Number</td>

                    <td>{{entry.property_ref.section_ref.section_prefix}}-{{entry.property_ref.serial_no}}</td>
                </tr>
                <tr>
                    <td scope="row">Status Code</td>

                    <td> {% if entry.property_ref.status_code == "V"  %}
                        <span class="badge  badge-pill badge-success">Vacant</span>
                        {% elif entry.property_ref.status_code == "H" %}
                        <span class="badge badge-pill badge-warning">Hold</span>
                        {% elif entry.property_ref.status_code == "B" %}
                        <span class="badge badge-pill badge-danger">Booked</span>
                        {% elif entry.property_ref.status_code == "A" %}
                        <span class="badge badge-pill badge-primary">Alloted</span>
                        {% else  %}
                        <span class="badge badge-pill badge-secondary">Registered</span>
                        {% endif %}</td>
                </tr>
                <tr>
                    <td scope="row">Project</td>

                    <td>{{entry.property_ref.section_ref.project_ref.name}}</td>
                </tr>

                <tr>




            </tbody>
        </table>




        <div class="d-flex justify-content-center">
            <div class="p-2">
                <a class="btn btn-primary text-white btn-lg" onclick="downloadPDF()"> Download</a>
            </div>
        </div>




        <script>
              $(document).ready(function () {
                $('.myTable').DataTable(
                    {
                        "order": [[0, "desc"]]
                    }
                );

            });
            function downloadPDF() {
                $("#myTable").tableHTMLExport({

                    // csv, txt, json, pdf
                    type: 'pdf',

                    // file name
                    filename: '{{entry.property_ref.section_ref.section_prefix}}-{{entry.property_ref.serial_no}}-{{entry.property_ref.section_ref.project_ref.name}}-payment-receipt-{{entry.date|date:"d-m-Y"}}.pdf'

                });
            }
        </script>







    </div>
    {% endblock %}


    {% load static %}