{% extends "base.html" %}
{% block title %}
Payout Payments
{% endblock title %}
<!-- heading  -->
{% block heading %}
Payout Payments for {{associate.name}}
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}

{% load static %}
<!-- Main Conent -->
{% block content %}
<style>
    .form {
        color: white;
        font-size: 12pt;
        font-weight: 500
    }
</style>
<div class="row">
    <div class="col-md-3"></div>
    
    <div class="col-md-6 col-12">
            <button class="btn-lg btn" id="toggle" onclick="advance()"  style="background-color: rgb(37,117,252,0.9);">Pay Advance</button>
            <script>
                var toggle=0;
            function advance() {
                if (toggle==0) {
                    document.getElementById('advance-card').style.display="block";
                    toggle=1;
                    document.getElementById('toggle').innerHTML="Cancel";     
                    //document.getElementById('toggle').style.background-color="#FFA500";     
                }
                else
                { toggle=0;
                    document.getElementById('advance-card').style.display="none";
                    document.getElementById('toggle').innerHTML="Pay to Associate";     
                       
                }
                
            }
            </script>
        <div  id="advance-card" class="card text-white" style="  
        display: none;                  
                        background-image: linear-gradient(to right, rgb(255,65,108,0.5) 0%, rgb(37,117,252) 100%);">
            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                                ">ADVANCE PAYOUTS </h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <form action="{% url 'owner:payout_advance' %}" method="post">
                            {% csrf_token %}
<!-- associate_ref',
                  'pay_method',
                  'reference_no',
                  'amount',
                  'description' -->
                            {% load crispy_forms_tags %}

                            {% load widget_tweaks %}
                          <div class="row">
                            <input type="hidden" name="associate_ref" id="id_associate_ref" value="{{associate.id}}">
                            
                            <!-- {% render_field form.associate_ref class="form-control" %}  -->
                            <div class="col-md-6 col-12">
                                    <span class="form">Pay Method </span>
                                    {% render_field form.pay_method class="form-control" %} 
                              </div>
                              <div class="col-md-6 col-12"> 
                                    <span class="form">Reference No </span>
                                    {% render_field form.reference_no class="form-control" %}
                              </div>
                          </div>
                            
                            
                            <span class="form">Amount </span>
                            {% render_field form.debit class="form-control" %} 
                            <span class="form">Description </span>
                            {% render_field form.description class="form-control" %}  
                            <button class="btn" style="background-color: white;color: black">Submit</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>







        <div class="col-md-3 "></div>
    </div>
</div>
{% load mathfilters %}
<h3>Associate Earnings</h3>
<table id="" class=" myTable flex-table table">
    <thead class="thead-dark">
        <tr>
            <th>ERNID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Tax Deductions</th>
            <th>Amount After Deductions</th>
            <th>Payout Rule</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% load humanize %}
        {% for entry in earnings_self %}
        <tr>
            <td>SERN{{entry.id}} </td>
            <td> <span style="display: none;">{{entry.createdAt|date:'Ymd'}}</span> {{entry.createdAt|date}}
                <script>
                    var parts = "{{entry.createdAt|date:'Y-m-d'}}".split('-');
                    // Please pay attention to the month (parts[1]); JavaScript counts months from 0:
                    // January - 0, February - 1, etc.
                    var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
                    var date = new Date();
                    setTimeout(function () { ready(); }, 500);
                    function ready() {
                        if (date > mydate) {
                            //document.getElementById('status').innerHTML = "Not Paid";
                            //document.getElementById('status').className = "text-danger";

                        }
                    }

                </script>
            </td>
            <td>{{entry.amount|intcomma}} </td>
            <td>5%</td>
            <td>{{entry.amount|mul:0.95|floatformat:2|intcomma}}  </td>
            <td>{{entry.payout_rule_value}}% </td>
            <td>
                {% if entry.status %}
                <span class="text-success" style="font-weight: 500; font-size: 12pt;">Paid</span>

                {% else %}
                <span class="text-warning" id="status" style="font-weight: 500; font-size: 12pt;">Pending</span>
                {% endif %}

            </td>
            <td>

                {% if entry.status == False %}
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal"
                    onclick="setEmiId('{{entry.id}}','self')">
                    Pay</button>
               <!--  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal2"
                    onclick="setAdjustID('{{entry.id}}','self')" style="background-color: #2979ff">Adjust</button> -->
                {% endif %}

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<br>
<h3>Associate Transactions</h3>
<table id="" class=" myTable flex-table table">
    <thead class="thead-dark">
        <tr>
            <th>TXID</th>
            <th>Date</th>
            <th>Method</th>
            <th>Reference No</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>

        {% for entry in transactions %}
        <tr>
            <td data-label="TXID">{{entry.id}}</td>
            <td data-label="Date">
                <span style="display: none">{{entry.date|date:'Ymd'}}</span>
                {{entry.date|date:'d-m-Y'}}</td>
           
            <td data-label="Method">
                {% if entry.pay_method == 'C' %}
                Cash
                {% elif entry.pay_method == 'Q' %}
                Cheque
                {% elif entry.pay_method == 'N' %}
                NEFT/Online TRansfer
                {% elif entry.pay_method == 'D' %}
                Demand Draft
                {% else %}
                Added to Balance
                {% endif %}
            </td>
            <td data-label="Reference NO">{{entry.reference_no}}</td>
            <td style="color: red;font-weight: 500;" data-label="Debit"> &#x20B9; {{entry.debit|intcomma}} </td>
            <td style="color: green ;font-weight: 500;" data-label="Credit"> &#x20B9; {{entry.credit|intcomma}} </td>
            <td style="color:black;font-weight: 500;" data-label="Balance"> &#x20B9; {{entry.balance|intcomma}} </td>
            <td data-label="Description">{{entry.description}}</td>
        </tr>
        {% endfor %}


    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('.myTable').DataTable(
            {
                
            }
        );
    });
    function setEmiId(id, type) {
        document.getElementById('emi_id').value = id
        document.getElementById('earning').value = type
    }
    function setAdjustID(id, type) {
        document.getElementById('emi_id2').value = id
        document.getElementById('earning2').value = type
    }
</script>

<h3>Associate Earnings on hold</h3>
<table id="" class=" myTable flex-table table">
    <thead class="thead-dark">
        <tr>
            <th>ERNID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Tax Deductions</th>
            <th>Amount After Deductions</th>
            <th>Payout Rule</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% load humanize %}
        {% for entry in earnings_self_hold %}
        <tr>
            <td>SERN{{entry.id}} </td>
            <td> <span style="display: none;">{{entry.createdAt|date:'Ymd'}}</span> {{entry.createdAt|date}}
                <script>
                    var parts = "{{entry.createdAt|date:'Y-m-d'}}".split('-');
                    // Please pay attention to the month (parts[1]); JavaScript counts months from 0:
                    // January - 0, February - 1, etc.
                    var mydate = new Date(parts[0], parts[1] - 1, parts[2]);
                    var date = new Date();
                    setTimeout(function () { ready(); }, 500);
                    function ready() {
                        if (date > mydate) {
                            //document.getElementById('status').innerHTML = "Not Paid";
                            //document.getElementById('status').className = "text-danger";

                        }
                    }

                </script>
            </td>
            <td>{{entry.amount|intcomma}} </td>
            <td>5%</td>
            <td>{{entry.amount|mul:0.95|floatformat:2|intcomma}}  </td>
            <td>{{entry.payout_rule_value}}% </td>
            <td>
                {% if entry.status %}
                <span class="text-success" style="font-weight: 500; font-size: 12pt;">Paid</span>

                {% else %}
                <span class="text-warning" id="status" style="font-weight: 500; font-size: 12pt;">Pending</span>
                {% endif %}

            </td>
            <td>

                {% if entry.status == False %}
                <a class="btn btn-sm btn-primary text-white" 
                href="{% url 'owner:release_earning' id=entry.id %}"
                   >
                    Release Earning</a>
               <!--  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#exampleModal2"
                    onclick="setAdjustID('{{entry.id}}','self')" style="background-color: #2979ff">Adjust</button> -->
                {% endif %}

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<br>

{% endblock %}
{% block modal %}
<!-- Modals Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payout Pay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="emi_id" name="id" value="">
                    <input type="hidden" name="page" value="pay">
                    <input type="hidden" name="earning" id="earning" value="">
                    <br>
                    <!-- <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Payment Mode:</span>
                    <select name="payment_mode" class="form-control">
                        <option value="C">Cash Payment</option>
                        <option value="Q">Cheque Payment</option>
                        <option value="N">Online Transfer</option>
                        <option value="D">Bank Draft</option>
                    </select> <br>
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Reference No:</span><br> -->
                    <!-- <input type="text" class="form-control" name="reference_no"><br> -->
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">
                    Are you sure ? 
                    <br>
                    </span><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="submit" class="btn btn-primary" style="background-color: #2979ff">
                    <i class="fas fa-bolt mr-1"></i>
                    YES</button>
            </div>

            </form>
        </div>

    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Adjust Earning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="emi_id2" name="id" value="">
                    <input type="hidden" name="page" value="adjust">
                    <input type="hidden" name="earning" id="earning2" value="">
                    <input type="hidden" name="payment_mode" value="N">
                    <input type="hidden" name="reference_no" value="Adjusted Amount">
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Reason for Amount
                        Adjustment</span><br>
                    <textarea class="form-control" name="description" id="" cols="30" rows="5"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" style="background-color: #2979ff">
                    <i class="fas fa-bolt mr-1"></i>
                    Save</button>
            </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}