{% extends "base.html" %}
{% block title %}
Payouts
{% endblock title %}
<!-- heading  -->
{% block heading %}
Payouts
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
{% load humanize %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-12">
        <div class="card text-white" style="
                    
                    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                            ">PROCESS PAYOUTS </h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <form action="" method="post">
                            {% csrf_token %}
                            <span style="color: lightgrey;
                                                font-size: 12pt;
                                                font-weight: 500;
                                        ">Enter Associate ID</span> <br>
                            <input type="text" name="id"> <br><br>
                            <button class="btn" style="background-color: white;color: black">Submit</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>
<h3>Associate Transactions</h3>
<table id="myTable" class="flex-table table">
    <thead class="thead-dark">
        <tr>
            <th>TXID</th>
            <th>Date</th>
            <th>Associate</th>
            <th>Method</th>
            <th>Reference No</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>

        {% for entry in transactions %}
        <tr>
            <td data-label="TXID">{{entry.id}}</td>
            <td data-label="Date">
                <span style="display: none">{{entry.date|date:'Ymd'}}</span>
                {{entry.date|date:'d-m-Y'}}</td>
            <td data-label="Property">
                {{entry.associate_ref.name}}
            </td>
            <td data-label="Method">
                {% if entry.pay_method == 'C' %}
                Cash
                {% elif entry.pay_method == 'Q' %}
                Cheque
                {% elif entry.pay_method == 'N' %}
                NEFT/Online TRansfer
                {% elif entry.pay_method == 'D' %}
                Demand Draft
                {% else %}
                Added to Balance
                {% endif %}
            </td>
            <td data-label="Reference NO">{{entry.reference_no}}</td>
            <td style="color: red;font-weight: 500;" data-label="Debit"> &#x20B9; {{entry.debit|intcomma}} </td>
            <td style="color: green ;font-weight: 500;" data-label="Credit"> &#x20B9; {{entry.credit|intcomma}} </td>
            <td style="color:black;font-weight: 500;" data-label="Balance"> &#x20B9; {{entry.balance|intcomma}} </td>
            <td data-label="Description">{{entry.description}}</td>
        </tr>
        {% endfor %}


    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable(
            {
                "order": [[0, "desc"]]
            }
        );
    });
</script>
{% endblock %}