{% extends "base.html" %}
{% block title %}
Redeem Rewards
{% endblock title %}
<!-- heading  -->
{% block heading %}
Redeem Rewards
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
{% load humanize %}
<script>
    var rules = [];
    var associate="";
    value = parseFloat('{{reward_passbook.sale_amount_balance__sum}}');
</script>
{% for entry in reward_rule %}
<script>
    rules.push(
        {
            id: parseInt('{{entry.id}}'),
            amount: parseFloat('{{entry.sale_amount}}') * 100000,
            reward: '{{entry.reward}}'

        }
    )
</script>
{% endfor %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-12">
        <div class="card text-white" style="                    
                    background-color: #111E6c">
            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                            ">REDEEM REWARDS </h5>
                <br>



                <div class="d-flex text-white justify-content-center">
                    <div class="p-2 text-center" style="color: white; font-size: 12pt;font-weight: 500;">

                        {% if user.user_type is not 7 %}
                        The Associate has won
                        {% else %}
                        Congratulations!! <br>
                            <img src="{% static 'images/reward.gif' %} " alt="rewards" style="height: 80px;">
                            <br>
                            <br>
                             
                        {% endif %}

                        <p id="reward" style="color: #0ff0fc; font-size: 20pt; font-weight: 500;"></p>
                        {% if user.user_type == 1 or user.user_type == 2  %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <br>
                            <input type="hidden" name="id" id="id">
                            <button class="btn" id="btn" style="background-color: white;color: black">Redeem</button>
                        </form>
                        {% endif %}


                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>
<H3>Redeemed Rewards</H3>
<table class="flex-table myTable table">
    <thead class="thead-dark">
        <tr>
            <th>RWID</th>
            <th>Date</th>
            <th>Associate</th>
            <th>Reward</th>
            <th>Status</th>

        </tr>
    </thead>

    <tbody>
        {% for entry in rewards %}
        <tr>
            <td data-label="RWID">{{entry.id}}</td>
            <td data-label="Date">{{entry.createdAt|date}}</td>
            <td data-label="Associate">
                {{entry.associate_ref.name}}
            </td>
            <td data-label="Reward">{{entry.reward_rule.reward}} </td>
            <td data-label="Status">
                {% if entry.status %}
                <span class="text-success" style="font-weight: 500; font-size: 12pt;">Redeemed</span>
                {% else %}
                <span class="text-warning" id="status" style="font-weight: 500; font-size: 12pt;">Pending</span>
                {% endif %} </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% if user.user_type == 1 and user.user_type == 2   %}
    

<H3>Associate Reward Passbook</H3>
<table class="flex-table table myTable">
    <thead class="thead-dark">
        <tr>
            <th>TXID</th>
            <th>Date</th>
            <th>Associate</th>
            <th>Sale Amount Balance</th>
            <th>Reward Value</th>
            <th>Debit Amount</th>
            <th>Credit Amount</th>
            <th>Reward Balance</th>
            <th>Description</th>
        </tr>
    </thead>



    <tbody>

        {% for entry in transactions %}
        <tr>
            <td data-label="TXID">{{entry.id}}</td>
            <td data-label="Date">{{entry.createdAt|date}}</td>
            <td data-label="Associate">
                {{entry.associate_ref.name}}
            </td>
            <td data-label="Sale Amount Balance">{{entry.sale_amount_balance}} </td>
            <td data-label="Reward Value">{{entry.reward_value}}% </td>
            <td data-label="Debit Amount" style="color: red">{{entry.debit_amount}}</td>
            <td data-label="Credit Amount" style="color: green">{{entry.credit_amount}}</td>
            <td data-label="Reward Balance">{{entry.reward_balance|intcomma}} </td>
            <td data-label="Description">{{entry.description}}</td>
        </tr>
        {% endfor %}


    </tbody>
</table>
{% endif %}
    

{% if user.user_type == 7 %}
    <script>
    associate="You won "
    </script>
{% endif %}
    
<script>
    $(document).ready(function () {
        $('.myTable').DataTable(
            {
                "order": [[0, "desc"]]
            }
        );
    });



    var c = "NO REWARD";
    var d = 0;
    rules.forEach(element => {
        if (element.amount < value) {
            c = associate+ element.reward;
            d = element.id;
        }
    });
    console.log(c);
    window.onload = reward();

    function reward() {
        console.log(d);
        document.getElementById('reward').innerHTML = c;
        document.getElementById('id').value = d;
        if (d < 1) {
            document.getElementById('btn').style.display = "none";
        }

    }


</script>

{% endblock %}
{% block modal %}
<!-- Modals Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deposit EMI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="emi_id" name="id" value=""><br>
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Payment Mode:</span>
                    <select name="payment_mode" class="form-control">
                        <option value="C">Cash Payment</option>
                        <option value="Q">Cheque Payment</option>
                        <option value="N">Online Transfer</option>
                        <option value="D">Bank Draft</option>
                    </select> <br>
                    <span class="text-dark" style="font-weight: 500; font-size: 12pt;">Reference No:</span><br>
                    <input type="text" class="form-control" name="reference_no"><br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" style="background-color: #2979ff">
                    <i class="fas fa-bolt mr-1"></i>
                    Save</button>
            </div>

            </form>
        </div>

    </div>
</div>
{% endblock %}