{% extends "base.html" %}
{% block title %}
REWARDS
{% endblock title %}
<!-- heading  -->
{% block heading %}
REWARDS
{% endblock %}


<!-- desktop menu -->
{% block desk-sidebar%}
{% include 'sidebar.html' %}
{% endblock %}
{% load static %}
<!-- Main Conent -->
{% block content %}
{% load humanize %}


    
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-12">
        <div class="card text-white" style="
                    
                    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);">

            <div class="card-body">
                <h5 class="card-title text-white" style="font-weight: 600;
                            ">REDEEM REWARDS </h5>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="p-2">
                        <form action="" method="post">
                            {% csrf_token %}
                            <span style="color: lightgrey;
                                                font-size: 12pt;
                                                font-weight: 500;
                                        ">Enter Associate ID</span> <br>
                            <input type="text" name="id"> <br><br>
                            <button class="btn" style="background-color: white;color: black">Submit</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>
<H3>Redeemed Rewards</H3>
<table class="flex-table myTable table">
    <thead class="thead-dark">
        <tr>
            <th>RWID</th>
            <th>Date</th>
            <th>Associate</th>
            <th>Reward</th>
            <th>Status</th>

        </tr>
    </thead>

    <tbody>
        {% for entry in rewards %}
        <tr>
            <td data-label="RWID">{{entry.id}}</td>
            <td data-label="Date">{{entry.createdAt|date}}</td>
            <td data-label="Associate">
                {{entry.associate_ref.name}}
            </td>
            <td data-label="Reward">{{entry.reward_rule.reward}} </td>
            <td data-label="Status">
                {% if entry.status %}
                <span class="text-success" style="font-weight: 500; font-size: 12pt;">Redeemed</span>
                {% else %}
                <span class="text-warning" id="status" style="font-weight: 500; font-size: 12pt;">Pending</span>
                {% endif %} </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
<script>
        $(document).ready(function () {
            $('.myTable').DataTable(
                {
                    "order": [[0, "desc"]]
                }
            );
        });
    
</script>
{% endblock %}